## what is a programming language

A **programming language** is simply a set of rules and words that people use to give instructions to a computer so it knows what to do.

Think of it like a language between **you and the computer**:

* You write instructions in that language.
* The computer reads them and carries out tasks (like calculations, showing text, storing data, or running apps).

ðŸ‘‰ Example: Just like English lets you talk to people, Python, Java, or C++ let you â€œtalkâ€ to computers.

Perfect ðŸ‘ Hereâ€™s a **properly structured, clean version** that combines both the **general classification (low-level vs high-level)** and the **programming paradigms (procedural, OOP, functional, etc.)** in one neat outline.

---

# ðŸ“˜ Types of Programming Languages

---

## ðŸ”¹ Main Categories by Level

1. **Low-Level Languages**

   * Very close to machine code (binary).
   * Harder for humans to understand but very fast for computers.
   * Example: **Machine Language, Assembly Language**

2. **High-Level Languages**

   * Easier for humans to read, write, and understand.
   * Must be translated into machine code using compilers/interpreters.
   * Example: **Python, Java, C++, JavaScript**

---

## ðŸ”¹ Main Programming Paradigms (Styles)

### 1. **Procedural Programming**

* **Idea**: Organize code into procedures (functions) that execute step by step.
* **Style**: Top-down, like writing a recipe.
* **Languages**: **C, Pascal, BASIC**
* **Example** (C):

  ```c
  int add(int a, int b) {
      return a + b;
  }
  int main() {
      int result = add(2, 3);
      printf("%d", result);
      return 0;
  }
  ```

---

### 2. **Object-Oriented Programming (OOP)**

* **Idea**: Think in terms of **objects** (entities with data + behavior).
* **Style**: Bundle data (attributes) and methods (actions) together. Supports reuse via inheritance and polymorphism.
* **Languages**: **Java, Python, C++, C#**
* **Example** (Python):

  ```python
  class Car:
      def __init__(self, brand):
          self.brand = brand
      def drive(self):
          print(self.brand, "is driving")

  mycar = Car("Toyota")
  mycar.drive()
  ```

---

### 3. **Functional Programming**

* **Idea**: Programs are built by composing **functions** (like in math).
* **Style**: Avoids changing state or data; focus on mapping, filtering, reducing.
* **Languages**: **Haskell, Lisp, Scala**, also supported in **Python, JavaScript**
* **Example** (Python):

  ```python
  numbers = [1, 2, 3, 4]
  squared = list(map(lambda x: x**2, numbers))
  print(squared)  # [1, 4, 9, 16]
  ```

---

### 4. **Scripting Programming**

* **Idea**: Lightweight coding, often for automation, system tasks, or web apps.
* **Style**: Write short scripts rather than large structured programs.
* **Languages**: **Python, JavaScript, PHP, Ruby, Bash**
* **Example** (Python):

  ```python
  import os
  for i, file in enumerate(os.listdir(".")):
      os.rename(file, f"file_{i}.txt")
  ```

---

### 5. **Logic Programming**

* **Idea**: State **facts** and **rules**, and the computer derives answers using logical reasoning.
* **Style**: You define "what is true", not "how to do it".
* **Languages**: **Prolog, Datalog**
* **Example** (Prolog):

  ```prolog
  parent(john, mary).
  parent(mary, susan).
  grandparent(X, Y) :- parent(X, Z), parent(Z, Y).
  ```

  Query â†’ `grandparent(john, susan).` â†’ True âœ…

---

### 6. **Markup / Query Languages** (Not traditional programming but often used)

* **Idea**: Used for structuring, presenting, or querying data.
* **Languages**: **HTML, SQL, XML**
* **Example** (SQL):

  ```sql
  SELECT name, age FROM students WHERE age > 18;
  ```

---

## ðŸ“Š Quick Comparison Table

| Type             | Key Idea                           | Example Languages            |
| ---------------- | ---------------------------------- | ---------------------------- |
| **Low-Level**    | Close to machine code              | Assembly, Machine Code       |
| **High-Level**   | Human-friendly                     | Python, Java, C++            |
| **Procedural**   | Step-by-step procedures            | C, Pascal, BASIC             |
| **OOP**          | Objects = data + behavior          | Java, C++, Python            |
| **Functional**   | Functions, immutability, math-like | Haskell, Lisp, Scala, Python |
| **Scripting**    | Quick automation, glue code        | Python, JS, Bash             |
| **Logic**        | Facts + rules â†’ reasoning          | Prolog, Datalog              |
| **Markup/Query** | Structure or query data            | HTML, SQL, XML               |

---

### # Python :
     => developed on 1989 and released 1991 the author name is guido von rossum
     => highlevel programming language(a programming language can do lot of work in few lines of code)
     => easy syntax language
     => dynamically typed programming launguage
     => interpretted programming language(line by line execution when the runtime)
     => platform independent
     => object oriented and functional programming language
     => open source & large community support it is having
     => embedded programming language()

### What Are Comments
    comments are lines of code that are ignored by the interpretter(python console)
    => explain code: by putting notes we make our code more readable
    => provide the information about the purpose of a function, class, or module
    => debug code: temproarily disable parts which causes the  isolate issues and resolve it

    => Single line comments-- using the # we create single line comment(your interpretter won't execute the code or the lines which comes after #)
    => Documentation String: """ """  used for longer explanations or documentation

In [1]:
# print -- used to display results on the output console mainly used for debugging

print("hello world")
print(4+6)

hello world
10

In [2]:
# print("hello world")

In [4]:
"print('hello world')"
print("4+7")

4+7

In [4]:
"""
print("hello world")
this is a 
multiline comment
also known as
documentation
"""

'\nprint("hello world")\nthis is a \nmultiline comment\nalso known as\ndocumentation\n'

In [6]:
import pandas as pd

print(pd.__doc__)

pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

# Variables 
    used to store values they act like a container or a pointer for storing or pointing the data which can be called and handled through out the program

In [7]:
# syntax -- variable(characters)  assignment operator (=) entity(int,bool, list,str ...)

a = 8  # = -- used to assign a value to the variable
a

8

# Rules to Define a Variable

1. a varible can start with lower or upper case or underscores
2. a variable should not start with an integer -- because integers are values
3. a variable should not contain any special chr -- because used as operators in python
4. Keywords(reserved words) should not be used as variable--(because keywords already have meant to do  some tasks we cannot override and assign a new value to them)
5. Variables are case sensitive
6. we should not give spaces inbetween a variable

In [8]:
apple = 90
apple

90

In [9]:
1apple = 45  # we cannot assign a value to a value

SyntaxError: invalid decimal literal (1268242232.py, line 1)

In [10]:
app2le = 90
app2le

90

In [10]:
8

8

In [11]:
#but a variable can contain a number
apple1 = 45
apple1

45

In [11]:
!apple = 9

'apple' is not recognized as an internal or external command,
operable program or batch file.

In [12]:
apple$ = 8

SyntaxError: invalid syntax (2789973044.py, line 1)

In [13]:
appl@le = 5

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3061897784.py, line 1)

In [14]:
and = 90

SyntaxError: invalid syntax (4067504639.py, line 1)

In [15]:
for = 70

SyntaxError: invalid syntax (852527186.py, line 1)

In [16]:
Orange = 67
orange

NameError: name 'orange' is not defined

In [17]:
Orange

67

In [19]:
apple juice = 90

SyntaxError: invalid syntax (1660757277.py, line 1)

In [20]:
# snake case
#apple juice = 70  # wrong syntax
apple_juice = 70
apple_juice

70

In [21]:
# Python 101

__cherry = 90  # intimating another python programmer to consider this var as private var
__cherry

90

In [22]:
APPLE = 90  # intimating another python programmer to consider this var as constant
APPLE

90

In [23]:
a = 90

a = 56
print(a)

56

# data types
    => Integer -- Integer, Binary, Octal, Hexa decimal
    => String -- "", '', """ """
    => Boolean -- True, False
    => Float -- a number with decimal
    => None -- to express null 
    => Complex -- a real along imaginary

In [31]:
#Integer family
# number -- base 10 (decimal)
a = 8
a

8

In [32]:
# to create binary version of a integer we use "0b" or "0B"
# base 2 -- binary
b = 0b101
b

5

In [33]:
#to create octal version of a integer we use "0o" or "0O"
# base 8 - octtal
c = 0o7012
c

3594

In [41]:
#to create hexa decimal version of a integer we use "0x" or "0X"
# base 16 - hexa decimal
d = 0x19aef
d

105199

## Strings and String Methods

In [35]:
# string -- anything we put under quotes is a string

str1 = "8"
str1

'8'

In [36]:
"hello world"

'hello world'

In [37]:
str2 = 'hello world'
str2

'hello world'

In [38]:
str1+str2

'8hello world'

In [39]:
8+"hello world"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
str3 = "hello mr. 'Robert' welcome"
print(str3)

hello mr. 'Robert' welcome

In [45]:
str4 = '''
this is a
 multi line string
 in python convention'''
print(str4)

this is a
 multi line string
 in python convention

In [47]:
a = """
    if we create 
    multiline string and if
    we assign it into
    a var we call it as 
    multi line string
    if we didn't assigned into var
    its known as documentation string
    """
print(a)

    if we create
    multiline string and if
    we assign it into
    a var we call it as
    multi line string
    if we didn't assigned into var
    its known as documentation string

In [49]:
# bringing multiple print statment result into same line

print("hello ", end="")
print("world")

hello world

In [50]:
print("good \n morning")

good
 morning

In [7]:
a = "PyThon"
print(a.upper())
print(a.lower())
print(a.title())
print(a.capitalize())
print(a.swapcase())

a = "    PyThon    "
print(a.strip())
print(a.lstrip())
print(a.rstrip())

a = "@PyThon!"
print(a.removeprefix("@"))
print(a.removesuffix("!"))
a = "xerox"
print(a.count("x"))

a = "hello world"
print(a.startswith("he"))
print(a.endswith("rld"))

a = "llms runs on RNN"
print(a.replace("RNN", "GPT"))
print(a.split())
print("...hello...".strip("."))   # 'hello'
print(a.rsplit())
a = """
hello world
python is a interpretted 
programming language
"""

print(a.splitlines())

a = "1.apple, 2.orange, 3.banana, 4.pineapple"
print(a.isalpha())  #only letters
print(a.isdigit())  #only digits
print(a.isalnum())  #only letters + digits
print(a.isspace())  #only spaces
a = "hello"
print(a.islower())
print(a.isupper())
print(a.istitle())

a = "hi"
print(a.center(7, "*"))
print(a.ljust(7, "*"))
print(a.rjust(7, "*"))
print(a.zfill(7)) #pad with zeros

a = "hello"
print(a.encode("utf-8"))
b'hello'.decode("utf-8")

a = "the rat and cat sat on the mat looking at the cap"
print(a.partition("t"))
print(a.rpartition("t"))

a = "hi\tthere"  ## 'hi  there'
print(a.expandtabs(4))


a = "hello world"
table = str.maketrans({"h":"H", "w":"W"})
print(a.translate(table))  # 'Hello World'

PYTHON
python
Python
Python
pYtHON
PyThon
PyThon
    PyThon
PyThon!
@PyThon
2
True
True
llms runs on GPT
['llms', 'runs', 'on', 'RNN']
['llms', 'runs', 'on', 'RNN']
['', 'hello world', 'python is a interpretted ', 'programming language']
False
False
False
False
True
False
False
***hi**
hi*****
*****hi
00000hi
b'hello'
('', 't', 'he rat and cat sat on the mat looking at the cap')
('the rat and cat sat on the mat looking at ', 't', 'he cap')
hi  there

In [2]:
b1 = True  # when we compare any value with True it will check if the value type is true or not
b1

True

In [22]:
b2 = False  #false values in python -- 0,None, False,'', "", """ """,{},[],(), set()
b2

False

In [51]:
f1 = 8.92345
f1

8.92345

In [24]:
round(f1,2)

8.92

In [26]:
f1 = 8.92945
f1

8.92945

In [27]:
round(f1,2)

8.93

In [53]:
0

0

In [54]:
None  # complete emptiness

In [56]:
c1 = 4 + 5j  # to create imag part we use "j"
c1.real

4.0

In [57]:
c1.imag

5.0

In [58]:
c1

(4+5j)

In [34]:
# type -- returns the type of object(any object)
type(4)

int

In [59]:
type(0b010)

int

In [36]:
type(0o3461)

int

In [37]:
type(0xaf92)

int

In [38]:
type("67")

str

In [39]:
type("python")

str

In [40]:
print(6+4)

10

In [41]:
"print(6+4)"

'print(6+4)'

In [42]:
type(True)

bool

In [43]:
type(False)

bool

In [44]:
type(8.92355)

float

In [45]:
type(None)

NoneType

In [46]:
type(9+9j)

complex

In [47]:
a = 89
type(a)

int

In [76]:
"""
# Type conversion -- Type casting -- converting one type object into another type
# actions or methods -- that changes the original var object or value we call that mutable method else 
# when we perform any method on a var that did not change the original var value or object we call them as immutable methods

"""
a = 9 # a integer will have all the other versions of datatype

bin(a)  #binary version nine it will return but it is a immutable

'0b1001'

In [77]:
a

9

In [78]:
oct(a)

'0o11'

In [79]:
hex(a)

'0x9'

In [80]:
str(a)

'9'

In [81]:
bool(a)

True

In [82]:
bool([])

False

In [83]:
bool(0)

False

In [84]:
float(a)

9.0

In [58]:
complex(a)

(9+0j)

In [85]:
b = 9.2345
int(b)

9

In [86]:
a = "python"
bin(a) #oct, hex, int, float, complex -- these keys only works on the numerical datas

TypeError: 'str' object cannot be interpreted as an integer

In [87]:
bool(a)

True

In [88]:
a = 9.45
bin(a) #oct, hex --- a integer mean values only supports

TypeError: 'float' object cannot be interpreted as an integer

In [63]:
complex(a)

(9.45+0j)

In [64]:
bool(a)

True

In [65]:
# True, 4+5j -- bin, oct, hex,int, str, bool, float, complex

In [89]:
a = "99"
int(a)

99

In [90]:
a = "hello"
int(a)

ValueError: invalid literal for int() with base 10: 'hello'

In [91]:
bin(a)

TypeError: 'str' object cannot be interpreted as an integer

# indexing slicing
    we can perform indexing(single data access based on the position) and slicing(start:stop) position based access on only sequences
    => indexing will work on the ordered sequences because unordered sequences does not have the position

    => Positive Indexing -- starts from "0" , start - end(left to right)
    => Negative Indexing -- starts from "-1" , end - start(right to left)

In [101]:
a = "HelloWorld"
a[7]  # pos base data access

'r'

In [102]:
a[1000]

IndexError: string index out of range

In [103]:
a[-5]

'W'

In [104]:
a[-1000]

IndexError: string index out of range

In [72]:
a = "Python"
a.index("h")   # always returns positive indexing

3

In [105]:
a = "HelloWorld"  # if there is duplicates . it will return first occurance pos
print(a.index("l"))
print("hello world")

2
hello world

In [ ]:
# seqobj.index("data") -- if the data exists it will return the pos of the data from the seq else it will raise error if the data not found

In [106]:
a = "HelloWorld"
a.index("z")
print("hello world")

ValueError: substring not found

In [107]:
print("hello world")  # interpretted programming language
a = "HelloWorld"
a.index("z")

hello world

ValueError: substring not found

In [76]:
a

'HelloWorld'

In [108]:
a = "HelloWorld"
print(a.find("W"))

print("hello world")

5
hello world

In [109]:
a = "HelloWorld"
print(a.find("z"))
print("hello world")

-1
hello world

In [110]:
a = "HelloWorld" # returns the last occurance of the elements position

a.rindex("l")

8

In [111]:
# more methods
a = "python"

dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [112]:
a = "hello"
a.capitalize()

'Hello'

In [113]:
a = "hello"
a.upper()

'HELLO'

In [114]:
a = 'HELLO'
a.lower()

'hello'

In [115]:
a = "     hello      "
a.strip()

'hello'

In [118]:
a = "met"
a = a.replace("e", "a")
a

'mat'

In [119]:
b = "cat and rat are fighting on the mat"
b = b.split()
b

['cat', 'and', 'rat', 'are', 'fighting', 'on', 'the', 'mat']

In [120]:
b = "cat, and rat, are fighting , on the mat"
b = b.split(",")
b

['cat', ' and rat', ' are fighting ', ' on the mat']

In [122]:
a = "HelloWorld"
# slicing is used to fetch the part of a sequence by giving the start: stop pos-1

a[1:3]

'el'

In [123]:
a = "HelloWorld"
a[-5:-1] # seqobj[start:stop]

'Worl'

In [92]:
a = "HelloWorld"
a[5:] #if we did not provide the ending it will till the end of the sequence

'World'

In [93]:
a = "HelloWorld"
a[:5] # if we did not give the start by default it will start from 0

'Hello'

In [2]:
a = "Hello World"  #0,1,2,3,4,5,6,7 -- 0,2,4,6 (these pos datas only it will return)
a[0:8:2]  #seq[start:stop:step]

'HloW'

In [96]:
a = "Hello World"
a[::2]

'HloWrd'

In [99]:
a = 8
b = 8
c = 8

In [101]:
print(a,b,c)
# if we define one data type value no matter how many times we create variable for same value it will point one address only
print(id(a))
print(id(b))
print(id(c))

8 8 8
140733146588168
140733146588168
140733146588168

In [102]:
# though string is a sequence but still its a data type


a = "Hello World" 
b = a[::] # selecting all the elements from the a

print(a)
print(b)
print(id(a))
print(id(b))

Hello World
Hello World
2350552063984
2350552063984

In [103]:
a = "Hello World"
a[::-1]  # returning the reversed(miror) vesrion of the sequence

'dlroW olleH'

In [104]:
a[::-2]

'drWolH'

# input
    will take the input from the user as string (or) it will receive the value by prompting at runtime

In [3]:
a = input("enter a value")
type(a)

enter a value 27

str

In [4]:
a+23

TypeError: can only concatenate str (not "int") to str

In [6]:
#using the type conversion
val1 = int(input("enter val 1"))
val2 = int(input("enter val 2"))
val1+val2

enter val 1 hello

ValueError: invalid literal for int() with base 10: 'hello'

In [109]:
val1 = int(input("enter val 1"))
val2 = int(input("enter val 2"))
val1+val2

enter val 1 hello

ValueError: invalid literal for int() with base 10: 'hello'

In [8]:
"print(4+2+8)"

'print(4+2+8)'

In [9]:
eval("print(4+2+8)")  # converts the string into an python expression

14

In [12]:
val1 = eval(input("enter val 1"))
val2 = eval(input("enter val 2"))
val1+val2

enter val 1 True
enter val 2 3

4

# string formatting
    while defining a string in some places at the moment the values if we don't know we can use some place holders at the run time we can receive some inputs from the user and replace the dummies with the user inputs

In [2]:
fruit_juice = input("enter the fruit juice you want ")
ice = eval(input("how many ice cubes you want"))
qty = eval(input("how much you want"))

print("the choosed juice is %s with number of ice cubes are %d qty is %f "%(fruit_juice,ice,qty)) # data type conscious

enter the fruit juice you want  apple
how many ice cubes you want "half liter"
how much you want "four"

TypeError: %d format: a real number is required, not str

In [15]:
fruit_juice = input("enter the fruit juice you want ")
ice = eval(input("how many ice cubes you want"))
qty = eval(input("how much you want"))

print("the choosed juice is %s with number of ice cubes are %d qty is %f "%(fruit_juice,ice,qty)) # data type conscious

enter the fruit juice you want  apple juice
how many ice cubes you want "four"
how much you want "half ltr"

TypeError: %d format: a real number is required, not str

In [3]:
fruit_juice = input("enter the fruit juice you want ")
ice = eval(input("how many ice cubes you want"))
qty = eval(input("how much you want"))

print("the choosed juice is {} with number of ice cubes are {} qty is {} ".format(fruit_juice,ice,qty))

enter the fruit juice you want  apple
how many ice cubes you want "four"
how much you want "half liter"

the choosed juice is apple with number of ice cubes are four qty is half liter

In [4]:
fruit_juice = input("enter the fruit juice you want ")
ice = eval(input("how many ice cubes you want"))
qty = eval(input("how much you want enter in ml"))

print(f"the choosed juice is {fruit_juice} with number of ice cubes are {ice*2} qty is {qty/1000} ")

enter the fruit juice you want  apple
how many ice cubes you want 45
how much you want enter in ml 450

the choosed juice is apple with number of ice cubes are 90 qty is 0.45

# Operators:
    => Arithmetic --7
    => Assignment-- 7 
    => comparison -- 6
    => logical -- 3
    => identical --2
    => membership --2
    => bitwise -- 6
        total around 7 families of operators and 33 operators

In [6]:
# arithmetic operators -- immutable operators-- a operator that does not change operand var origin value is called immutable operator
a = 5
b = 4
a+b

9

In [7]:
a

5

In [8]:
b

4

In [9]:
# arithmetic operators -- immutable operators-- a operator that does not change operand var origin value is called immutable operator
a = 5
b = 4
c = a+b
c

9

In [10]:
a = "hello"
b = "world"
a+b

'helloworld'

In [11]:
# if both of the values are "-" it will do add
a = -50
b = 40
a - b

-90

In [12]:
# subraction -- the left side value how much it variates from the secon value
a = 50
b = 40
a - b

10

In [13]:
40-50

-10

In [14]:
a = 5
b = 4
a * b

20

In [15]:
a = 42
b = 4
a / b

10.5

In [16]:
a = 110
b = 9
a%b

2

In [17]:
a = 3
a ** 2

9

In [18]:
a =6
b =4
a // b

1

In [19]:
a

6

In [20]:
b

4

In [21]:
# assignment operators -- mutable operators -- that modifies the operand's(variable) origin value
a = 4

a += 2  # a = a+2
a

6

In [22]:
a -= 3
a

3

In [23]:
a *= 4
a

12

In [24]:
a /= 2
a

6.0

In [25]:
a **= 2
a

36.0

In [26]:
a //= 5
a

7.0

In [27]:
a %= 4
a

3.0

In [31]:
# comparison operators  -- always returns boolean results -- immutable operators also known as relational operators

a = 4
b = 2

a > b

True

In [32]:
a < b

False

In [33]:
a >= b

True

In [34]:
a <= b

False

In [35]:
a == b # value wise if both values are equal we get True

False

In [36]:
a != b # value wise if both values are not equal we get True

True

In [37]:
a <> b

SyntaxError: invalid syntax (2307417907.py, line 1)

In [38]:
a

4

In [39]:
b

2

In [40]:
a = "hello"  # when you compare two seq it will compare first elements of the seq's
b = "world"
a > b

False

In [41]:
ord("h")  # ascii value of h

104

In [42]:
ord("w")

119

In [55]:
# logical operators -- every args we put on and gate is true it will retrun last true value - it won't boolean result

3 and "hello" and 4.5

4.5

In [56]:
3 and [] and True and None  # if any values are false it will return first false value

[]

In [57]:
# short circuiting -- based one args operator returns the result we call it as short cicuiting
0 and 4 and 89 and True

0

In [58]:
# or -  if every args we pass on "or" is false we get last false value
[] or "" or 0

0

In [59]:
[] or 3 or 0 or 99 # if any args true it will return first true value

3

In [60]:
4 or None or 0 or ""

4

In [61]:
not 3  # will return the opposite result of the given args boolean version

False

In [62]:
not ""

True

In [48]:
# to check the memory of an var(obj) we use id

a = 8
b = 8
print(id(a))
print(id(b))
print(a == b)
print(a is b)  # memory wise if they equal is op will return true

140732386829320
140732386829320
True
True

In [49]:
# identical operators, is, is not

a = [3, 4]  # list is mutable ds  
b = [3, 4]
  # only compares the value

"""
unlike the data types each data structures eventually will always have unique addres
even though if the contains same values also
"""
print(id(a))
print(id(b))
print(a == b)

2115678280768
2115669198912
True

In [50]:
a is b  # only compares the memory

False

In [7]:
a is not b

True

In [63]:
t1 = (5,3,9) # immutable
t2 = (5,3,9)

print(id(t1))
print(id(t2))
print(t1 is t2)
print(t1 == t2)

2115678241344
2115678279680
False
True

In [ ]:
# when we store a dtype in python it will store in only one memory no matter how many var name we give
# they point the same address but data structre even though if they have same value they will get stored in
# different addresses

In [64]:
# membership operators -- this can be only performeble on a seq
a = "Python"
"t" in a

True

In [65]:
"z" in a

False

In [66]:
"y" not in a

False

In [110]:
a = (6,2,1)
6 in a

True

In [68]:
# bitwise operators -- perform operations on bit level(binary version)

print(bin(5))  #00000101
print(bin(6))  #00000110

0b101
0b110

In [69]:
print(5 & 6)
"""
101 -- 5
110 -- 6
------
100
---
"""
print(int(0b100))

4
4

In [111]:
print(5 | 6)
"""
101 -- 5
110 -- 6
------
111
---
"""
print(int(0b111))

7
7

In [112]:
print(5 ^ 6)
"""
# if every value same. output will be false 
101 -- 5
110 -- 6
------
011
---
"""
print(int(0b11))

3
3

In [113]:
# bitwise not -- (-n-1)
~5

-6

In [114]:
~-5

4

In [115]:
# right shift -- removes last specified bits
print(9 >> 2)
"""
1001

10
"""
print(int(0b10))

2
2

In [116]:
# left shift -- add 0 bits in the end
print(4 << 2)
"""
100

10000
"""
print(int(0b10000))

16
16

# data structures -- 
    a data sturucture is a dynamic way to handle datas like create, update, delete, read  also manipulating the datas like sort, copy. used to store n number of elements in a variable 
    
    => List -- Mutable(Modifyable), Ordered(pos base ops),  allow duplicates, hetrogeneous)  -- []
    
    => Tuple-- IMMutable(cannot Modifyable), Ordered(pos base ops),  allow duplicates, hetrogeneous) -- ()
    
    => Dictionary-- Mutable(Modifyable), unOrdered(not supports pos base ops), not allow duplicates, hetrogeneous) --{k:v}
    
    => Set-- Mutable(Modifyable), unOrdered(not supports  pos base ops),  not allow duplicates, hetrogeneous) -- {}
    
    => Range-- IMMutable(Modifyable), Ordered(pos base ops),  not allow duplicates, homogeneous) --range()

In [123]:
#List -- Mutable(Modifyable), Ordered(pos base ops),  allow duplicates, hetrogeneous)

# to create a list we use []

l1 = [3, 2.3, True, "Hello", 3]
l1

[3, 2.3, True, 'Hello', 3]

In [124]:
l1[2]

True

In [125]:
l1[1: 3]

[2.3, True]

In [126]:
# pos based update
l1 = [5,2,9,12,89]
print(id(l1))
l1[2] = "hello"
print(id(l1))
l1

2115646668864
2115646668864

[5, 2, 'hello', 12, 89]

In [179]:
# adding data into a list
l1 = [4,2,9] #if a data structure allows to modify and if it never changes memory pos --mutable ds
l1.append(3)  # adding the data into the end of the list
l1

[4, 2, 9, 3]

In [180]:
l1 = [3,2,7,9,12]
l1.insert(3, "Python")  # insert will add the data in specified pos
l1

[3, 2, 7, 'Python', 9, 12]

In [3]:
l1 = [4,2,8]  # will modify original l1 list

print(l1)
l1 += [5,2]  # duplicates will be allowed
l1

[4, 2, 8]

[4, 2, 8, 5, 2]

In [181]:
l1 = [4,2]

l2 = [5,2]

l1.extend(l2) # extend, +=, are mutable methods and they allows duplicates
l1

[4, 2, 5, 2]

In [182]:
l1 = [4,2]

l2 = [5,2]
print(l1+l2)
print(l1)
print(l2)

[4, 2, 5, 2]
[4, 2]
[5, 2]

In [141]:
l1 = [4,2]

l2 = [5,2]
l3=l1+l2
print(l3)
print(l1)
print(l2)

[4, 2, 5, 2]
[4, 2]
[5, 2]

In [9]:
l1 = [4,2]

l2 = [5,2]

print(l1-l2)
print(l1*l2)
print(l1/l2)
print(l1**l2)
print(l1%l2)
print(l1//l2)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [183]:
#comparison operators

l1 = [4,2]

l2 = [5,2]

print(l1>l2)
print(l1<l2)
print(l1>=l2)
print(l1<=l2)
print(l1!=l2)
print(l1==l2)

False
True
False
True
True
False

In [184]:
#logical operators

l1 = [4,2]

l2 = [5,2]

print(l1 and l2)
print(l1 or l2)
print( not l2)

[5, 2]
[4, 2]
False

In [185]:
#identical operators

l1 = [4,2]

l2 = [5,2]

print(l1 is l2)
print(l1 is not l2)

False
True

In [144]:
#membership operators

l2 = [4,2]

print(4 in l2)
print(4 not in l2)

True
False

In [187]:
l1 = [4,1,7]
del l1  # removing the whole list

In [188]:
l1

NameError: name 'l1' is not defined

In [189]:
# deleting datas from a list

l1 = [3,"hi", 9.34,2,4]
del l1[2]  # will delete data but not return the deleted data
print(l1)

[3, 'hi', 2, 4]

In [190]:
l1 = [3,"hi", 9.34,2,4]
deleted_data = del l1[2]  # will delete data but not return the deleted data
print(l1)

SyntaxError: invalid syntax (3970796722.py, line 2)

In [192]:
l1 = [3,"hi", 9.34,2,4]
poped_data=l1.pop(2)  # will delete data but  return the deleted data
poped_data

9.34

In [194]:
print(l1)

[3, 'hi', 2, 4]

In [195]:
l1 = [3,"hi", 9.34,2, 4]
l1.pop() # will remove last pos data

4

In [196]:
l1

[3, 'hi', 9.34, 2]

In [213]:
l1 = [3,"hi", 9.34,2, 4, 3,4]

l1.remove(3)  # will remove data 3 first occurance
l1

['hi', 9.34, 2, 4, 3, 4]

In [214]:
l1 = [3,"hi", 9.34,2, 4, 3,4]
l1.clear()  # remove all the elements from a list and return an empty list
l1

[]

In [215]:
# ordering -- asc, desc

l1 = [4,12,7,8,3,5]
l1.sort()  # will do ascending order and modify original list mutable method
l1

[3, 4, 5, 7, 8, 12]

In [200]:
l1 = [4,12,7,8,3,5]
l2 = sorted(l1)  # will do ascending order and will not modify original list
print(l1)
print(l2)

[4, 12, 7, 8, 3, 5]
[3, 4, 5, 7, 8, 12]

In [217]:
l1 = [4,12,7,8,3,5]
l1.sort(reverse = True)  # will do descending order and modify original list
l1

[12, 8, 7, 5, 4, 3]

In [218]:
l1 = [4,12,7,8,3,5]
l2 = sorted(l1, reverse = True)  # will do descending order and will not modify original list
print(l1)
print(l2)

[4, 12, 7, 8, 3, 5]
[12, 8, 7, 5, 4, 3]

In [219]:
l1 = ["lemon", "cherry", "mango", "apple"]
l1.sort()
l1

['apple', 'cherry', 'lemon', 'mango']

In [220]:
l1 = ["lemon", "cherry", "mango", "apple"]
l1.sort(reverse = True)
l1

['mango', 'lemon', 'cherry', 'apple']

In [221]:
# merging all the strings from a list
l1 = ["lemon", "cherry", "mango", "apple"]
" ".join(l1)

'lemon cherry mango apple'

In [222]:
l1 = [4, 12, 7, 8, 3, 5]
"".join(l1)

TypeError: sequence item 0: expected str instance, int found

In [269]:
l1 = [4, 12, 7, 8, 3, 5]
print(l1[::-1])  # immutable
l1

[5, 3, 8, 7, 12, 4]

[4, 12, 7, 8, 3, 5]

In [270]:
l1 = [4, 12, 7, 8, 3, 5]
l1.reverse() # mutable
l1

[5, 3, 8, 7, 12, 4]

In [271]:
l1 = [4, 12, 7, 8, 3, 5]
l2 = list(reversed(l1))  # to convert any other seq into list we can use "list()"
print(l1)
print(l2)

[4, 12, 7, 8, 3, 5]
[5, 3, 8, 7, 12, 4]

In [225]:
l1 = [3,4,5]
l1 * 2 # repetition operator

[3, 4, 5, 3, 4, 5]

In [211]:
# +,*, comparison, identical, membership, logical -- supports with list

In [226]:
# type conversion -- to convert any other data structure to list "list()"
str1 = "hello world"
list(str1)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [227]:
str1 = "hello world"
print([str1])

['hello world']

In [228]:
# list of variables = list of values -- unpacking

[apple, orange, cherry, kiwi] = [45,67,28,12]


print(apple)
print(kiwi)
print(orange)
print(cherry)

45
12
67
28

In [272]:
[apple, orange, cherry, kiwi] = [45,67,28]  #more var less value won't work

ValueError: not enough values to unpack (expected 4, got 3)

In [273]:
[apple, orange, cherry, kiwi] = [45,67,28,12,67,12]

ValueError: too many values to unpack (expected 4)

In [231]:
[apple, orange, *cherry, kiwi] = [45,67,28,12,67,90] # remaining value we store in the cherry using "*"
print(apple)
print(orange)
print(cherry)
print(kiwi)

45
67
[28, 12, 67]
90

In [232]:
[*apple, orange, cherry, kiwi] = [45,67,28,12,67,12] # remaining value we store in the cherry using "*"
print(apple)
print(orange)
print(cherry)
print(kiwi)

[45, 67, 28]
12
67
12

In [233]:
print(cherry)

67

In [274]:
[apple, orange, cherry, kiwi] = [45,67.335,False,"Python"]
print(apple)
print(orange)
print(cherry)
print(kiwi)

45
67.335
False
Python

In [235]:
# copying and renaming

#renaming
l1 = [45,12,90,34]
l2 = l1 # just giving another name for l1 list not creating a duplicate
print(id(l1))
print(id(l2))
l2.pop()
print(l1)
print(l2)

2115680628672
2115680628672
[45, 12, 90]
[45, 12, 90]

In [275]:
l1 = [45,12,90,34]
l2 = l1.copy() # just  creating a duplicate
print(id(l1))
print(id(l2))
l2.pop()
print(l1)
print(l2)

2115680375232
2115680374528
[45, 12, 90, 34]
[45, 12, 90]

In [276]:
#common methods among all the data structures
l1 = [45,12,90,34,12]
#immutable methods
print(min(l1)) # keep your ds as homogeneous to get proper result
print(max(l1)) # keep your ds as homogeneous to get proper result
print(len(l1))
print(sum(l1)) # keep your ds as homogeneous to get proper result

12
90
5
193

In [277]:
l2 = ["apple", "orange", "lemon"]
sum(l2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [240]:
l1 = [4,2,9.4, True, "hello"]
min(l1)

TypeError: '<' not supported between instances of 'str' and 'bool'

In [279]:
l1 = [1,2,3,1,2,3,4,5,6,3,2]
print(type(l1))
l1.count(2)

<class 'list'>

3

In [ ]:
# tuple -- immutable, ordered, hetrogeneous, duplicated -- they are faster then list

In [ ]:
#mutable -- append, insert, extend, +=,del [], del , pop(pos), pop(),clear(), remove,.sort(),.reverse()
#immutable -- indexing, slicing, min, max, len, sum, .count, +, *,logical,member,identic, compar, .copy

# mutable datastructure --
    when we perform any method or actions on a data structure if it does not changes its memory address we call it as mutable datastructure

# immutable datastructure --
    when we perform any method or actions on a data structure if it does  changes its memory address we call it as immutable datastructure

In [242]:
# assignment 
# tuple -- immutable, ordered, hetrogeneous, duplicates allowed, we can create tuple using ()
t1 = 23,45,89
print(type(t1))

t1

<class 'tuple'>

(23, 45, 89)

In [243]:
t2 = (45)
print(type(t2))
t2

<class 'int'>

45

In [244]:
t2 = (45, ) # to create tuple with one value
print(type(t2))

<class 'tuple'>

In [19]:
t1 = (4,2,7,8,4,5,2) # immutable
t1.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
t1 = (4,2,7,8,4,5,2)  # allows duplicates
print(max(t1))
t1

8

(4, 2, 7, 8, 4, 5, 2)

In [280]:
# ordered datastructure
t1 = (4,2,7,8)
t1[2]

7

In [281]:
t1 = (4,2.3,"hello",False)  # hetrogeneous datastructure
t1

(4, 2.3, 'hello', False)

In [282]:
l1 = list(t1)
l1

[4, 2.3, 'hello', False]

In [283]:
tuple(l1)

(4, 2.3, 'hello', False)

In [284]:
# explore this operations on tuple

#mutable -- append, insert, extend, +=,del [], del , pop(pos), pop(),clear(), remove,.sort(),.reverse()
#immutable -- indexing, slicing, min, max, len, sum, .count, +, *,logical,member,identic, compar, .copy

# Dictionary
    -- mutable, unordered,no duplicates(keys) , hetrogeneous
    a mapping data structure key:value
    to create a dictionary we use {}

    all the dictionary conditions works on keys itself

In [292]:
d1 = {"jack fruit":4, "kiwi":23, "banana":12, "apple": 56, "kiwi": 90}
d1

{'jack fruit': 4, 'kiwi': 90, 'banana': 12, 'apple': 56}

In [293]:
d1 = {"apple":False, 4:"python", (3,4):[1,2,4]} # we cannot use list as key( a mutable datasturucture cannot be a key)
d1

{'apple': False, 4: 'python', (3, 4): [1, 2, 4]}

In [294]:
d2 = {2:6, {6,2}:1}

TypeError: unhashable type: 'set'

In [295]:
d1 = {"apple":False, 4:"python", (3,4):[1,2,4]}
d1[2] # unordered ds dictionary will not have position(indexing)

KeyError: 2

In [296]:
d1[4] # accessing the data based on keys with in ["key"]

'python'

In [297]:
d1["apple"]

False

In [298]:
d1 = {"a":2, "b":3}
d1.append(3) # try check insert, extend, +,.sort, .reverse, indexing, slicing will not support
"""
dictionary does not have pos, dictionary will not allow duplicate -- append needs pos as well as append will allow the duplicates
"""

AttributeError: 'dict' object has no attribute 'append'

In [299]:
# proof that dictionary will not allow duplicates keys and it is mutable

d1 = {"apple":34, "oragne":12, "kiwi":90, "apple":111 }
d1

{'apple': 111, 'oragne': 12, 'kiwi': 90}

In [300]:
# to add or update a data into a dictionary
d1["lemon"] = 55
d1

{'apple': 111, 'oragne': 12, 'kiwi': 90, 'lemon': 55}

In [301]:
# proof that dict won't allow the duplicates and update

d1 = {"apple":34, "oragne":12, "kiwi":90 }
print(d1)
d1["apple"] = 68
d1

{'apple': 34, 'oragne': 12, 'kiwi': 90}

{'apple': 68, 'oragne': 12, 'kiwi': 90}

In [302]:
# +, extend() -- these methods allow the duplicate so that they cannot performed on a dictionary
d1 = {"apple":34, "oragne":12, "kiwi":90 }
d2 = {"banana":19, "cherry":15, "apple":54}
d1.update(d2) # will remove the duplicates and merge the unique values in d1
d1

{'apple': 54, 'oragne': 12, 'kiwi': 90, 'banana': 19, 'cherry': 15}

In [305]:
# when we use pop() on a dictionary we should pass the key to deleted the item from dictionary
d1 = {"apple":34, "oragne":12, "kiwi":90 }
d1.pop()

TypeError: pop expected at least 1 argument, got 0

In [306]:
d1.pop("kiwi")  # will remove the data and return

90

In [307]:
d1

{'apple': 34, 'oragne': 12}

In [308]:
# to delete the last item from a dictionary use "popitem()"
d1 = {"apple":34, "oragne":12, "kiwi":90 }
d1.popitem()

('kiwi', 90)

In [309]:
d1

{'apple': 34, 'oragne': 12}

In [311]:
d1 = {"apple":34, "oragne":12, "kiwi":90 }
del d1["kiwi"]  # deleting the entire dictionary

In [312]:
d1

{'apple': 34, 'oragne': 12}

In [313]:
del d1

In [314]:
d1

NameError: name 'd1' is not defined

In [315]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.remove("apple")

AttributeError: 'dict' object has no attribute 'remove'

In [316]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.clear()  # remove all the datas from the dictionary and returns the empty dictionary

In [317]:
d1

{}

In [318]:
# retriving the datas from a dictionary

d1 = {"apple":34, "orange":12, "kiwi":90 }
d1["orange"]

12

In [319]:
d1["banana"]  # if we call the key which is not there in the dictionary [] -- will raise keyerror
print("after trying to retrive a data from dictionary")

KeyError: 'banana'

In [320]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.get("orange")

12

In [321]:
d1.get("banana")  # if the data dosen't exist .get() it will return None
print("after trying to retrive a data from dictionary")

after trying to retrive a data from dictionary

In [322]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.get("banana", "not found")  # giving the default value if the key what we are seeking is not exist it will default value

'not found'

In [323]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.get("apple", "not found")

34

In [324]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d1.keys()

dict_keys(['apple', 'orange', 'kiwi'])

In [61]:
d1.values()

dict_values([34, 12, 90])

In [325]:
d1.items()

dict_items([('apple', 34), ('orange', 12), ('kiwi', 90)])

In [63]:

l1 = [34,12,"hello", True]
dict(l1)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [64]:
# type conversion

d1 = {"apple":34, "orange":12, "kiwi":90 }
list(d1)

['apple', 'orange', 'kiwi']

In [326]:
tuple(d1)

('apple', 'orange', 'kiwi')

In [327]:
l1 = [34,12,"hello", True]
d2 = dict.fromkeys(l1, 66) # take keys from the l1 list
d2

{34: 66, 12: 66, 'hello': 66, True: 66}

In [330]:
# if the datastructure which we try to convert as a dictionary what if that is having a duplicate value
l2 = ("apple", "orange", "lemon", "apple")
d3 = dict.fromkeys(l2, "juice")
d3

{'apple': 'juice', 'orange': 'juice', 'lemon': 'juice'}

In [331]:
d1 = {"apple":34, "orange":12, "kiwi":90 }
d2 = {"banana":44, "lemon":32, "mango":9 }
d3 = {"mosabi":34, "grapes":12, "jackfruit":5 }

d1.setdefault("lemon",450)  # it will check the dictionary a specific key(in this case lemon) is exists or not if it is not it will
                            #add that key with value if the exists it will not change anything
d2.setdefault("lemon",450)
d3.setdefault("lemon",450)
print(d1)
print(d2)
print(d3)

{'apple': 34, 'orange': 12, 'kiwi': 90, 'lemon': 450}
{'banana': 44, 'lemon': 32, 'mango': 9}
{'mosabi': 34, 'grapes': 12, 'jackfruit': 5, 'lemon': 450}

In [332]:
d3 = {"mosabi":34, "grapes":1200, "jackfruit":500 } # m>g>j -- when we perform max on a dictionary that dictionary should have all the
                                                    # values as homogeneous then which key is bigger it will return that key
max(d3)

'mosabi'

In [333]:
min(d3)

'grapes'

In [334]:
len(d3)

3

In [335]:
d3 = {"mosabi":34, "grapes":1200, "jackfruit":500 }
sum(d3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [336]:
l2 = ["apple", "orange", "lemon", "apple"]
sum(l2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [337]:
d3 = {3:"mosambi",50:"grapes", 4:"jackfruit"}

In [338]:
d3

{3: 'mosambi', 50: 'grapes', 4: 'jackfruit'}

In [339]:
sum(d3)

57

In [380]:
# SET -- mutable, unordered, no duplicates, hetrogeneous-- to create a set we use {}
s1 = {3, 4.5, False, "Helloworld",3}
s1

{3, 4.5, False, 'Helloworld'}

In [341]:
s1[2]

TypeError: 'set' object is not subscriptable

In [381]:
# adding the data in a set
s1 = {3, 4.5, False, "Helloworld",3}
s1.add(34) # .add() key will add the data into an random position of the set
s1

{3, 34, 4.5, False, 'Helloworld'}

In [383]:
#update 
s1 = {1,2,3,4}
s2 = {4,5,6}
s1.update(s2)  #mutable
s1

{1, 2, 3, 4, 5, 6}

In [384]:
# deleting
s1 = {3,7,11,2,3,4}
s1.pop()  # it will remove the random element in the set s1

2

In [385]:
del s1  # delete the entire set

In [386]:
s1

NameError: name 's1' is not defined

In [347]:
s1 = {3,7,11,2,3,4}
del s1[2]

TypeError: 'set' object doesn't support item deletion

In [387]:
s1 = {3,7,11,2,3,4, True, "hello", 1}
s1.remove(11)
s1

{2, 3, 4, 7, True, 'hello'}

In [388]:
s1 = {3,7,11,2,3,4}
s1.remove(99)  #if the data dosen't exist it will raise key error
s1

KeyError: 99

In [389]:
s1 = {3,7,11,2,3,4}
s1.discard(11)  #if the data dosen't exist it will raise key error
s1

{2, 3, 4, 7}

In [390]:
s1 = {3,7,11,2,3,4}
s1.discard(99)  #if the data dosen't exist it will raise key error
s1

{2, 3, 4, 7, 11}

In [391]:
s1 = {3,7,11,2,3,4}
s1.clear()
s1

set()

In [392]:
# unique operations on the set
s1 = {1,3,7,9,4}
s2 = {2,4,6,8,9}

s1.union(s2) # will return all the unique elements from the both sets duplicates ignored immutable

{1, 2, 3, 4, 6, 7, 8, 9}

In [393]:
s1

{1, 3, 4, 7, 9}

In [394]:
s2

{2, 4, 6, 8, 9}

In [1]:
s1 = {1,3,7,9,4}
s2 = {2,4,6,8,9}

s1.intersection(s2)  # the common elements from the both sets

{4, 9}

In [3]:
s1.difference(s2)  # uncommon elements from s1 while comparing with s2

{1, 3, 7}

In [4]:
s1.symmetric_difference(s2)  # uncommon elements from the both sets

{1, 2, 3, 6, 7, 8}

In [5]:
s1 = {1,2,3}
s2 = {1,2}
s1.issuperset(s2)

True

In [6]:
s2.issubset(s1)

True

In [7]:
s1 = {1,2,3}
s2 = {4,5}
s1.isdisjoint(s2)  # if two sets have no elements in common it will return true

True

In [8]:
s1 = {1, 2, 3, 6, 7, 8}  # to convert a set into immutable use frozenset
s2 = frozenset(s1)

In [9]:
s2.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

In [10]:
# type conversion for set
# when you try to convert a list into a set it will remove the duplicates of the list and then it will convert that as as set

l1 = [6,2,3,4,5,2,3,3,4,5,6,7,8,4,3,4,5,4,6,2,1,2,4,6]
s1 = set(l1)
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
l1 = ["apple", "banana", "orange","apple", "banana", "orange", "apple", "banana", "kiwi", "cherry"]
set(l1)

{'apple', 'banana', 'cherry', 'kiwi', 'orange'}

In [13]:
# when you need to preserve the order also want to remove the duplicates
l1 = ["apple", "banana", "orange","apple", "banana", "orange", "apple", "banana", "kiwi", "cherry"]
#convert it into dictionary
d1 = dict.fromkeys(l1)
l2 = list(d1)
l2

['apple', 'banana', 'orange', 'kiwi', 'cherry']

In [67]:
# Range -- immutable, Homogeneous(integers), ordered,no duplicates
# range will not directly will give the elements to visualize the elements we should use other data structures
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
# Range -- immutable, Homogeneous(integers), ordered,no duplicates
range(0,10)

range(0, 10)

In [69]:
list(range(10))  # if we pass only one element range will take that as a stop-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
tuple(range(10,20))  # if we pass two element range will take that as a start:stop-1

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [71]:
set(range(10,30,3))  # if we pass 3 element range will take that as a start:stop-1:step

{10, 13, 16, 19, 22, 25, 28}

In [72]:
# min,max,len,.count, sum, indexing, slicing
r1 = range(3,30,4)
r1.start

3

In [73]:
r1.stop

30

In [74]:
r1.step

4

In [75]:
list(r1)

[3, 7, 11, 15, 19, 23, 27]

In [76]:
list(range(-10))

[]

In [26]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [77]:
# if we define two variable with same name in a single variable the old var will replaced by new one
a = 5
a = 222
print(a)

222

In [80]:
a = 5

if False:
    a= 666
    print(a)

print(a)

5

In [81]:
a = 5

if True:
    # if will override the var value
    a= 666
    print(a)

print(a)

666
666

In [84]:
#LEGB -- local, enclose, global, builtin

v = 34 # global

def fun1():
    #v = 56  #enclose

    def fun2():
        #v=99 #local
        print(v)

    return fun2

obj = fun1()
obj()

34

# conditional statements
     based on the conditions we decide change the flow of the programs

     Namespaces -- used to monitor the unique var names . different different namespaces will allow you to define same var names.
     each namespaces has its own attributes. LEGB --(local,enclose, global, built in), when we try to call a variable first interpretter will look into local namespace, then enclosed namespace, global namespace, builtin

In [85]:
# condtional statments -- if, else, elif

print("global namespace flow")

a=5
if a>1: # this if block of code only will execute when the given condition is true

    """
    to creata a namespace(block of code) we follow 4 spaces indentation
    """
    print("if namespace(a different namespace)")
    


print("main flow")

global namespace flow
if namespace(a different namespace)
main flow

In [86]:
print("global namespace")


a=5
if a>10: # this if block of code only will execute when the given condition is true
    print("if namespace(a different namespace)")
    print("if flow(block)")


print("main flow")

global namespace
main flow

In [87]:
# else -- when the condition fails else block will execute

print("global namespace")


a=5
if a>10: # this if block of code only will execute when the given condition is true
    
    print("if namespace(a different namespace)")
    print("if flow(block)")

else:
    
    print("else flow")


print("main flow")

global namespace
else flow
main flow

In [88]:
if 5:
    print("if  block executes")

if  block executes

In [89]:
a = 8
b = 5
c = 2

if a>b and b>c and a>c:
    print("condition is true")

condition is true

In [90]:
# example identical operators

if bool(5) is True:
    print("5 is a  boolean True value")

5 is a  boolean True value

In [91]:
a = "hello"
if "h" in a:
    print("a is there in seq")

a is there in seq

In [1]:
food = ["pizza", "french fries", "sandwhich", "burger"]
print("food's are available", food)
user_input = input("please enter the food from the above")

if user_input == food[0]:
    print("how much size of the pizza you want order")
    
elif user_input == food[1]:
    print("how much qty of the french fries you want order")
    
elif user_input == food[2]:
    print("how many of the sandwhich you want order")
    
elif user_input == food[3]:
    print("how many of the burger you want order")
    
else:
    print("this food is out of stock")

food's are available ['pizza', 'french fries', 'sandwhich', 'burger']

please enter the food from the above burger

how many of the burger you want order

In [2]:
a = 8  # when we use multiple conditions(elif) when the first condition matches there itself it will stop

if a>10:
    print("bigger")
elif a>2:
    print("bigger then 2")
elif a>3:
    print("bigger then 3")

bigger then 2

In [45]:

a = 57

if type(a) == int:
    print("first condition satisfied")
    if a>20:
        print("second condition proved")

first condition satisfied
second condition proved

In [46]:
citizenship = input("are you indian")

if citizenship == "indian":
    age = int(input("enter age"))
    if age >= 18:
        print("you are eligible to vote")

are you indian jlkdf

In [5]:
"""
a condition with in other another condition is nested if 
"""


food = ["pizza", "french fries", "sandwhich", "burger"]
print("food's are available", food)
user_input = input("please enter the food from the above")

if user_input == food[0]:
    print("how much size of the pizza you want order")
    print("available sizes 10, 21, 28")
    size = int(input("enter the size "))
    if size in [10,21,28]:
        print(f"the size you have choosen is {size} bigger")
    else:
        print("this size of pizza not available")
elif user_input == food[1]:
    print("how much qty of the french fries you want order")
    print("available for 100, 200, 300")
    size = int(input("enter the count "))
    if size in [100,200,300]:
        print(f"the count you have choosen is {size}")
    else:
        print("this size of french fries not available")
    
elif user_input == food[2]:
    print("how many of the sandwhich you want order")
    print("available for 1, 2, 3")
    size = int(input("enter the count "))
    if size in [1,2,3]:
        print(f"the count you have choosen is {size}")
    else:
        print("this count of sandwhich not available")
    
elif user_input == food[3]:
    print("how many of the burger you want order")
    print("available for 1, 2, 3")
    size = int(input("enter the count "))
    if size in [1,2,3]:
        print(f"the count you have choosen is {size}")
    else:
        print("this count of burger not available")    
    
else:
    print("this food is out of stock")

food's are available ['pizza', 'french fries', 'sandwhich', 'burger']

please enter the food from the above pizza

how much size of the pizza you want order
available sizes 10, 21, 28

enter the size  10

the size you have choosen is 10 bigger

In [47]:
# short hand if 
if 4>2: print("condition is true")

condition is true

In [10]:
a = 8
b = 5
c = 2
if a>b or b>a or a>c: print("condition True"), print("logical or implemented")

condition True
logical or implemented

In [49]:
# ternery operators -- operators usually will be located in betwee two operands here also we put if else in between two operands i.e we call it ternery operators

a = 5
b = 3
c = 2

a if a else b

3

In [14]:
a = 5
b = 3
c = 2

a if a>c else b

5

In [50]:

#nested ternery operators

a = 5
b = 1
c = 2
print("a is smaller") if a<b else print("b is smaller") if b<c else print("c is smaller")

b is smaller

In [51]:
# assert is an condition checker unlike if. assert will raise an exception if the condition is wrong
a = 4
assert a*a == 16,  AssertionError("value is wrong")
print("condition validated")

condition validated

In [52]:
a = 4
assert a*a == 18,  "oops is wrong"
print("condition validated")

AssertionError: oops is wrong

In [53]:
a = 3
assert a*a == 16,  AssertionError("value is wrong")
print("condition validated")

AssertionError: value is wrong

In [18]:
a = 3
assert a*a == 16, "value is wrong"
print("condition validated")

AssertionError: value is wrong

In [ ]:
def error_status(n):
    match n:
        case 200:
            print("request ok")
        case 400:
            print("bad request")
        case 500:
            print("internal server error")

error_status(500)

In [54]:
# without function
n = 400
match n:
    case 200:
        print("request ok")
    case 400:
        print("bad request")
    case 500:
        print("internal server error")

bad request

In [21]:
# without function
n = 600
match n:
    case 200:
        print("request ok")
    case 400:
        print("bad request")
    case 500:
        print("internal server error")
    case default:
        print("no data")

no data

In [55]:
# without function

"""
match case always compares the values
"""
n = 500
match n>300:
    
    case 200:
        print("request ok")
    case 400:
        print("bad request")
    case 500:
        print("internal server error")
    case True:
        print("condition matches")
        print(n+10)
    case False:
        print("condition not matching")
    case default:
        print("no data")
# else:
#     print("not founded data")

condition matches
510

In [56]:
# dynamically assign a valid data to a variable

d_name = None
o_name = "user"
name = d_name or o_name
name

'user'

In [15]:
def case_1():
    return "Case 1 executed"

def case_2():
    return "Case 2 executed"

def default_case():
    return "Default case executed"


switch = {
    1: case_1,
    2: case_2,
}
result = switch.get(1, default_case)()
print(result)  # Output: Case 1 executed

Case 1 executed

# conditional loop(while) -- as long as the condition is true the while loop will run

In [77]:
n = 0

while n<15:  # if the condition is always true the while will becomen a infinite loop
    print(n)
    n +=1  # by doing the incrementation we make the condition fail at some pos
else:
    print("end of the while loop")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
end of the while loop

In [78]:
i = 0
while i<15:
    print(i)
    if i == 8:
        break   # when the break executes it will stop the loop
    i +=1
else:
    print("end of the loop")

0
1
2
3
4
5
6
7
8

In [79]:
i = 0
while i<15:
  
    i +=1
    if i%2 != 0:
        continue   # when the continue executes it will skip the following lines 
        #push the current loop into the next loop without executeing following lines of code
    print(i)
    print(i, "is a even number")
  
else:
    print("end of the loop")

2
2 is a even number
4
4 is a even number
6
6 is a even number
8
8 is a even number
10
10 is a even number
12
12 is a even number
14
14 is a even number
end of the loop

In [60]:
x = 5
y = 3

while x>3 and y>1:  # multiple condition with while loop
    print(f"{x} and {y} are positive values")
    y -=1

5 and 3 are positive values
5 and 2 are positive values

In [80]:
two_dim = [
    [1,3,5],
    [2,4,6],
    [8,10,12]
]


i = 0
while i<len(two_dim):
    row = two_dim[i]
    print(row)
    
    i +=1
    print("_________________")

[1, 3, 5]
_________________
[2, 4, 6]
_________________
[8, 10, 12]
_________________

In [61]:
# two_dim = [
#     [1,3,5],
#     [2,4,6],
#     [8,10,12]
# ]
two_dim = [ [1,3,5], [2,4,6,7], [8,10,12] ]

i = 0
while i<len(two_dim):
    row = two_dim[i]
    print(row)

    
    j = 0
    while j<len(row):
        print(row[j])
        j +=1
    
    
    i +=1

[1, 3, 5]
1
3
5
[2, 4, 6, 7]
2
4
6
7
[8, 10, 12]
8
10
12

# For Loop :
    Iteration Loop -- a loop that iterates over a sequence each element of the sequence the for loop executes the body of it

In [81]:
l1 = [34,12,89,7.8]

for i in l1:
    print(i+2)
    print(i*2)
    print(i/2)
    print()
else:
    print("end of the for loop")

# the i value will have the last element of the sequence we can access outside also

#print(i)

36
68
17.0

14
24
6.0

91
178
44.5

9.8
15.6
3.9

end of the for loop

In [82]:
for i in range(15):
    print(i)
    if i == 8:
        break

0
1
2
3
4
5
6
7
8

In [94]:
for i in range(15):
    
    if i%2 ==0:
        continue
    print(i)

1
3
5
7
9
11
13

In [84]:
two_dim = [
    [1,3,5],
    [2,4,6],
    [8,10,12]
]


for i in two_dim:
    row = i

    for j in row:
        print(j)

    print(row)
    print()

1
3
5
[1, 3, 5]

2
4
6
[2, 4, 6]

8
10
12
[8, 10, 12]

In [95]:
colors = ["red", "green"]

fruits = ["banana", "cherry", "apple"]

for color in colors:
    print("outer for loop initiaing inner for loop")
    
    for fruit in fruits:
        #print("inner for loop runs")
        print(f"the {fruit} color is {color}")

    print()

outer for loop initiaing inner for loop
the banana color is red
the cherry color is red
the apple color is red

outer for loop initiaing inner for loop
the banana color is green
the cherry color is green
the apple color is green

In [61]:
# enumerate -- return the sequence elements along with their positions in a tuple

l1 = [4,2,8,6]
l2 = list(enumerate(l1))
l2

[(0, 4), (1, 2), (2, 8), (3, 6)]

In [87]:
s1 = {4,1,True,8,9}
s2 = set(enumerate(s1))  # it will work on the unordred seq
s2

{(0, 8), (1, 1), (2, 4), (3, 9)}

In [88]:
i,j = (0,4)
i

0

In [89]:
l1 = [4,2,8,6]
for i in enumerate(l1):
    print(i)

(0, 4)
(1, 2)
(2, 8)
(3, 6)

In [67]:
l1 = [4,2,8,6]
for i,j in enumerate(l1):
    """
    index or find will give wrong informations when the duplicates occurs    
    enumerate will return proper indexes even for the duplicates
    """
    
    print(f"index position {i} for the element {j}")

index position 0 for the element 4
index position 1 for the element 2
index position 2 for the element 8
index position 3 for the element 6

In [70]:
products = ["sugar", "coffepowder", "ghee", "milk"]
prices = [30,60,500,25, 34,12]
rating = [2.3,4.3,1.5,3.8,2.9]

list(zip(products, prices, rating))

[('sugar', 30, 2.3),
 ('coffepowder', 60, 4.3),
 ('ghee', 500, 1.5),
 ('milk', 25, 3.8)]

In [164]:
products = ["sugar", "coffepowder", "ghee", "milk"]
prices = [30,60,500,25, 34,12]

for product, price in zip(products, prices):
    print(product)
    print(price)
    print()

sugar
30

coffepowder
60

ghee
500

milk
25

In [90]:
# comprehensions -- create datasturucters in easy manner using for, if
# list comprehension
l1 = [x*x for x in range(10)]
l1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [165]:
l1 = [x*2 for x in range(20) if x%2 !=0]
l1

[2, 6, 10, 14, 18, 22, 26, 30, 34, 38]

In [92]:
#dictionary comprehension
d1 = {x:x**3 for x in range(8)}
d1

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343}

In [166]:
d1 = {x:x*3 for x in range(15) if x%2 ==0}
d1

{0: 0, 2: 6, 4: 12, 6: 18, 8: 24, 10: 30, 12: 36, 14: 42}

# functions
    => are reusable codes
    => a function needs to be called to execute the function block code
    => a simple logic of the code
    => a function uses a return statment 
    => def name():
        "logic of the code"

    inbuild -- print, min, max, sum, len
    user defined -- created by the programmer for own use
    module functions -- coming from libraries

In [167]:
min([3,4,5,7])  # inbuild function which returns minimum value

3

In [168]:
obj = max([3,4,5,7]) #inbuild function which returns maximum value

In [169]:
obj

7

In [170]:
ans = print(6+3)  # print() inbuild function will not return anything

9

In [171]:
ans

In [174]:
def hello():  # empty functions
    pass
hello()

In [175]:
ans = hello()
print(ans)

None

In [173]:
def hello():  # empty functions
    
hello()

IndentationError: expected an indented block after function definition on line 1 (782024636.py, line 3)

In [176]:
def fun():
    return "hello"



fun()

'hello'

In [179]:
def fun():
    
    return "hello"
    
obj = fun() # a function obj will have the returned value

In [180]:
print(type(obj))
obj

<class 'str'>

'hello'

In [181]:
obj[3]

'l'

In [183]:
def fun():
    a = 7+6
    b = 4+2
    c = a+b
    return c
obj = fun()
print(obj)
print(obj+5)

19
24

In [184]:
def fun():
    a = 7+6
    b = 4+2
    c = a+b
    print(c)
    #print(5+9+4)
obj = fun()
print(obj)

19
None

In [186]:
def fun():
    return "hello"  # return statement will be the end of the function
    # a function can return all data types, all data structures, another fun, class, return is the end of the function
    return 8+9
obj = fun()
obj

'hello'

In [187]:
obj = min(4,2,7,98,12,1)
obj

1

In [188]:
obj

1

## parameter:
    while defining the function with in the parenthesis of the definition of the function the variables what we provide knowned as parameters

## arguments:
    while calling the function the values that we provide with in the parenthesis for the defined parameters are addressed as arguments

In [1]:
def calculator(a,b):  # parameters
    print(a)
    print(b)
    return a-b, a*b, a/b

val1 = eval(input("enter the number1"))
val2 = eval(input("enter the number2"))

calculator(val1, val2)  # arguments

enter the number1 4
enter the number2 2

4
2

(2, 8, 2.0)

In [2]:
# when we want to assign values for a parameter we use keyword argument functions


def maths(a,b,c):
    print(a)
    print(b)
    print(c)
    return a+b+c, a-b-c, a*b*c

obj = maths(c = 2,b = 4, a = 8)  # keyword arguments

8
4
2

In [3]:
obj

(14, 2, 64)

In [6]:
def fun(a,b):
    """
    the parameters and the arguments should always match in the normal function
    """
    return a+b

#obj = fun(4)
#obj = fun(4,3,4)
obj = fun(4,2)
obj

6

In [7]:
# Arbitrary Argument functions
def fun(*a):
    """
    when we get unknown or n number arguments we can store it
    in a single parameter called  arbitrary arguments function
    it will store the arguments in a tuple
    """
    return type(a), len(a), min(a), max(a), a # we can call another function with in function

obj = fun(2,3,4,5)
obj

(tuple, 4, 2, 5, (2, 3, 4, 5))

In [11]:
# Arbitrary Argument functions
def fun(x,y,*a): # fun(*a,x,y) -- syntactically error 
    """
    when we get unknown or n number arguments we can store it
    in a single parameter called  arbitrary arguments function
    it will store the arguments in a tuple
    """
    print(x)
    print(y)
    return type(a), len(a), min(a), max(a), a # we can call another function with in function

obj = fun(2,3,4,5, 6)
obj

2
3

(tuple, 3, 4, 6, (4, 5, 6))

In [12]:
def fun(**para):  # arbitrary keyword arguments functions
    """
    when we get unknown or n number variable-value pair arguments. we can store it
    in a single parameter is called  arbitrary keyword arguments function
    it will store the arguments into a dictionary
    """
    return type(para), len(para), para.keys(), para.values(), para

obj = fun(a=2,b=3,c=4,d=5,e=6)
obj

(dict,
 5,
 dict_keys(['a', 'b', 'c', 'd', 'e']),
 dict_values([2, 3, 4, 5, 6]),
 {'a': 2, 'b': 3, 'c': 4, 'd': 5, 'e': 6})

In [13]:
def dpf(alaram = "cuckoo"):
    """
    a function that has its own parameter value if we pass our own value
    while calling the function the default parameter value will be replace 
    by passed value else it will return default value"""
    
    return f"times up {alaram}"

dpf("whistle")

'times up whistle'

In [14]:
dpf()

'times up cuckoo'

### What is Recursion?

ðŸ‘‰ Recursion is when a function calls itself in order to solve a smaller part of a bigger problem.

Every recursive function needs:

Base case â†’ a stopping condition (prevents infinite recursion).

Recursive case â†’ the function calling itself on smaller input.

### difference
Recursion: cleaner, closer to mathematical definitions, but can be less efficient.

Iteration (loops): usually faster and memory-friendly.

In [16]:
# a function which calls with in itself is a recursive function
# factorial means -- n*n-1 ..... 1

def fact(n):
    if n == 1:
        return 1

    else:
        return n* fact(n-1)  #5*4*3*2*1

fact(5)

120

In [8]:
def fibonacci(n):
    if n == 0:
        return 0   # Base case
    elif n == 1:
        return 1   # Base case
    else:
        return fibonacci(n-1) + fibonacci(n-2)  # Recursive case

print(fibonacci(6))  # 8

8

In [9]:
def sum_natural(n):
    if n == 0:  # Base case
        return 0
    else:
        return n + sum_natural(n-1)

print(sum_natural(5))  # 15 (5+4+3+2+1)

15

In [17]:
def lf():
    x = 8  # local variable -- only accessible with in that function block(namespace)
    return x


print(lf())

print(x)

8

NameError: name 'x' is not defined

In [18]:
def hello():
    apple = 78

print(apple)

NameError: name 'apple' is not defined

In [20]:
apple = 78 # a variable is there in global namespace(or) a variable that doesn't belongs any indendation block
def hello():
    print(apple)
    return None

hello()
print(apple)

78
78

In [21]:
x = 8  # global variable

def gn():
    return x

print(x)
gn()

8

8

In [23]:
# namespaces will allow the assign diff values to the same var name in different namespaces

x = 90

def lnf():
    x = 45
    return x

print(x)
lnf()

90

45

In [24]:
x = "global"

def lnf():
    x = "local"
    return x

print(x)
lnf()

global

'local'

In [25]:
# global -- key to convert a local variable into a global variable

def lnf():
    global x
    x = 55
    return x
    
print(lnf())
print(x)

55
55

In [27]:
def dpf(alaram = "cuckoo"):
    """
    a function that has its own parameter value if we pass our own value
    while calling the function the default parameter value will be replace 
    by passed value else it will return default value"""
    # single line comment
    
    return f"times up {alaram}"

print(dpf.__doc__)

    a function that has its own parameter value if we pass our own value
    while calling the function the default parameter value will be replace
    by passed value else it will return default value

In [28]:
help(dpf)

Help on function dpf in module __main__:

dpf(alaram='cuckoo')
    a function that has its own parameter value if we pass our own value
    while calling the function the default parameter value will be replace
    by passed value else it will return default value

In [2]:
def outer():

    """
    when the inner function returned into the namespace of outer function
    the outer function object literally become inner function itself
    then we can easily call it
    """
    
    def inner():
        return "this message is coming from the inner function"
    
    
    
    return inner

obj = outer()

In [3]:
obj()

'this message is coming from the inner function'

In [4]:
def outer(m):
    def inner(n):
        return m*n
    
    
    return inner

obj = outer(5)
print(obj)
obj(2)

<function outer.<locals>.inner at 0x000001934FE63BA0>

10

### Decorator
    a normal python function which takes another python function as a argument by doing that we can change, extend, modify the behaviour of that function eventually we can write some code around it and return it as a new function

In [44]:

def extra_decorations(fun):
    def wrapper():
        print("welcome to python $$$$$$$$$$$$$")
        print(fun())
        print("********* GOOD BYE *************")
        
    return wrapper


@extra_decorations
def fun():
    return "hello there!!"

fun()

welcome to python $$$$$$$$$$$$$
hello there!!
********* GOOD BYE *************

In [45]:
print(4/0)

ZeroDivisionError: division by zero

In [48]:
def zero_handler(n):
    def wrapper(a,b):
        if b == 0:
            print("since you have passed denominator as 0 we consider that as 1")
            b = 1
            print(n(a,b))
            print("calculation finished")
        else:
            print("calculation in progress")
            print(n(a,b))
            print("calculation finished")
    return wrapper



@zero_handler
def divide(a,b):
    return a/b

divide(6,0)

since you have passed denominator as 0 we consider that as 1
6.0
calculation finished

# lambda - anonyomous, will take n number args but it will return only one expression
    obj = lambda para: expression

    when we simply want to apply some formula(conditions or logics) in a single line temproarily

In [49]:
math = lambda x,y: print(x+y, x-y)
math(4,2)

6 2

In [51]:
a = lambda : return 45
a()

SyntaxError: invalid syntax (4128400367.py, line 1)

In [52]:
#a = lambda :  45,23
a = lambda :  45
a()

45

In [53]:
l1 = ["kiwi", "apple", "orange", "bananas"]
l1.sort()
l1

['apple', 'bananas', 'kiwi', 'orange']

In [92]:
l1 = ["kiwi fruit", "red apple", "orange", "bananas"]
l1.sort(key = lambda x: len(x))  #length based ascending order
l1

['orange', 'bananas', 'red apple', 'kiwi fruit']

In [54]:
l1 = ["kiwi", "apple", "orange", "bananas", "cherry"]
# filter is a inbuild fucntion that takes formula and seq it will apply the formula on the every element of the seq
re = list(filter(lambda x: "a" in x, l1))
re

['apple', 'orange', 'bananas']

In [94]:
l2 = [2,3,4,5,6,7,12,13,14,15,16]

re = list(filter(lambda x: x%3 ==0,l2))
re

[3, 6, 12, 15]

In [55]:
l1 = ["kiwi", "apple", "orange", "bananas", "cherry"]
# map -- take the formula and apply the each element on the seq
re = list(map(lambda x: x+" juices", l1))
re

['kiwi juices',
 'apple juices',
 'orange juices',
 'bananas juices',
 'cherry juices']

In [96]:
l2 = [2,3,4,5,6,7,12,13,14,15,16]

re = list(map(lambda x: x*2,l2))
re

[4, 6, 8, 10, 12, 14, 24, 26, 28, 30, 32]

In [109]:
from functools import reduce

l1 = [34,2,5,4,9]
# we can use reduce to convert a sequence into an single element based on some formula
re = reduce(lambda x,y:x-y, l1)
re

14

### Modules in Python

A module is simply a Python file (.py) that contains code (functions, classes, variables, etc.) you can reuse.

mypackage/
    __init__.py
    math_ops.py
    string_ops.py

In [14]:
from my_package import math_ops, string_ops

print(math_ops.add(2, 3))          # 5
print(math_ops.multiply(4, 5))     # 20
print(string_ops.upper_case("hi")) # HI

5
20
HI

In [15]:
# sample library modules

In [12]:
import sample

print(sample.hello())
print(sample.add(4,2))

this message coming local python file module
(6, 2, 8, 2.0)

## Packages in Python

A package is a collection of modules organized in directories.
It requires an __init__.py file (even empty) to be recognized as a package.

In [110]:
%cd projects

C:\User_Desk\Teaching_contents\batch_notes\projects

In [111]:
import os
os.getcwd()

'C:\\User_Desk\\Teaching_contents\\batch_notes\\projects'

In [112]:
%cd ..

C:\User_Desk\Teaching_contents\batch_notes

In [116]:
import os

print(os.path.exists("file_1.txt")) # check the file existence

False

In [114]:
os.remove("file.txt")  # remove the file from the directory

In [117]:
os.rename("file_4.txt", "renamed.txt") # will rename file

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'file_456890859054.txt' -> 'renamed.txt'

In [118]:
os.mkdir("sample")  # creating the directory

In [119]:
os.rmdir("sample")  # remove the directory if the directory empty

In [120]:
os.makedirs("sample/images")  # directory within directory

In [121]:
os.removedirs("sample/images") # removing the directories with directory

In [122]:
os.listdir(".")  # returing current directory file list

['.ipynb_checkpoints',
 '2.0.1',
 '3matplotlib.ipynb',
 'array.npy',
 'array.txt',
 'basic of numpy.ipynb',
 'basic.parquet',
 'category.csv',
 'city_details.csv',
 'classenv',
 'copy_kailash.png',
 'csvjson.json',
 'data_1.txt',
 'DSA.ipynb',
 'emp.csv',
 'employee.csv',
 'employee.json',
 'excel_to_csv.csv',
 'file_1.txt',
 'file_2.txt',
 'file_3.txt',
 'file_compressor',
 'file_example_XLS_50.xlsx',
 'kailash.jpg',
 'leetcode_problem.ipynb',
 'Master_notes.ipynb',
 'movie.csv',
 'myenv',
 'new_pic.png',
 'numpy (1).ipynb',
 'numpy, matplotlib, pandas, basic.ipynb',
 'output.csv',
 'output_1.csv',
 'pandas (1).ipynb',
 'projects',
 'python syllabus.pdf',
 'questions.json',
 'renamed.txt',
 'sample.csv',
 'sample.json',
 'sample.py',
 'sample_sql_for_python.sql',
 'scores.json',
 'stores.csv',
 'stores.xlsx',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled13.ipynb',
 'Untitled14.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled6.py',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'usage_of_python.jpeg',
 'Weekend_07_Dec.ipynb',
 'what python can do.jpeg',
 '__pycache__']

In [23]:
import os
print(os.path.isfile("file.txt"))
print(os.path.isdir("new_folder"))
print(os.path.abspath("file.txt"))

True

In [24]:
import os

print(os.environ)                   # All environment variables
print(os.environ.get("HOME"))       # Get specific variable
os.environ["MY_VAR"] = "123"        # Set a new environment variable

environ({'ALLUSERSPROFILE': 'C:\\ProgramData', 'APPDATA': 'C:\\Users\\pugal\\AppData\\Roaming', 'COMMONPROGRAMFILES': 'C:\\Program Files\\Common Files', 'COMMONPROGRAMFILES(X86)': 'C:\\Program Files (x86)\\Common Files', 'COMMONPROGRAMW6432': 'C:\\Program Files\\Common Files', 'COMPUTERNAME': 'PUGAL', 'COMSPEC': 'C:\\WINDOWS\\system32\\cmd.exe', 'DRIVERDATA': 'C:\\Windows\\System32\\Drivers\\DriverData', 'HOMEDRIVE': 'C:', 'HOMEPATH': '\\Users\\pugal', 'LOCALAPPDATA': 'C:\\Users\\pugal\\AppData\\Local', 'LOGONSERVER': '\\\\PUGAL', 'NUMBER_OF_PROCESSORS': '4', 'ONEDRIVE': 'C:\\Users\\pugal\\OneDrive', 'ONEDRIVECONSUMER': 'C:\\Users\\pugal\\OneDrive', 'OS': 'Windows_NT', 'PATH': 'C:\\oraclexe\\app\\oracle\\product\\11.2.0\\server\\bin;;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\;C:\\WINDOWS\\System32\\OpenSSH\\;C:\\Program Files\\Git\\cmd;C:\\Program Files (x86)\\Microsoft SQL Server\\160\\Tools\\Binn\\;C:\\Program Files\\Microsoft SQL Server\\160\\Tools\\Binn\\;C:\\Program Files\\Microsoft SQL Server\\Client SDK\\ODBC\\170\\Tools\\Binn\\;C:\\Program Files\\Microsoft SQL Server\\160\\DTS\\Binn\\;C:\\Program Files (x86)\\Microsoft SQL Server\\160\\DTS\\Binn\\;C:\\Program Files\\Microsoft SQL Server\\150\\Tools\\Binn\\;C:\\Program Files\\dotnet\\;C:\\oracle\\instantclient;C:\\Program Files\\Docker\\Docker\\resources\\bin;C:\\Program Files\\MySQL\\MySQL Shell 8.0\\bin\\;C:\\Users\\pugal\\AppData\\Local\\Programs\\Python\\Python311\\Scripts\\;C:\\Users\\pugal\\AppData\\Local\\Programs\\Python\\Python311\\;C:\\Users\\pugal\\AppData\\Local\\Microsoft\\WindowsApps;;C:\\Users\\pugal\\AppData\\Local\\Programs\\Microsoft VS Code\\bin;C:\\Users\\pugal\\.dotnet\\tools', 'PATHEXT': '.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC', 'PROCESSOR_ARCHITECTURE': 'AMD64', 'PROCESSOR_IDENTIFIER': 'Intel64 Family 6 Model 140 Stepping 1, GenuineIntel', 'PROCESSOR_LEVEL': '6', 'PROCESSOR_REVISION': '8c01', 'PROGRAMDATA': 'C:\\ProgramData', 'PROGRAMFILES': 'C:\\Program Files', 'PROGRAMFILES(X86)': 'C:\\Program Files (x86)', 'PROGRAMW6432': 'C:\\Program Files', 'PROMPT': '$P$G', 'PSMODULEPATH': 'C:\\Program Files\\WindowsPowerShell\\Modules;C:\\WINDOWS\\system32\\WindowsPowerShell\\v1.0\\Modules;C:\\Program Files (x86)\\Microsoft SQL Server\\160\\Tools\\PowerShell\\Modules\\', 'PUBLIC': 'C:\\Users\\Public', 'SESSIONNAME': 'Console', 'SYSTEMDRIVE': 'C:', 'SYSTEMROOT': 'C:\\WINDOWS', 'TEMP': 'C:\\Users\\pugal\\AppData\\Local\\Temp', 'TMP': 'C:\\Users\\pugal\\AppData\\Local\\Temp', 'USERDOMAIN': 'PUGAL', 'USERDOMAIN_ROAMINGPROFILE': 'PUGAL', 'USERNAME': 'pugal', 'USERPROFILE': 'C:\\Users\\pugal', 'VBOX_MSI_INSTALL_PATH': 'C:\\Program Files\\Oracle\\VirtualBox\\', 'WINDIR': 'C:\\WINDOWS', 'WSLENV': 'WT_SESSION:WT_PROFILE_ID:', 'WT_PROFILE_ID': '{0caa0dad-35be-5f56-a8ff-afceeeaa6101}', 'WT_SESSION': 'b31b869a-6ea5-4d33-a76e-3a3380bbf3a6', 'ZES_ENABLE_SYSMAN': '1', 'PYDEVD_USE_FRAME_EVAL': 'NO', 'JPY_SESSION_NAME': 'C:\\User_Desk\\Teaching_contents\\batch_notes\\Master_notes.ipynb', 'JPY_INTERRUPT_EVENT': '3532', 'IPY_INTERRUPT_EVENT': '3532', 'JPY_PARENT_PID': '3704', 'TERM': 'xterm-color', 'CLICOLOR': '1', 'FORCE_COLOR': '1', 'CLICOLOR_FORCE': '1', 'PAGER': 'cat', 'GIT_PAGER': 'cat', 'MPLBACKEND': 'module://matplotlib_inline.backend_inline'})
None

In [25]:
import os

path = "/home/user/file.txt"
print(os.path.split(path))       # ('/home/user', 'file.txt')
print(os.path.splitext(path))    # ('/home/user/file', '.txt')
print(os.path.join("folder", "file.txt"))  # 'folder/file.txt'

('/home/user', 'file.txt')
('/home/user/file', '.txt')
folder\file.txt

In [26]:
import os

print(os.stat("file.txt"))   # File info (size, mode, etc.)
os.chmod("file.txt", 0o777)  # Change file permissions

os.stat_result(st_mode=33206, st_ino=5348024558777255, st_dev=3192859567, st_nlink=1, st_uid=0, st_gid=0, st_size=122, st_atime=1758162636, st_mtime=1758162624, st_ctime=1758162251)

In [34]:
#Command-line Arguments
import sys

print(sys.argv)      # List of command-line arguments
print(sys.argv[0])   # Script name

['C:\\Users\\pugal\\AppData\\Local\\Programs\\Python\\Python311\\Lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\pugal\\AppData\\Roaming\\jupyter\\runtime\\kernel-68f2bc30-5812-4c1d-b573-c2e6f25e0d4e.json']
C:\Users\pugal\AppData\Local\Programs\Python\Python311\Lib\site-packages\ipykernel_launcher.py

In [28]:
#Exiting Program
import sys

if len(sys.argv) < 2:
    print("No arguments given")
    sys.exit(1)   # Exit with status code 1

In [29]:
#Standard I/O Streams
import sys

sys.stdout.write("Hello World\n")   # Print without print()
sys.stderr.write("This is an error message\n")

Hello World

This is an error message

25

In [35]:
#Interpreter Info
import sys

print(sys.version)        # Python version
print(sys.version_info)   # Detailed version info
print(sys.executable)     # Path of Python interpreter
print(sys.platform)       # OS platform

3.11.4 (tags/v3.11.4:d2340ef, Jun  7 2023, 05:45:37) [MSC v.1934 64 bit (AMD64)]
sys.version_info(major=3, minor=11, micro=4, releaselevel='final', serial=0)
C:\Users\pugal\AppData\Local\Programs\Python\Python311\python.exe
win32

In [36]:
#Modules & Paths
import sys

print(sys.modules.keys())   # All loaded modules
print(sys.path)             # Paths where Python searches modules
sys.path.append("/my/custom/path")  # Add a new import path

dict_keys(['sys', 'builtins', '_frozen_importlib', '_imp', '_thread', '_warnings', '_weakref', 'winreg', '_io', 'marshal', 'nt', '_frozen_importlib_external', 'time', 'zipimport', '_codecs', 'codecs', 'encodings.aliases', 'encodings', 'encodings.utf_8', 'encodings.cp1252', '_signal', '_abc', 'abc', 'io', '__main__', '_stat', 'stat', '_collections_abc', 'genericpath', '_winapi', 'ntpath', 'os.path', 'os', '_sitebuiltins', '_distutils_hack', 'types', 'importlib._bootstrap', 'importlib._bootstrap_external', 'warnings', 'importlib', 'importlib._abc', 'itertools', 'keyword', '_operator', 'operator', 'reprlib', '_collections', 'collections', '_functools', 'functools', 'contextlib', 'importlib.util', 'importlib.machinery', 'google', 'pywin32_system32', 'pywin32_bootstrap', 'zope', 'site', 'runpy', 'enum', '_sre', 're._constants', 're._parser', 're._casefix', 're._compiler', 'copyreg', 're', 'collections.abc', '_typing', 'typing.io', 'typing.re', 'typing', 'ipykernel._version', '_json', 'json.scanner', 'json.decoder', 'json.encoder', 'json', 'errno', '_locale', 'locale', 'signal', '_weakrefset', 'threading', 'msvcrt', 'subprocess', 'jupyter_client._version', 'platform', 'zmq.backend.select', '_cython_0_29_35', 'cython_runtime', 'zmq.error', 'zmq.backend.cython.context', 'weakref', 'zmq.backend.cython.message', 'copy', 'math', '_bisect', 'bisect', '_random', '_sha512', 'random', '_struct', 'struct', '_compat_pickle', '_pickle', 'pickle', 'zmq.constants', 'zmq.backend.cython.socket', 'zmq.backend.cython._device', 'zmq.backend.cython._poll', 'zmq.backend.cython._proxy_steerable', '_cython_0_29_32', 'zmq.backend.cython._version', 'zmq.backend.cython.error', 'zmq.backend.cython.utils', 'zmq.backend.cython', 'zmq.backend', 'atexit', 'zmq.utils', 'zmq.utils.interop', 'zmq.sugar.attrsettr', 'zmq._typing', 'zmq.utils.jsonapi', 'zmq.sugar.poll', 'zmq.sugar.socket', 'zmq.sugar.context', 'zmq.sugar.frame', 'zmq.sugar.tracker', 'zmq.sugar.version', 'zmq.sugar.stopwatch', 'zmq.sugar', 'zmq', 'concurrent', 'token', 'tokenize', 'linecache', 'textwrap', 'traceback', '_string', 'string', 'logging', 'concurrent.futures._base', 'concurrent.futures', '_heapq', 'heapq', '_socket', 'select', 'selectors', 'socket', '_ssl', 'binascii', 'base64', 'ssl', 'asyncio.constants', '_ast', 'ast', '_opcode', 'opcode', 'dis', 'inspect', 'asyncio.coroutines', '_contextvars', 'contextvars', 'asyncio.format_helpers', 'asyncio.base_futures', 'asyncio.exceptions', 'asyncio.base_tasks', '_asyncio', 'asyncio.events', 'asyncio.futures', 'asyncio.protocols', 'asyncio.transports', 'asyncio.log', 'asyncio.sslproto', 'asyncio.mixins', 'asyncio.tasks', 'asyncio.locks', 'asyncio.staggered', 'asyncio.trsock', 'asyncio.base_events', 'asyncio.runners', 'asyncio.queues', 'asyncio.streams', 'asyncio.subprocess', 'asyncio.taskgroups', 'asyncio.timeouts', 'asyncio.threads', '_overlapped', 'asyncio.base_subprocess', 'asyncio.proactor_events', 'asyncio.selector_events', 'posixpath', 'fnmatch', 'zlib', '_compression', '_bz2', 'bz2', '_lzma', 'lzma', 'shutil', 'tempfile', 'asyncio.windows_utils', 'asyncio.windows_events', 'asyncio', 'zmq._future', 'zmq.asyncio', 'urllib', 'ipaddress', 'urllib.parse', 'pathlib', 'traitlets.utils', 'traitlets.utils.bunch', 'traitlets.utils.descriptions', 'traitlets.utils.getargspec', 'traitlets.utils.importstring', 'traitlets.utils.sentinel', 'traitlets.traitlets', 'traitlets._version', 'traitlets.utils.decorators', 'traitlets', '_queue', 'queue', 'jupyter_core.version', 'jupyter_core', 'jupyter_core.utils', 'jupyter_client.channelsabc', '_hashlib', '_blake2', 'hashlib', 'hmac', 'dataclasses', 'pprint', '_datetime', 'datetime', 'tornado', 'numbers', 'logging.handlers', 'html.entities', 'html', 'array', 'tornado.speedups', 'tornado.util', 'tornado.escape', 'colorama.ansi', '_ctypes', 'ctypes._endian', 'ctypes', 'ctypes.wintypes', 'colorama.win32', 'colorama.winterm', 'colorama.ansitowin32', 'colorama.initialise', 'colorama', 'tornado.log', 'tornado.concurrent', 'tornado.ioloop', 'socketserver', 'logging.config', 'traitlets.utils.text', 'gettext', 'argparse', 'traitlets.config.loader', 'traitlets.config.configurable', 'traitlets.utils.nested_update', 'traitlets.config.application', 'traitlets.config', 'traitlets.log', 'zmq.eventloop', 'zmq.eventloop.zmqstream', 'jupyter_client.adapter', 'dateutil._version', 'dateutil', '__future__', 'calendar', 'six', '_decimal', 'decimal', 'dateutil._common', 'dateutil.relativedelta', 'six.moves', 'dateutil.tz._common', 'dateutil.tz._factories', 'dateutil.tz.win', 'dateutil.tz.tz', 'dateutil.tz', 'dateutil.parser._parser', 'dateutil.parser.isoparser', 'dateutil.parser', '_strptime', 'jupyter_client.jsonutil', 'jupyter_client.session', 'jupyter_client.channels', 'getpass', 'jupyter_client.clientabc', 'glob', 'platformdirs.api', 'platformdirs.version', 'platformdirs.windows', 'platformdirs', 'jupyter_core.paths', 'jupyter_client.localinterfaces', 'jupyter_client.utils', 'jupyter_client.connect', 'jupyter_client.client', 'jupyter_client.asynchronous.client', 'jupyter_client.asynchronous', 'jupyter_client.blocking.client', 'jupyter_client.blocking', 'jupyter_client.launcher', '_uuid', 'uuid', '_csv', 'csv', 'email', 'zipfile', 'quopri', 'email._parseaddr', 'email.base64mime', 'email.quoprimime', 'email.errors', 'email.encoders', 'email.charset', 'email.utils', 'email.header', 'email._policybase', 'email._encoded_words', 'email.iterators', 'email.message', 'importlib.metadata._functools', 'importlib.metadata._text', 'importlib.metadata._adapters', 'importlib.metadata._meta', 'importlib.metadata._collections', 'importlib.metadata._itertools', 'importlib.resources.abc', 'importlib.resources._adapters', 'importlib.resources._common', 'importlib.resources._legacy', 'importlib.resources', 'importlib.abc', 'importlib.metadata', 'jupyter_client.provisioning.provisioner_base', 'jupyter_client.provisioning.factory', 'jupyter_client.provisioning.local_provisioner', 'jupyter_client.provisioning', 'jupyter_client.kernelspec', 'jupyter_client.managerabc', 'jupyter_client.manager', 'jupyter_client.multikernelmanager', 'jupyter_client', 'ipykernel.connect', 'ipykernel', 'IPython.core', 'IPython.core.getipython', 'IPython.core.release', 'pkgutil', 'sysconfig', 'pydoc', 'executing._exceptions', 'executing._position_node_finder', 'executing.executing', 'executing.version', 'executing', 'asttokens.line_numbers', 'asttokens.util', 'asttokens.asttokens', 'asttokens', 'fractions', 'pure_eval.utils', 'pure_eval.my_getattr_static', 'pure_eval.core', 'pure_eval.version', 'pure_eval', 'stack_data.utils', 'stack_data.core', 'stack_data.formatting', 'stack_data.serializing', 'stack_data.version', 'stack_data', 'pygments', 'pygments.formatters._mapping', 'pygments.plugin', 'pygments.util', 'pygments.formatters', 'pygments.styles', 'pygments.formatter', 'pygments.console', 'pygments.token', 'pygments.style', 'pygments.formatters.terminal256', 'IPython.utils', 'IPython.utils.colorable', 'IPython.utils.ipstruct', 'IPython.utils.coloransi', 'IPython.utils.PyColorize', 'IPython.utils.encoding', 'IPython.utils.py3compat', 'IPython.core.excolors', 'cmd', 'bdb', 'codeop', 'code', 'pdb', 'IPython.core.debugger', 'IPython.core.display_trap', 'shlex', 'IPython.utils._process_common', 'IPython.utils._process_win32', 'IPython.utils.process', 'IPython.utils.path', 'IPython.utils.terminal', 'IPython.core.ultratb', 'IPython.utils._sysinfo', 'IPython.utils.sysinfo', 'IPython.core.crashhandler', 'IPython.utils.importstring', 'IPython.paths', 'IPython.core.profiledir', 'IPython.core.application', 'IPython.terminal', 'IPython.core.compilerop', 'IPython.core.error', 'IPython.utils.docs', 'IPython.utils.decorators', 'IPython.utils.text', 'IPython.core.magic_arguments', 'getopt', 'IPython.core.display_functions', 'mimetypes', 'IPython.testing', 'IPython.testing.skipdoctest', 'IPython.core.display', 'IPython.lib', 'IPython.lib.display', 'IPython.display', 'IPython.utils.data', 'IPython.core.page', 'IPython.lib.pretty', 'IPython.utils.openpy', 'IPython.utils.dir2', 'IPython.utils.wildcard', 'pygments.lexers._mapping', 'pygments.modeline', 'pygments.lexers', 'pygments.filter', 'pygments.filters', 'pygments.regexopt', 'pygments.lexer', 'pygments.unistring', 'pygments.lexers.python', 'pygments.formatters.html', 'IPython.core.oinspect', 'IPython.core.inputtransformer2', 'IPython.core.magic', 'pickleshare', 'IPython.core.hooks', 'IPython.core.autocall', 'IPython.core.macro', 'IPython.core.splitinput', 'IPython.core.prefilter', 'IPython.core.alias', 'IPython.core.builtin_trap', 'IPython.core.displayhook', 'IPython.core.displaypub', 'backcall.backcall', 'backcall', 'IPython.core.events', 'IPython.core.extensions', 'decorator', 'IPython.utils.sentinel', 'IPython.core.formatters', '_sqlite3', 'sqlite3.dbapi2', 'sqlite3', 'IPython.core.history', 'IPython.core.logger', 'IPython.core.payload', 'IPython.core.usage', 'IPython.utils.capture', 'IPython.utils.io', 'IPython.utils.strdispatch', 'IPython.utils.syspathcontext', 'IPython.core.async_helpers', 'IPython.core.interactiveshell', 'prompt_toolkit.application.current', 'prompt_toolkit.eventloop.utils', 'prompt_toolkit.eventloop.async_generator', 'prompt_toolkit.eventloop.inputhook', 'prompt_toolkit.eventloop', 'prompt_toolkit.application.run_in_terminal', 'prompt_toolkit.selection', 'prompt_toolkit.clipboard.base', 'prompt_toolkit.clipboard.in_memory', 'prompt_toolkit.clipboard', 'prompt_toolkit.cache', 'prompt_toolkit.enums', 'prompt_toolkit.filters.base', 'prompt_toolkit.filters.app', 'prompt_toolkit.filters.cli', 'prompt_toolkit.filters.utils', 'prompt_toolkit.filters', 'prompt_toolkit.document', 'prompt_toolkit.auto_suggest', 'prompt_toolkit.keys', 'prompt_toolkit.key_binding.key_bindings', 'wcwidth.table_wide', 'wcwidth.table_zero', 'wcwidth.unicode_versions', 'wcwidth.wcwidth', 'wcwidth', 'prompt_toolkit.utils', 'prompt_toolkit.key_binding.key_processor', 'prompt_toolkit.key_binding', 'prompt_toolkit.key_binding.vi_state', 'prompt_toolkit.cursor_shapes', 'prompt_toolkit.data_structures', 'prompt_toolkit.styles.base', 'prompt_toolkit.styles.named_colors', 'prompt_toolkit.styles.style', 'prompt_toolkit.styles.defaults', 'prompt_toolkit.styles.pygments', 'colorsys', 'prompt_toolkit.styles.style_transformation', 'prompt_toolkit.styles', 'prompt_toolkit.output.color_depth', 'prompt_toolkit.output.base', 'prompt_toolkit.output.flush_stdout', 'prompt_toolkit.output.plain_text', 'prompt_toolkit.output.defaults', 'prompt_toolkit.output', 'prompt_toolkit.output.vt100', 'prompt_toolkit.mouse_events', 'prompt_toolkit.formatted_text.base', 'prompt_toolkit.formatted_text.ansi', 'xml', 'xml.dom.domreg', 'xml.dom', 'xml.dom.minicompat', 'xml.dom.NodeFilter', 'xml.dom.xmlbuilder', 'xml.dom.minidom', 'prompt_toolkit.formatted_text.html', 'prompt_toolkit.formatted_text.pygments', 'prompt_toolkit.formatted_text.utils', 'prompt_toolkit.formatted_text', 'prompt_toolkit.completion.base', 'prompt_toolkit.completion.deduplicate', 'prompt_toolkit.completion.filesystem', 'prompt_toolkit.completion.word_completer', 'prompt_toolkit.completion.fuzzy_completer', 'prompt_toolkit.completion.nested', 'prompt_toolkit.completion', 'prompt_toolkit.history', 'prompt_toolkit.search', 'prompt_toolkit.validation', 'prompt_toolkit.buffer', 'prompt_toolkit.input.base', 'prompt_toolkit.input.defaults', 'prompt_toolkit.input', 'prompt_toolkit.input.typeahead', 'prompt_toolkit.key_binding.bindings', 'prompt_toolkit.key_binding.bindings.scroll', 'prompt_toolkit.key_binding.bindings.page_navigation', 'prompt_toolkit.lexers.base', 'prompt_toolkit.lexers.pygments', 'prompt_toolkit.lexers', 'prompt_toolkit.layout.utils', 'prompt_toolkit.layout.processors', 'prompt_toolkit.layout.controls', 'prompt_toolkit.layout.dimension', 'prompt_toolkit.layout.margins', 'prompt_toolkit.layout.mouse_handlers', 'prompt_toolkit.layout.screen', 'prompt_toolkit.layout.containers', 'prompt_toolkit.layout.layout', 'prompt_toolkit.layout.menus', 'prompt_toolkit.layout.scrollable_pane', 'prompt_toolkit.layout', 'prompt_toolkit.key_binding.bindings.completion', 'prompt_toolkit.key_binding.bindings.named_commands', 'prompt_toolkit.key_binding.bindings.basic', 'prompt_toolkit.key_binding.bindings.cpr', 'prompt_toolkit.key_binding.bindings.emacs', 'prompt_toolkit.key_binding.bindings.mouse', 'prompt_toolkit.input.ansi_escape_sequences', 'prompt_toolkit.input.vt100_parser', 'prompt_toolkit.key_binding.digraphs', 'prompt_toolkit.key_binding.bindings.vi', 'prompt_toolkit.key_binding.defaults', 'prompt_toolkit.key_binding.emacs_state', 'prompt_toolkit.layout.dummy', 'prompt_toolkit.renderer', 'prompt_toolkit.application.application', 'prompt_toolkit.application.dummy', 'prompt_toolkit.application', 'prompt_toolkit.key_binding.bindings.focus', 'prompt_toolkit.widgets.toolbars', 'prompt_toolkit.widgets.base', 'prompt_toolkit.widgets.dialogs', 'prompt_toolkit.widgets.menus', 'prompt_toolkit.widgets', 'prompt_toolkit.shortcuts.dialogs', 'prompt_toolkit.shortcuts.progress_bar.formatters', 'prompt_toolkit.shortcuts.progress_bar.base', 'prompt_toolkit.shortcuts.progress_bar', 'prompt_toolkit.key_binding.bindings.auto_suggest', 'prompt_toolkit.key_binding.bindings.open_in_editor', 'prompt_toolkit.shortcuts.prompt', 'prompt_toolkit.shortcuts.utils', 'prompt_toolkit.shortcuts', 'prompt_toolkit', 'prompt_toolkit.patch_stdout', 'unicodedata', 'IPython.core.guarded_eval', 'IPython.core.latex_symbols', 'IPython.utils.generics', 'parso.utils', 'parso.tree', 'parso.python', 'parso.python.token', 'parso.python.tokenize', 'parso.pgen2.grammar_parser', 'parso.pgen2.generator', 'parso.pgen2', 'parso.parser', 'parso._compatibility', 'difflib', 'parso.python.prefix', 'parso.python.tree', 'parso.python.parser', 'parso.python.diff', 'gc', 'parso.cache', 'parso.normalizer', 'parso.python.errors', 'parso.python.pep8', 'parso.file_io', 'parso.grammar', 'parso', 'jedi.parser_utils', 'jedi.debug', 'jedi.settings', 'jedi.cache', 'jedi.file_io', 'jedi.inference.cache', 'jedi.inference.helpers', 'jedi.inference.utils', 'jedi.inference.base_value', 'jedi.inference.sys_path', 'jedi.inference.recursion', 'jedi.inference.flow_analysis', 'jedi.common', 'jedi.inference.lazy_value', 'jedi.inference.docstrings', 'jedi.plugins', 'jedi.inference.names', 'jedi.inference.filters', 'jedi.inference.compiled.getattr_static', 'jedi.inference.compiled.access', 'jedi.inference.signature', 'jedi.inference.context', 'jedi.inference.compiled.value', 'jedi.inference.compiled', 'jedi.inference.analysis', 'jedi.inference.gradual', 'jedi.inference.value.module', 'jedi.inference.value.dynamic_arrays', 'jedi.inference.value.iterable', 'jedi.inference.arguments', 'jedi.inference.parser_cache', 'jedi.inference.gradual.generics', 'jedi.inference.value.function', 'jedi.inference.value.klass', 'jedi.inference.value.instance', 'jedi.inference.value', 'jedi.inference.gradual.base', 'jedi.inference.gradual.type_var', 'jedi.inference.gradual.typing', 'jedi.inference.gradual.stub_value', 'jedi.inference.gradual.typeshed', 'jedi._compatibility', 'jedi.inference.compiled.subprocess.functions', 'jedi.api.exceptions', 'jedi.inference.compiled.subprocess', 'jedi.inference.imports', 'jedi.inference.param', 'jedi.inference.gradual.annotation', 'jedi.inference.value.decorator', 'jedi.inference.syntax_tree', 'jedi.inference', 'jedi.inference.gradual.conversion', 'jedi.inference.compiled.mixed', 'pydoc_data', 'pydoc_data.topics', 'jedi.api.keywords', 'jedi.api.completion_cache', 'jedi.api.helpers', 'jedi.api.classes', 'jedi.api.interpreter', 'jedi.api.strings', 'jedi.api.file_name', 'jedi.inference.docstring_utils', 'jedi.api.completion', 'filecmp', 'jedi.api.environment', 'jedi.inference.references', 'jedi.api.project', 'jedi.api.errors', 'jedi.api.refactoring', 'jedi.api.refactoring.extract', 'jedi.inference.gradual.utils', 'jedi.api', 'jedi.plugins.stdlib', 'jedi.plugins.flask', 'jedi.plugins.pytest', 'jedi.plugins.django', 'jedi.plugins.registry', 'jedi', 'IPython.core.completer', 'IPython.terminal.ptutils', 'IPython.terminal.shortcuts.auto_match', 'IPython.utils.tokenutil', 'IPython.terminal.shortcuts.filters', 'IPython.terminal.shortcuts.auto_suggest', 'IPython.lib.clipboard', 'IPython.terminal.shortcuts', 'concurrent.futures.thread', 'IPython.terminal.debugger', 'IPython.terminal.magics', 'IPython.terminal.pt_inputhooks', 'IPython.terminal.prompts', 'IPython.terminal.interactiveshell', 'IPython.core.magics.auto', 'IPython.core.magics.basic', 'http', 'email.feedparser', 'email.parser', 'http.client', 'urllib.response', 'urllib.error', 'nturl2path', 'urllib.request', 'IPython.utils.contexts', 'IPython.core.magics.code', 'IPython.core.magics.config', 'IPython.core.magics.display', '_lsprof', 'profile', 'cProfile', 'pstats', 'timeit', 'IPython.utils.module_paths', 'IPython.utils.timing', 'IPython.core.magics.execution', 'IPython.core.magics.extension', 'IPython.core.magics.history', 'IPython.core.magics.logging', 'IPython.core.magics.namespace', 'IPython.core.magics.osm', 'IPython.core.magics.packaging', 'IPython.core.pylabtools', 'IPython.core.magics.pylab', 'IPython.core.magics.script', 'IPython.core.magics', 'IPython.core.shellapp', 'IPython.extensions', 'IPython.extensions.storemagic', 'IPython.terminal.ipapp', 'IPython.terminal.embed', 'IPython.utils.frame', 'IPython', 'ipykernel.control', 'ipykernel.heartbeat', 'ipykernel.iostream', 'comm.base_comm', 'comm', 'ipykernel.jsonutil', 'psutil._common', 'psutil._compat', 'psutil._psutil_windows', 'psutil._pswindows', 'psutil', 'tornado.gen', 'tornado.locks', 'tornado.queues', 'ipykernel.kernelbase', 'ipykernel.comm.comm', 'ipykernel.comm.manager', 'ipykernel.comm', 'ipykernel.compiler', 'debugpy._version', 'debugpy.public_api', 'debugpy', 'debugpy._vendored._util', 'debugpy._vendored', '_pydevd_bundle', 'encodings.ascii', 'encodings.latin_1', 'stringprep', 'encodings.idna', '_pydevd_bundle.pydevd_vm_type', '_pydev_bundle', 'xmlrpc', 'xml.parsers', 'pyexpat.errors', 'pyexpat.model', 'pyexpat', 'xml.parsers.expat.model', 'xml.parsers.expat.errors', 'xml.parsers.expat', 'gzip', 'xmlrpc.client', 'http.server', 'xmlrpc.server', '_pydev_bundle._pydev_saved_modules', '_pydevd_bundle.pydevd_constants', '_pydev_runfiles', '_pydevd_frame_eval', 'pydev_ipython', 'plistlib', 'pkg_resources.extern', 'pkg_resources._vendor', 'pkg_resources._vendor.jaraco', 'pkg_resources.extern.jaraco', 'pkg_resources._vendor.more_itertools.recipes', 'pkg_resources._vendor.more_itertools.more', 'pkg_resources._vendor.more_itertools', 'pkg_resources.extern.more_itertools', 'pkg_resources.extern.jaraco.functools', 'pkg_resources.extern.jaraco.context', 'pkg_resources.extern.jaraco.text', '_win32sysloader', 'pywintypes', 'pythoncom', 'win32api', 'win32com.gen_py', 'win32com', 'win32com.shell', 'pkg_resources._vendor.appdirs', 'pkg_resources.extern.appdirs', 'pkg_resources._vendor.packaging.__about__', 'pkg_resources._vendor.packaging', 'pkg_resources.extern.packaging', 'pkg_resources.extern.packaging._structures', 'pkg_resources.extern.packaging.version', 'pkg_resources._vendor.packaging._manylinux', 'pkg_resources._vendor.packaging._musllinux', 'pkg_resources.extern.packaging.tags', 'pkg_resources.extern.packaging.utils', 'pkg_resources.extern.packaging.specifiers', 'pkg_resources._vendor.pyparsing.util', 'pkg_resources._vendor.pyparsing.unicode', 'pkg_resources._vendor.pyparsing.exceptions', 'pkg_resources._vendor.pyparsing.actions', 'pkg_resources._vendor.pyparsing.results', 'pkg_resources._vendor.pyparsing.core', 'pkg_resources._vendor.pyparsing.helpers', 'pkg_resources._vendor.pyparsing.testing', 'pkg_resources._vendor.pyparsing.common', 'pkg_resources._vendor.pyparsing', 'pkg_resources.extern.pyparsing', 'pkg_resources.extern.packaging.markers', 'pkg_resources.extern.packaging.requirements', 'pkg_resources', 'pydevd_plugins', '_pydev_bundle.pydev_log', '_pydev_bundle._pydev_filesystem_encoding', '_pydevd_bundle.pydevd_comm_constants', 'pydevd_file_utils', '_pydev_

In [37]:
#System Limits
import sys

print(sys.maxsize)   # Max int value
print(sys.float_info) # Info about floats
print(sys.getrecursionlimit())  # Current recursion limit
sys.setrecursionlimit(2000)     # Set recursion depth

9223372036854775807
sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)
2000

In [38]:
#Reference Counting & Memory

import sys

a = []
print(sys.getrefcount(a))  # Number of references to object
print(sys.getsizeof(a))    # Memory size of object

2
56

# file handling --"open" used to open a file in specific mode
    obj = open("file.ext", "r")

In [53]:
fileobj = open("file_1.txt", "r")  # 'r' -- immutable mode we can extract the content from the file but cannot
# delete or insert new data to the file
print(fileobj.read())
fileobj.close()

this is a new file with write mode contentthis data inserted by append mode
a new line again inserted
python programming language
Artificial Intelligence
Neural Networks, CNN, RNN

In [123]:
obj = open("file_1.txt", "r")
obj.readline()

'this is a new file with write mode contentthis data inserted by append mode\n'

In [124]:
obj.readline()

'a new line again inserted\n'

In [125]:
obj.readline()

'python programming language\n'

In [126]:
obj.readline()

'Artificial Intelligence\n'

In [128]:
obj.readline()

'ural Networks, CNN, RNN'

In [129]:
# if we want to open a file in a specific namespace
#context manager-- when you intent open a func or mechanism that hsould work on a spcific blok

with open("file_1.txt", "r") as f:

    # opening the with in the specific namespace
    print(f.read())

f.read()

this is a new file with write mode contentthis data inserted by append mode
a new line again inserted
python programming language
Artificial Intelligence
Neural Networks, CNN, RNN

ValueError: I/O operation on closed file.

In [130]:
with open("file_1.txt", "r") as f:
    data = list(f.readlines())  # it will return each line as seperate string
    print(data)

['this is a new file with write mode contentthis data inserted by append mode\n', 'a new line again inserted\n', 'python programming language\n', 'Artificial Intelligence\n', 'Neural Networks, CNN, RNN']

In [131]:
# w -- if a file already exists. remove existing content from the file and enter the new data
# if the doesn't exist it will create a new file and add the datas
with open("file.txt", "w") as f:
    f.write("this is the new content created with open mode \n")
    f.write("second line with python \n")
    f.write("Third line of data \n")

In [60]:
with open("file.txt", "w") as f:
    f.writelines(["python programming\n", "file handling with writemode\n", "testing the writelines\n"])

In [132]:
with open("file.txt", "w") as f:
    f.writelines(("Natural language processing\n", "convolutional neural networks\n", "Generative pretrained transformers\n"))

In [133]:

count = 0
for line in open("file.txt", "r"):
    print(line)
    count +=1

print("count of the lines", count)

Natural language processing

convolutional neural networks

Generative pretrained transformers

count of the lines 3

In [134]:
# append will add the data in the existing file without removing existing content.
with open("file.txt", "a") as f:
    f.write("\n this is the fourth line")

In [63]:
# striping the file spaces 
for line in open("file.txt"):
    print(line)

             python programming

file handling with writemode

          testing the writelines



 this is the fourth line

In [64]:
# striping the file spaces 
for line in open("file.txt"):
    print(line.strip())

python programming
file handling with writemode
testing the writelines

this is the fourth line

In [188]:
# when we open a file with x mode if the file already existe it will raise error else it will create empty file

obj = open("file_1.txt", "x")

FileExistsError: [Errno 17] File exists: 'file_1.txt'

In [189]:
# binary files -.jpeg,.png, .mp4,.mp3

with open("kailash.jpg", "rb") as f:
    #data = f.read(400) # specifying the count of binary data here
    #print(data[:200])  # specifyin the count on binary data which we want to see
    data = f.read()
    print(data[:100])

b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00\x00\x01\x00\x01\x00\x00\xff\xdb\x00\x84\x00\x08\x06\x06\x07\x06\x05\x08\x07\x07\x07\t\t\x08\n\x0c\x14\r\x0c\x0b\x0b\x0c\x19\x12\x13\x0f\x14\x1d\x1a\x1f\x1e\x1d\x1a\x1c\x1c $.\' ",#\x1c\x1c(7),01444\x1f\'9=82<.342\x01\t\t\t\x0c\x0b\x0c\x18\r\r\x18'

In [191]:
with open("kailash.jpg", "rb") as f:
    data = f.read()
    with open("copy_kailash.png", "wb") as d:
        d.write(data)

In [192]:
with open("copy_kailash.png", "ab") as file1:
    file1.write(b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00\x00\x01\x00\x01\x00\x00\xff\xdb\x00\x84\x00\x08\x06\x06\x07\x06\x05\x08\x07\x07\x07\t\t\x08\n\x0c\x14\r\x0c\x0b\x0b\x0c\x19\x12\x13\x0f\x14\x1d\x1a\x1f\x1e\x1d\x1a\x1c\x1c $.\' ",#\x1c\x1c(7),01444\x1f\'9=82<.342\x01\t\t\t\x0c\x0b\x0c\x18\r\r\x18')

In [194]:
# csv 

with open("employee.csv", "r") as f:
    print(f.read())

name,salary,exp,city,age,Gender
john,3000,4,losvegas,30,Male
doe,4000,5, dc,25,Female
robert,8000,6, paris,27,Male
chris,9000,7,newyork,24,Female
,3000,,losvegas,35,Male
john,3000,4,losvegas,33,Female
evans,,4,losvegas,31,Male
tom,3000,4,,37,Female

In [195]:
import csv  # a library that will convert text data into csv data into list of rows

with open("employee.csv", "r") as f:
    records = csv.reader(f)
    for record in records:
        print(record)

['name', 'salary', 'exp', 'city', 'age', 'Gender']
['john', '3000', '4', 'losvegas', '30', 'Male']
['doe', '4000', '5', ' dc', '25', 'Female']
['robert', '8000', '6', ' paris', '27', 'Male']
['chris', '9000', '7', 'newyork', '24', 'Female']
['', '3000', '', 'losvegas', '35', 'Male']
['john', '3000', '4', 'losvegas', '33', 'Female']
['evans', '', '4', 'losvegas', '31', 'Male']
['tom', '3000', '4', '', '37', 'Female']

In [175]:
import csv  # a library that will convert text csv data into list of rows

with open("employee.csv", "r") as f:
    records = csv.DictReader(f)
    for record in records:
        print(record)

{'name': 'john', 'salary': '3000', 'exp': '4', 'city': 'losvegas', 'age': '30', 'Gender': 'Male'}
{'name': 'doe', 'salary': '4000', 'exp': '5', 'city': ' dc', 'age': '25', 'Gender': 'Female'}
{'name': 'robert', 'salary': '8000', 'exp': '6', 'city': ' paris', 'age': '27', 'Gender': 'Male'}
{'name': 'chris', 'salary': '9000', 'exp': '7', 'city': 'newyork', 'age': '24', 'Gender': 'Female'}
{'name': '', 'salary': '3000', 'exp': '', 'city': 'losvegas', 'age': '35', 'Gender': 'Male'}
{'name': 'john', 'salary': '3000', 'exp': '4', 'city': 'losvegas', 'age': '33', 'Gender': 'Female'}
{'name': 'evans', 'salary': '', 'exp': '4', 'city': 'losvegas', 'age': '31', 'Gender': 'Male'}
{'name': 'tom', 'salary': '3000', 'exp': '4', 'city': '', 'age': '37', 'Gender': 'Female'}

In [196]:
with open("employee.csv", "r") as f:
    records = csv.reader(f)
    for record in records:
        print(record)

        with open("sample.csv", "a") as d:
            writer = csv.writer(d)
            writer.writerow(record)

['name', 'salary', 'exp', 'city', 'age', 'Gender']
['john', '3000', '4', 'losvegas', '30', 'Male']
['doe', '4000', '5', ' dc', '25', 'Female']
['robert', '8000', '6', ' paris', '27', 'Male']
['chris', '9000', '7', 'newyork', '24', 'Female']
['', '3000', '', 'losvegas', '35', 'Male']
['john', '3000', '4', 'losvegas', '33', 'Female']
['evans', '', '4', 'losvegas', '31', 'Male']
['tom', '3000', '4', '', '37', 'Female']

In [197]:
# write mode base csv creationg

with open("sample.csv", "w") as f:
    writer = csv.writer(f)

    writer.writerow(["EmpName", "salary", "street"])
    writer.writerow(["user1", "200000", "manhattan"])
    writer.writerow(["user2", "300000", "baker"])

In [198]:
with open("sample.csv", "w") as f:
    fields = ["std_id", "std_name", "std_course"]
    writer = csv.DictWriter(f, fieldnames =fields )

    writer.writerow({"std_id":2,"std_name":"user3", "std_course":"python" })
    writer.writerow({"std_id":4,"std_name":"user4", "std_course":"fullstack" })
    writer.writerow({"std_id":5,"std_name":"user5", "std_course":"AI" })

In [199]:
data = open("employee.json", "r")
record = data.read()
print(type(record))
record

<class 'str'>

'{"name":{"0":"john","1":"doe","2":"robert","3":"chris","4":null,"5":"john","6":"evans","7":"tom"},"salary":{"0":3000.0,"1":4000.0,"2":8000.0,"3":9000.0,"4":3000.0,"5":3000.0,"6":null,"7":3000.0},"exp":{"0":4.0,"1":5.0,"2":6.0,"3":7.0,"4":null,"5":4.0,"6":4.0,"7":4.0},"city":{"0":"losvegas","1":" dc","2":" paris","3":"newyork","4":"losvegas","5":"losvegas","6":"losvegas","7":null},"age":{"0":30,"1":25,"2":27,"3":24,"4":35,"5":33,"6":31,"7":37},"Gender":{"0":"Male","1":"Female","2":"Male","3":"Female","4":"Male","5":"Female","6":"Male","7":"Female"}}'

In [200]:
import json
data = open("employee.json", "r")
json_record = json.load(data)
json_record

{'name': {'0': 'john',
  '1': 'doe',
  '2': 'robert',
  '3': 'chris',
  '4': None,
  '5': 'john',
  '6': 'evans',
  '7': 'tom'},
 'salary': {'0': 3000.0,
  '1': 4000.0,
  '2': 8000.0,
  '3': 9000.0,
  '4': 3000.0,
  '5': 3000.0,
  '6': None,
  '7': 3000.0},
 'exp': {'0': 4.0,
  '1': 5.0,
  '2': 6.0,
  '3': 7.0,
  '4': None,
  '5': 4.0,
  '6': 4.0,
  '7': 4.0},
 'city': {'0': 'losvegas',
  '1': ' dc',
  '2': ' paris',
  '3': 'newyork',
  '4': 'losvegas',
  '5': 'losvegas',
  '6': 'losvegas',
  '7': None},
 'age': {'0': 30,
  '1': 25,
  '2': 27,
  '3': 24,
  '4': 35,
  '5': 33,
  '6': 31,
  '7': 37},
 'Gender': {'0': 'Male',
  '1': 'Female',
  '2': 'Male',
  '3': 'Female',
  '4': 'Male',
  '5': 'Female',
  '6': 'Male',
  '7': 'Female'}}

In [201]:
type(json_record)

dict

In [202]:
# how to convert a string into an json
str1 = '{"name":"user", "city":"florida", "nation":"canada"}'
type(str1)

str

In [203]:
import json
data  = json.loads(str1)
data

{'name': 'user', 'city': 'florida', 'nation': 'canada'}

In [204]:
type(data)

dict

In [205]:
import json

insert_data = {'name': 'user', 'city': 'florida', 'nation': 'canada'}

with open("sample.json", "w") as f:
    json.dump(insert_data, f)

In [206]:
4/0

ZeroDivisionError: division by zero

In [41]:
"hello"/23
print("hello")
print("world")

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [209]:
try: 
    """
    a try block where we can put our suspicious code if the code runs withou raising an error we
    will be able see the result if the code raises any error the except block will execute
    """
    a = eval(input("enter the first value "))
    b = eval(input("enter the second value"))

    print(a/b)

except:
    
    print("something went wrong")


print("hello")
print("world")

enter the first value  8
enter the second value 4

2.0
hello
world

In [211]:
# multiple exceptions

try: 
    
    a = eval(input("enter the first value "))
    b = eval(input("enter the second value"))

    print(a/b)

except TypeError:
    print("when we try to perform actions inbetween two different types of the data we will get type error")
except ZeroDivisionError:
    print("if we use the denominator as 0 we will get Zero Division Error")
except:
    print("something went wrong")

enter the first value  "hello"
enter the second value 9

when we try to perform actions inbetween two different types of the data we will get type error

In [213]:
try: 
    """
    a try block where we can put our suspicious code if the code runs withou raising an error we
    will be able see the result if the code raises any error the except block will execute
    """
    a = eval(input("enter the first value "))
    b = eval(input("enter the second value"))

    print(a/b)

except Exception as e:
    print(f"your try block is facing : {e}")

enter the first value  8
enter the second value 0

your try block is facing : division by zero

In [215]:
# multiple exceptions

try: 
    
    a = eval(input("enter the first value "))
    b = eval(input("enter the second value"))

    print(a/b)

except TypeError:
    print("when we try to perform actions inbetween two different types of the data we will get type error")
except ZeroDivisionError:
    print("if we use the denominator as 0 we will get Zero Division Error")
else:
    """
    a else block in a try except will execute when the try block runs without any error
    """
    print("try ran successfully")
finally:
    """
    regardless of try, except-- finally block always execute
    """
    print("end of the error handling")

enter the first value  8
enter the second value 4

2.0
try ran successfully
end of the error handling

In [304]:
try:
    """
    according our wish or condition we can raise our own exceptions
    """
    a = eval(input(">"))
    if a>10:
        raise RuntimeError
    elif a<10:
        raise ValueError
        

    print("you guessed the right answer")
except RuntimeError:
    print("the guessed value is bigger than ans")

except ValueError:
    print("the guessed value is smaller than ans")

> 12

the guessed value is bigger than ans

In [ ]:
# create own exceptions

class ValueBigError(Exception):
    pass

class ValueSmallError(Exception):
    pass



try:
    """
    according our wish or condition we can raise our own exceptions
    """
    a = eval(input(">"))
    if a>10:
        raise ValueBigError
    elif a<10:
        raise ValueSmallError

    print("you guessed the right answer")
except ValueBigError:
    print("the guessed value is bigger than ans")

except ValueSmallError:
    print("the guessed value is smaller than ans")

In [267]:
# create own exceptions

class ValueBig(Exception):
    def __init__(self):
        self.message = "ValueBig exception happens when you guess bigger value then ans"

class ValueSmall(Exception):
    def __init__(self):
        self.message = "ValueSmall exception happens when you guess Smaller value then ans"



try:
    """
    according our wish or condition we can raise our own exceptions
    """
    a = eval(input(">"))
    if a>10:
        raise ValueBig
    elif a<10:
        raise ValueSmall

    print("you guessed the right answer")
except ValueBig as e:
    print(e.message)

except ValueSmall as e:
    print(e.message)

> 9

ValueSmall exception happens when you guess Smaller value then ans

In [307]:
# create own exceptions

class ValueBig(Exception):
    def __str__(self):
        return "ValueBig exception happens when you guess bigger value then ans"

class ValueSmall(Exception):
    def __str__(self):
        return "ValueSmall exception happens when you guess Smaller value then ans"



try:
    """
    according our wish or condition we can raise our own exceptions
    """
    a = eval(input(">"))
    if a>10:
        raise ValueBig
    elif a<10:
        raise ValueSmall

    print("you guessed the right answer")
except ValueBig as e:
    print(e)

except ValueSmall as e:
    print(e)

> 10

you guessed the right answer

# OOPS 
    object orientedd programming system -- using the object we can bundle n number functionalities as well as logics, blocks of code under single object
    => class -- it is a blueprint of objects with in a class we can write methods, variable, constructors, instance attributes inner classes
    => object -- a literal property accessor in other words instance of a class we can use the objects  to call all the methods, variables, attributes, inner class objects we can create n number of object for a class

    => inheritence deriving all of the properties, var, methods from a class to another class inheritence
    => polymorphism -- poly -- many , morphism -forms -- same function or operator or entity can behave differently depending on the object or data type
    1.method overriding, 2.method overloading, 3. operator overriding, 4. duck typing
    => encapsulation -- bundling data, methods inside a class or gathering n number of codes logics, block functionalities under a class
    is called encapsulations
    =>Abstraction -- hiding implementation detaisl and showing only what is necessary which focuses on what an object does instead of how it does it in python usually this used in abstract classes and interfaces and object (or) showing the necessary part to the end user and hiding the logis and codes is called abstraction\

In [308]:
class Test1:
    print("this is the first oops concept message")

this is the first oops concept message

In [309]:
class Test1:
    x = 90
    y = 67
    print("this is the first oops concept message")

obj = Test1()
#print(x)
obj.x

this is the first oops concept message

90

In [310]:
obj.y

67

In [312]:
class Test1:
    def add(self, x,y):
        print(x+y)

obj = Test1()
obj.add(4,2)

6

In [313]:
print(obj.x)

AttributeError: 'Test1' object has no attribute 'x'

In [317]:
class Test1:
    """
    every constructor or a mehod we define within a class will take the first parameter as a instance
    """
    
    def add(self, x,y):
        """
        any function we define within a class we call it as a method
        """
        self.v1 = x
        self.v2 = y
        print(x+y)

obj = Test1()
obj.add(4,2)

6

In [318]:
obj.v1

4

In [319]:
obj.v2

2

In [321]:
class Test1:
    d1 = 78
    def add(self, x,y):
        print(x+y+self.d1)
        #print(x+y+d1)

obj = Test1()
obj.add(4,2)

84

In [322]:
class Test1:
    
    def values(self, x,y):
        self.v1 = x
        self.v2 = y
        

    def add(self):
        print(self.v1+self.v2)

    def sub(self):
        print(self.v1-self.v2)

    

obj = Test1()
obj.values(4,2)

In [323]:
obj.add()

6

In [324]:
obj.sub()

2

In [325]:
obj.v1

4

In [326]:
obj.v2

2

In [327]:
# constructors
class Test1:
    def __init__(self,p1,p2):
        """
        initializer constructor will execute when we call or create an object for class so we can pass the 
        arguments for the class initializer will take those arguments
        __init__ will never use return statement
        explicitly also we can call a constructor
        """
        
        self.v1 = p1
        self.v2 = p2

    
    def add(self):
        return self.v1+self.v2

obj = Test1(4,2)
obj.add()

6

In [18]:
# Destructor

class Student:
    def __init__(self, name):
        self.name = name
        print(f"Hello {self.name}, object created.")

    def __del__(self):
        print(f"Goodbye {self.name}, object destroyed.")

s1 = Student("Bob")
del s1   # explicitly deleting object

Hello Bob, object created.
Goodbye Bob, object destroyed.

## Encapsulation

### Definition:
Encapsulation means wrapping data (variables) and methods (functions) into a single unit (class).
It also allows data hiding â†’ restricting direct access to variables and only allowing access through methods.

In [20]:
class BankAccount:
    def __init__(self, account_number, balance):
        self.account_number = account_number  # public
        self._balance = balance               # protected
        self.__pin = 1234                     # private

    def deposit(self, amount):
        self._balance += amount
        print(f"Deposited {amount}, New Balance: {self._balance}")

    def get_balance(self, pin):
        if pin == self.__pin:
            return self._balance
        else:
            return "Access Denied!"

acc = BankAccount("12345", 1000)
acc.deposit(500)

print(acc.account_number)   # âœ… Public
print(acc._balance)         # âš ï¸ Possible, but not recommended
#print(acc.__pin)          # âŒ Error
print(acc.get_balance(1234)) # âœ… Access through method

Deposited 500, New Balance: 1500
12345
1500

AttributeError: 'BankAccount' object has no attribute '__pin'

## Abstraction

### Definition:
Abstraction means hiding implementation details and showing only the essential features.
It allows us to focus on what an object does, not how it does it.

In [21]:
from abc import ABC, abstractmethod

class Vehicle(ABC):  # Abstract Base Class
    @abstractmethod
    def start_engine(self):
        pass

class Car(Vehicle):
    def start_engine(self):
        return "Car engine started with a key."

class Bike(Vehicle):
    def start_engine(self):
        return "Bike engine started with a button."

v1 = Car()
v2 = Bike()
print(v1.start_engine())
print(v2.start_engine())

Car engine started with a key.
Bike engine started with a button.

In [17]:
class Test1:
    d1 = 78
    
    def __init__(self, x,y):
        self.v1 = x
        self.v2 = y
        

    def add(self): # a method takes instance as first parameter -- instance method
        return self.v1+self.v2

    def sub(self):
        return self.v1-self.v2

    def calc(self):
        print(self.add(), self.sub())
        
obj = Test1(8,2)
obj.calc()

10 6

In [329]:
class Test1:
    a = 56
    def __init__(self, x,y):
        self.v1 = x
        self.v2 = y
        

    def add(self):
        return self.v1+self.v2

    @staticmethod
    def hello():
        """
        a method which does not have any relations in between class level or instance properties
        a stand alone method with in a class
        """
        
        return "hello world"

    @classmethod
    def world(cls):
        """
        a method which allow us to access only the class level properties or multpile instances 
        not with the specific instance level
        properties we cannot even call the instance method too
        """
        print(cls.a)
        print(cls.hello())
        #print(cls.add())
        #print(cls.v1)
        
        

obj = Test1(4,2)
obj.hello()

'hello world'

In [330]:
obj.world()

56
hello world

In [ ]:
obj.add()

In [331]:
class Test1:
    def __init__(self, p1):
        self.v1 = p1

    def display(self):
        print("this is outer class methods with passed data ", self.v1)

    class Test2:
        def __init__(self, p2):
            self.v2 = p2

        def show(self):
            print("this is inner class methods with passed data ", self.v2)


obj = Test1(34)
obj.display()

this is outer class methods with passed data  34

In [332]:
obj.Test2(44).show()

this is inner class methods with passed data  44

In [334]:
innerobj = obj.Test2(23)
innerobj.show()

this is inner class methods with passed data  23

In [337]:
class Test1:
    def __init__(self, p1):
        self.v1 = p1
        self.Inner = self.Test2(89)

    def display(self):
        print("this is outer class methods with passed data ", self.v1)

    class Test2:
        def __init__(self, p2):
            self.v2 = p2

        def show(self):
            print("this is inner class methods with passed data ", self.v2)


obj = Test1(34)
obj.display()

this is outer class methods with passed data  34

In [338]:
obj.Inner.show()

this is inner class methods with passed data  89

In [339]:
# object modifications


class Test1:
    def __init__(self, p1, p2):
        self.x = p1
        self.y = p2
        #return 9

    def calc(self):
        return self.x+self.y,self.x-self.y,self.x*self.y,self.x/self.y

obj = Test1(4,2)
print(obj.calc())

print(obj.x)
print(obj.y)

#modifying the object values
obj.x = 8
obj.y = 4
print(obj.calc())

print(obj.x)
print(obj.y)

(6, 2, 8, 2.0)
4
2
(12, 4, 32, 2.0)
8
4

In [340]:
# instance modifications


class Test2:
    def __init__(self,name, salary):
        self.name = name
        self.salary = salary

    def fullname(self, lastname):
        self.name = self.name+lastname
        
        return f"the full name of the employee is  {self.name}"

    def salaryhike(self, hike):
        self.salary = self.salary+hike
        return f"the total salary with hike is {self.salary}"

obj = Test2("robert", 5000)
print(obj.name)
print(obj.salary)
print(obj.fullname("downey"))
print(obj.salaryhike(3000))
print(obj.name)
print(obj.salary)

robert
5000
the full name of the employee is  robertdowney
the total salary with hike is 8000
robertdowney
8000

In [56]:
# single inheritence -- a class derives the data from only one class

class A:
    x = 90
    def hello(self):
        return "hello world"


class B(A):
    pass

obj = B()
obj.hello()

'hello world'

In [57]:
obj.x

90

In [341]:
class A:
    x = 90
    def hello(self):
        return "hello world"


class B(A):
    def details(self):
        print(super().hello())
        print(super().x)
        return "this is sub class message"
    
obj = B()
obj.details()

hello world
90

'this is sub class message'

In [342]:
class A:
    x = 90
    def hello(self):
        return "hello world"


class B(A):
    def details(self):
        print(A.hello(self))
        print(A.x)

obj = B()
obj.details()

hello world
90

In [370]:
#multiple inheritences -- one superclass inherited by more than on subclasses

class A:
    
    def display(self):
        return "hello world"

class B(A):
    def show(self):
        print(super().display())
        return "B sub class"


class C(A):
    def call(self):
        print(super().display())
        return "C sub class" 


objB = B()
print(objB.show())


objC = C()
print(objC.call())

hello world
B sub class
hello world
C sub class

In [371]:
#hybrid inheritence -- one subclass inheriting more than one superclass
class A:
    x = 90
    def hello(self):
        return "This is class A"


class B:
    def details(self):
       return "this class B"


class C(A,B):
    pass

obj = C()
print(obj.x)
obj.hello()

90

'This is class A'

In [295]:
obj.details()

'this class B'

In [372]:
# multilevel inheritence -- inheriting a Sub class with another class

class A:
    x = 90
    def hello(self):
        return "This is class A"


class B:
    def details(self):
       return "this class B"


class C(A,B):
    def show(self):
        return "this subclass C"


class D(C):
    pass

obj = D()

print(obj.x)
print(obj.details())
print(obj.show())
print(obj.hello())

90
this class B
this subclass C
This is class A

In [373]:
# multilevel inheritence -- inheriting a Sub class with another class

class A:
    x = 90
    def hello(self):
        return "This is class A"


class B:
    def details(self):
       return "this class B"


class C(A,B):
    def show(self):
        return "this subclass C"


class D(C):
    def call(self):
        print(super().hello())
        print(super().x)
        print(super().details())
        print(super().show())

obj = D()

obj.call()

This is class A
90
this class B
this subclass C

In [296]:
a = 9
a = 45
a = [99, 45]

print(a)

[99, 45]

In [375]:

# overriding
def product(a,b):
    return a*b

def product(a,b,c):
    return a*b*c

def product(a,b,c,d):
    return a*b*c*d


print(product(4,2,6,1))
# print(product(3,2,7))
# print(product(4,2))

48

TypeError: product() missing 1 required positional argument: 'd'

In [29]:
product(3,4)

TypeError: product() missing 2 required positional arguments: 'c' and 'd'

In [376]:
from multipledispatch import dispatch


# over loading
@dispatch(int, int)
def product(a,b):
    print("a function with two args")
    return a*b


@dispatch(int, int, int)
def product(a,b,c):
    print("a function with three args")
    return a-b-c

@dispatch(int, int, int, int)
def product(a,b,c,d):
    print("a function with four args")
    return a+b+c+d


print(product(4,2,3,1))
print(product(4,2,3))
print(product(4,2))

a function with four args
10
a function with three args
-1
a function with two args
8

In [377]:
# method overriding

class A:
    def show(self):
        return "this is a Class message"


class B(A):
    def show(self):
        """
        if the super class and the sub class having
        the same instance method name always child class instance method only will
        work. This will allow us to add more functionalities
        """
        
        return "this is child class message"


obj = B()
obj.show()

'this is child class message'

In [300]:
# overloading in the inheritence level

class A:
    def show(self):
        return "this is a Class message"


class B(A):
    def show(self):
        print(super().show())
        return "this is child class message"


obj = B()
obj.show()

this is a Class message

'this is child class message'

In [302]:

class Test1:
    def __init__(self,x):
        self.x = x


obj1 = Test1(4)
obj2 = Test1(8)
print(obj1.x)
print(obj2.x)

obj1+obj2 # we cannot  perform arithmetci ope in between two class obj

4
8

TypeError: unsupported operand type(s) for +: 'Test1' and 'Test1'

In [1]:
#operator overloading

class Test1:
    def __init__(self,x):
        self.x = x

    def __add__(self, other):
        return self.x+other.x

    def __sub__(self, other):
        return self.x-other.x
        
obj1 = Test1(4)
obj2 = Test1(8)

print(obj1+obj2)# when we perform + operator inbetween two objects it will trigger the __add__ constructor
print(obj1-obj2)

12
-4

In [7]:
# operator overriding
class Test1:
    def __init__(self,x):
        self.x = x

    def __add__(self, other):
        return self.x - other.x, self.x/other.x

    def __str__(self):
        # when we put class obj on a print statment 
        return "str triggered based on print"

obj1 = Test1(4)
obj2 = Test1(8)
print(obj1)
obj1+obj2

str triggered based on print

(-4, 0.5)

In [4]:
class Test1:
    def add(self, a,b):
        return a+b
    def add(self, a,b,c):
        return a+b+c
    def add(self, a,b,c,d):
        return a+b+c+d

obj = Test1()
obj.add(2,4, 4)

TypeError: Test1.add() missing 1 required positional argument: 'd'

In [43]:
# with in a class method overloading
class Test1:
    def add(self, a=None,b=None, c=None):
        if a!=None and b != None and c != None:
            return a+b+c
        elif a!=None and b!=None:
            return a+b
        else:
            return a
    

obj = Test1()
print(obj.add(2,4,5))
print(obj.add(2,4))
print(obj.add(2))

11
6
2

In [44]:
# duck typing


class Duck:
    def legs(self):
        print("duck has 2 legs")


class Tiger:
    def legs(self):
        print("Tiger has 4 legs")



class Fish:
    def legs(self):
        print("fish has no legs")



class spider:
    def legs(self):
        print("spider has 8 legs")


for obj in [Duck(), Tiger(), Fish(), spider()]:
    obj.legs()

duck has 2 legs
Tiger has 4 legs
fish has no legs
spider has 8 legs

In [1]:
# function any and all 

#all -- if we want to check every element in a seq  shoud be true

l1 = [12,23,45,6,0,'']
all(l1)

False

In [66]:
# function any and all 

#all -- if we want to check every element in a seq  shoud be true

l1 = [12,23,45,6]
all(l1)

True

In [2]:
# function any and all 

#all -- if we want to check every element in a seq  shoud be true

l1 = [12,23,45,6,0,2,5,9,None,(),"" ]
false_values = [i for i in l1 if bool(i) == False]
print(false_values)

for val in false_values:
    print(l1.index(val))
all(l1)

[0, None, (), '']
4
8
9
10

False

In [3]:
#any -- if we want to check at least anyone value true we can consider that as a true value
l1 = [0, None, []]

any(l1)

False

In [4]:
#any -- if we want to check at least anyone value true we can consider that as a true value
l1 = [0, None, [3]]

any(l1)

True

# iterators
    an object that allows you to traverse through all the element of the sequence
    one element at a time without needing know the underlying memory or data type

In [5]:
# iter -- will convert a sequence into an iterable object
# the loops they will create a explicit variable and store every value of the sequence anc consume memory

l1 = [3,2,6,4]
obj = iter(l1)
next(obj)

3

In [6]:
next(obj)

2

In [7]:
next(obj)

6

In [8]:
next(obj)

4

In [9]:
next(obj)

StopIteration:

In [10]:
l1 = "hello"
obj = iter(l1)
next(obj)

'h'

# Generaors:
     a type of iterables that allow us to generate values one at a time as we iterate through them, instead of string them all in
     memory at once.
     they are usefule for handling alrge datasets or streams of data efficiently
     values are produced only when they needed

In [12]:
# generators are concised way of create iterator memory efficient way

def fun():
    return 3 #[7,5]

for i in fun():
    print(i)

TypeError: 'int' object is not iterable

In [76]:
def fun():
    yield 3
    yield 5
    yield 9

for i in fun():
    print(i)

3
5
9

# Difference between Generator and Functions

    Functions:
        use return to return a single value
        start the execution from the beginning each time
        suitable for computations requiring the entire function
        execution and all the values at once

    generators:
        use yield to produce values
        maintain state between calls
        Suitable for streaming large datasets

In [13]:
def my_generator():
    """
    the yield keyword pauses the function, save its current state
    when the function is getting called again, it resumes executions from where it
    left off
    """
    
    yield 1
    yield 2
    yield 3

obj = my_generator()

print(next(obj))
print(next(obj))
print(next(obj))

1
2
3

In [14]:
gen1 = (x*2 for x in range(5))

next(gen1)

0

In [15]:
next(gen1)

2

In [16]:
next(gen1)

4

In [17]:
next(gen1)

6

In [18]:

def fib(n):
    a,b = 0,1
    while a<n:
        yield a
        a,b = b,a+b


for i in fib(2000):
    print(i)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597

In [21]:
from collections import *

"""
named tuple -- its like a regular tuple but provides named fields to access the data of the tuple
for better readability
"""


# namedtuple allow to access tuple records using keys
std = namedtuple("i", ["name", "id", "city"])  # defining the keys for the tuple
s1 = std("user1", 4, "bengaluru")

s1[1]

4

In [22]:
s1.city

'bengaluru'

In [108]:
import collections
dir(collections)

['ChainMap',
 'Counter',
 'OrderedDict',
 'UserDict',
 'UserList',
 'UserString',
 '_Link',
 '_OrderedDictItemsView',
 '_OrderedDictKeysView',
 '_OrderedDictValuesView',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_chain',
 '_collections_abc',
 '_count_elements',
 '_eq',
 '_iskeyword',
 '_itemgetter',
 '_proxy',
 '_recursive_repr',
 '_repeat',
 '_starmap',
 '_sys',
 '_tuplegetter',
 'abc',
 'defaultdict',
 'deque',
 'namedtuple']

In [24]:
#OrderedDict -- a dictionary that remembers the incoming outgoing actions
# preserves the insetion order
d1 = OrderedDict({"a":"apple", "b":"banana", "c":"cherry"})

print(d1)
d1.pop("a")
print(d1)

OrderedDict([('a', 'apple'), ('b', 'banana'), ('c', 'cherry')])
OrderedDict([('b', 'banana'), ('c', 'cherry')])

In [25]:
d1["a"] = "jackfruit"
d1

OrderedDict([('b', 'banana'), ('c', 'cherry'), ('a', 'jackfruit')])

In [29]:
#defaultdict -- a dictionary that never throws an error but returns default value

dd = defaultdict(lambda : 50)
dd["a"] = 90
dd["b"] = 30
dd["c"] = 12

dd
/

defaultdict(<function __main__.<lambda>()>, {'a': 90, 'b': 30, 'c': 12})

In [30]:
dd["m"]

50

In [31]:
dd["a"]

90

In [33]:
d1 = {"a":"apple", "b":"banana", "c":"cherry"}
d2 = {"e":"elephant", "f":"fruit", "c":"kiwi"}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [34]:
d1|d2

{'a': 'apple', 'b': 'banana', 'c': 'kiwi', 'e': 'elephant', 'f': 'fruit'}

In [35]:
# allow us to groups multiple dictionaries into a single logical view
ChainMap(d1,d2)  # will bring more than one dictionary in a tuple

ChainMap({'a': 'apple', 'b': 'banana', 'c': 'cherry'}, {'e': 'elephant', 'f': 'fruit', 'c': 'kiwi'})

In [36]:
#deque -- it will add or remove the data from start also

l1 = deque([3,2,6,4])
l1.popleft()

3

In [122]:
l1

deque([2, 6, 4])

In [123]:
l1.appendleft(8)

In [124]:
l1

deque([8, 2, 6, 4])

In [125]:
# Counter  -- it will return each element occurance count
import collections

l1 = [1,2,3,4,5,1,2,3,4,5,1,2,3]
collections.Counter(l1)

Counter({1: 3, 2: 3, 3: 3, 4: 2, 5: 2})

In [45]:
# to customize the a dictionary according  to our wish we use "UserDict"

from collections import *

class CustomDict(UserDict):
    def popitem(self):
        """
        disabling the popitem from our customized dictionary
        """
        raise RuntimeError("you are not authorized to remove any data from my dictionary")

    def add_values(self):
        """
        introducing a new key into the dictionary
        """
        result = []
        for key in self:
            result.append(self[key])

        return sum(result)


cd_1 = CustomDict({"apple":34, "banana":23, "cherry":90})

#cd_1.popitem()

cd_1.keys()

KeysView({'apple': 34, 'banana': 23, 'cherry': 90})

In [191]:
cd_1.add_values()

147

In [46]:
class CustomList(UserList):
    def append(self, a = None):
        """
        disabling the append method
        """
        print("adding new elements are prohibited in my list")

    def multitwo(self):
        """
        introducting a method that will multiply all the elements in the list
        """
        result = [] #this is not a customized list this one is default so we can call append
        for i in self:
            result.append(i*2)
        return result


obj = CustomList([5,2,7,9,1,45])

obj.append(90)

adding new elements are prohibited in my list

In [47]:
obj

CustomList([5, 2, 7, 9, 1, 45])

In [48]:
obj.multitwo()

[10, 4, 14, 18, 2, 90]

In [49]:
# in python if we want to create basic ui we have a inbuild library called tkinter

import tkinter as tk

window = tk.Tk()  # a basic layout

window.title("basic python UI")

window.mainloop()

In [51]:
import tkinter as tk

window = tk.Tk()  # a basic layout

window.title("basic python UI")

Label = tk.Label(window, text = "Hello this is Python Tkinter GUI", font = ("Arial", 12))
Label.pack()

window.mainloop()

In [52]:
import tkinter as tk

window = tk.Tk()  # a basic layout

window.title("basic python UI")
window.geometry("500x500") # setting the default size of the GUI

Label = tk.Label(window, text = "Hello this is Evening python batch", font = ("Arial", 12))
Label.pack()

window.mainloop()

In [53]:
import tkinter as tk

window = tk.Tk()  # a basic layout

window.title("basic python UI")
window.geometry("500x500") # setting the default size of the GUI

Label = tk.Label(window, text = "Hello this is Evening python batch", font = ("Arial", 12))
Label.pack()

def fun():
    Label.config(text = "you clicked the button")


button = tk.Button(window, text = "click here", command = fun)
button.pack(pady = 10)


window.mainloop()

In [54]:
import tkinter as tk

window = tk.Tk()  # a basic layout

window.title("basic python UI")
window.geometry("500x500") # setting the default size of the GUI

Label = tk.Label(window, text = "Hello this is Evening python batch", font = ("Arial", 12))
Label.pack()

def fun():
    Label.config(text = f"Hello Mr. {entry.get()}")

entry = tk.Entry(window, width = 20)
entry.pack()

button = tk.Button(window, text = "click", command = fun)
button.pack()

window.mainloop()

In [207]:
import tkinter as tk

window = tk.Tk()  # initializing a basic window

window.title("Basic Title")

window.geometry("600x600")

label = tk.Label(window, text = "This is my TK GUI message", font = ("Times New Roman", 20))
label.pack(pady = 10)

def fun():
    label.config(text = f'Hello MRs {feedback.get("1.0", "end- 1c")}')  # get(start, end)


feedback = tk.Text(window, height = 10, width = 20)   # bigger texts 
feedback.pack(pady = 6)

# insert("1.o") enter the text into the specified index
feedback.insert("1.0", "Hello, Tkinter is a basic GUI development library ")


button = tk.Button(window, text = "Submit", command = fun)
button.pack(pady = 30)



window.mainloop()

In [2]:
import tkinter as tk
from tkinter import ttk


window = tk.Tk()
window.title("Spin box")
window.geometry("400x400")

label = tk.Label(window, text = "This is my TK GUI message", font = ("Times New Roman", 20))
label.pack(pady = 10)

spin =  ttk.Spinbox(window, from_=0, to= 15, wrap = True)
spin.pack()

window.mainloop()

In [3]:
import tkinter as tk
from tkinter import messagebox


window = tk.Tk()
window.title("show box")
window.geometry("400x400")


label = tk.Label(window, text = "This is my TK GUI message", font = ("Times New Roman", 20))
label.pack(pady = 10)

def hello():
    messagebox.showinfo("success")


button  = tk.Button(window, text = "click", command = hello)
button.pack()    

window.mainloop()

In [4]:
import tkinter as tk


window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

# drawing the designs 
grap = tk.Canvas(window, width = 400, height = 250, bg = "grey")
grap.pack(pady=10)
grap.create_rectangle(170,240,250,175, fill = "red")
window.mainloop()

In [5]:
import tkinter as tk
from tkinter.ttk import Combobox

window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

# creating a dropdown box
combo = Combobox(window, values = ["apple", "orange", "banana", "kiwi"])
combo.set("choose the fruit")
combo.pack(pady = 20)
window.mainloop()

In [7]:
import tkinter as tk


window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

# displaying  messages in the window body
label = tk.Label(window, text = "python based GUI development",font = ("Verdana", 20))
label.pack(pady = 20)

def check_status():
    if var.get():  # returns the current state of the box
        label.config(text = "Check box has been marked!!")
    else:
        label.config(text = "you have to agree the terms and conditions!!")


var = tk.BooleanVar()  # track the state of  the checkbutton
checkbox = tk.Checkbutton(window, text = "MarkHere", variable = var, command = check_status)
checkbox.pack(pady = 10)

label = tk.Label(window, text = "check box need to be checked", font = ("Arial", 13))
label.pack(pady = 10)
window.mainloop()

In [9]:
import tkinter as tk


window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

#display the selected option
def selected():
    label.config(text = f" Selected option is {var.get()}")


var = tk.StringVar(value = "Option not Chosen")

#creating Radion buttons
r1 = tk.Radiobutton(window, text = "Python with Django", variable= var, value = "Python with Django", command=selected)
r2 = tk.Radiobutton(window, text = "Python with DataScience", variable= var, value = "Python with DataScience", command=selected)
r3 = tk.Radiobutton(window, text = "Python with AI", variable= var, value = "Python with AI", command=selected)
r1.pack(pady=10)
r2.pack(pady = 10)
r3.pack(pady=10)

label = tk.Label(window, text = "Select Option")
label.pack(pady = 10)
window.mainloop()

In [11]:
import tkinter as tk


window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

menu = tk.Menu(window)

menu.add_command(label = "File", command = lambda :print("you have clicked file"))
menu.add_command(label = "Edit", command = lambda :print("you have clicked Edit"))

window.config(menu = menu)

window.mainloop()

In [12]:
import tkinter as tk


window = tk.Tk()  # creating the main window
window.title("This is my first GUI")
window.geometry("500x500")

menu_bar = tk.Menu(window)

file_menu = tk.Menu(menu_bar, tearoff = 0)
file_menu.add_command(label = "NewFile", command = lambda : print("New File opening in progress"))
file_menu.add_command(label = "Save", command = lambda : print("File saving in progress"))
file_menu.add_command(label = "open", command = lambda : print("File opening in progress"))

menu_bar.add_cascade(label ="File", menu = file_menu)

edit_menu = tk.Menu(menu_bar, tearoff = 0)
edit_menu.add_command(label = "Copy", command = lambda : print("content copying in progress"))
edit_menu.add_command(label = "Paste", command = lambda : print("content copying in progress"))
edit_menu.add_command(label = "delete", command = lambda : print("content copying in progress"))

menu_bar.add_cascade(label ="Edit", menu = edit_menu)


window.config(menu = menu_bar)

window.mainloop()

In [37]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (8.3.0)

WARNING: Error parsing dependencies of textract: .* suffix can only be used with `==` or `!=` operators
    extract-msg (<=0.29.*)
                 ~~~~~~~^

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [39]:
from mysql import connector

connection = connector.connect(user = "root", password = "12345", host = "localhost", db = "emp")

In [1]:
from mysql import connector

connection = connector.connect(user = "root", password = "12345", host = "localhost", db = "emp")

cursor = connection.cursor()  # which executes the mysql queries and stores the result
cursor.execute("show tables")
tables = cursor.fetchall()

for table in tables:
    print(table)

('address',)
('customers',)
('departments',)
('dummy',)
('emp_sal_bonus',)
('empcopy',)
('employ',)
('employees',)
('high_salary',)
('high_salary_emp',)
('locations',)
('mobile',)
('movies',)
('orders',)
('persons',)
('prime_emp',)
('products',)
('rating',)
('sales',)
('student',)
('student_detail',)
('workers',)

In [4]:
from mysql import connector

connection = connector.connect(user = "root", password = "12345", host = "localhost", db = "emp")

cursor = connection.cursor()
cursor.execute("select * from empcopy")
records = cursor.fetchall()

for record in records:
    print(record)

('front end', 'javascript developer', 'washingto dc', 35000.0, 'sanfrancisco, us', None)
('backend end', 'IT', 'bleeker street dc', 40000.0, 'los vegas, us', None)
('AI', 'IT', 'manhatton dc', 50000.0, 'los angeles, us', 1600)
('ML developer', 'IT', 'san francisco', 11000.0, 'str1 manhattan', None)
('data analyst', 'IT', 'los angeles', 70000.0, 'str1 manhattan', None)
('AI engineer', 'IT', 'san francisco', 90000.0, 'baker st', None)
('dev ops', 'IT', 'alaska', 25000.0, 'chris st,11223', 25000)
('cloud engineer', 'IT', 'florida', 35000.0, 'evans st,11223', 35000)
('ceo', 'admin', 'newyork', 300000.0, 'manhattan st', None)
('AI engineer', 'IT', 'Embrun', 11000.0, 'Boston Canada', None)
('IOT engineer', 'IT', 'united states', 20000.0, 'new jersy', None)
('data maintainer', 'IT', 'paris england', 9000.0, 'embrun canada', None)
('computer vision engineer', 'GenAI', 'united states', 19000.0, 'texas', None)
('data arcitect', 'IT', 'florida', 7000.0, 'embrun canada', 7000)
('image processor', 'IT', 'england', 9200.0, 'london', None)
('reactjs developer', 'IT', 'russia', 4000.0, 'beijing', None)
('query support', 'IT', 'north boston', 18000.0, 'german', None)
('angularjs developer', 'IT', 'moscow', 92000.0, 'moscow', None)
('electronics', 'IT', 'kenya', 1000.0, 'mumbai', None)
('c sharp developer', 'IT', 'russia', 5000.0, 'calicut', None)
('data preprocessig', 'IT', 'india', 2000.0, 'bengaluru', None)
('data creating', 'IT', 'india', 3000.0, 'hyderabad', None)
('content creater', 'IT', 'cuiping', 300.0, 'hello', None)
('mentor', 'IT', 'losvegas', 400.0, 'united states', None)
('racer', 'IT', 'san francisco', 14000.0, 'watson', None)
('firewalldeveloper', 'IT', 'switzerland', 4000.0, 'venice', None)
('racer', 'IT', 'caribean', 15000.0, 'sparrow', None)
('c ++ developer', 'IT', 'moscow', 55000.0, 'ville', None)
('c ++ developer', 'IT', 'moscow', 55000.0, 'ville', None)
('guide', 'IT', 'qin dynasty', 55000.0, 'china wall', None)
('plummer', 'IT', 'caribean bay', 15000.0, 'xyz street', None)
('translator', 'IT', 'france', 55000.0, 'paris tower', None)
('space scientist', 'IT', 'new jersey', 65000.0, 'los angeles tower', None)
('astrounat', 'IT', 'mars bay', 150000.0, 'xyz street', None)
('receptionist', 'IT', 'venus bay', 14000.0, 'abz street', None)
('receptionist', 'IT', 'venus bay', 14000.0, 'abz street', None)
('docker expert', 'IT', 'paris', 65000.0, 'WTC angeles tower', None)
('type writing', 'IT', 'lamburgh', 5000.0, 'magic st', None)
('director', 'IT', 'hollywood', 39000.0, 'oscar street', 600)
('pilot', 'IT', 'Airport city', 60000.0, 'aeroplane str', 600)
('firwall developer', 'devops', 'newyork', 50000.0, 'baker st newjersey', None)
('python tutor', 'edu', 'france', 20000.0, 'paris,eiffel tower', 600)
('gardner', 'Agri cultural', 'umbrella', 4000.0, 'drawing street', None)
('lawn maintenance', 'Decoration', 'alaska', 39000.0, 'slaugter street', 39000)
('data engineer', 'data processes', 'sony', 5000.0, 'info street', 900)
('photographer', 'art', 'san franscisco', 9000.0, 'art street', 1200)
('docker expert', 'cloud computing', 'ontorio', 65000.0, 'WTC angeles tower, paris', 370)
('cnn developer', 'IT', 'newyork', 50000.0, 'baker st newjersey', 900)
('tutor', 'IT', 'paris,eiffel tower', 20000.0, 'france', 900)
('pilot', 'IT', 'paris,eiffel tower', 20000.0, 'france', 900)
('photographer', 'art', 'san franscisco', 9000.0, 'art street', 1200)
('driver', 'car', 'toronto', 65000.0, 'WTC angeles tower, canada', 370)
('pilot', 'IT', 'paris,eiffel tower', 20000.0, 'france', 900)
('tutor', None, None, 9000.0, 'los angeles', None)
('tutor', None, None, 90000.0, 'los angeles', None)
('photographer', 'art', 'san franscisco', 9000.0, 'art street', 1200)
('driver', 'car', 'toronto', 65000.0, 'WTC angeles tower, canada', 370)
('stock creater', 'creater', 'china', 70000.0, 'delivery st, manufacture vill, product town', 700)
('driver', 'racing', 'malibu', 85000.0, 'WTC angeles tower, canada', 470)
('tourist guide', 'guiding', 'malibu', 85000.0, 'pais angeles tower, canada', 470)
('weather anlyst', 'analysis', 'banglore', 63000.0, 'whitfield, winter,banglore town', 900)
('Inspector detective', 'crime resolver', 'police st', 89000.0, 'cop angeles quarters, station', 470)

In [3]:
from mysql import connector

connection = connector.connect(user = "root", password = "12345", host = "localhost", db = "emp")

cursor = connection.cursor()
cursor.execute("insert into empcopy values('Inspector detective','crime resolver','police st',89000, 'cop angeles quarters, station', 470)")

connection.commit()

In [5]:
import tkinter as tk
from tkinter import messagebox
import mysql.connector

# Database connection
def connect_db():
    try:
        conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="12345",
            database="emp"
        )
        return conn
    except mysql.connector.Error as e:
        messagebox.showerror("Database Error", f"Error connecting to database:\n{e}")
        return None

# Insert job into database
def insert_job():
    job = entry_job.get()
    sal = entry_sal.get()
    city = entry_city.get()
    address = entry_address.get()
    incentive = entry_incentive.get()
    
    if job and sal and city and address and incentive:
        conn = connect_db()
        if conn:
            cursor = conn.cursor()
            cursor.execute("INSERT INTO empcopy (job, sal, city, address, incentive) VALUES (%s, %s, %s, %s, %s)", 
                           (job, sal, city, address, incentive))
            conn.commit()
            cursor.close()
            conn.close()
            messagebox.showinfo("Success", "Job added successfully!")
            clear_entries()
            fetch_jobs()
    else:
        messagebox.showwarning("Input Error", "Please enter all fields!")

# Fetch and display jobs
def fetch_jobs():
    conn = connect_db()
    if conn:
        cursor = conn.cursor()
        cursor.execute("SELECT * FROM empcopy")
        rows = cursor.fetchall()
        cursor.close()
        conn.close()

        listbox_jobs.delete(0, tk.END)  # Clear existing entries
        for row in rows:
            listbox_jobs.insert(tk.END, f"Job: {row[0]} | Salary: {row[1]} | City: {row[2]} | Address: {row[3]} | Incentive: {row[4]}")

# Clear input fields
def clear_entries():
    entry_job.delete(0, tk.END)
    entry_sal.delete(0, tk.END)
    entry_city.delete(0, tk.END)
    entry_address.delete(0, tk.END)
    entry_incentive.delete(0, tk.END)

# Tkinter UI
root = tk.Tk()
root.title("MySQL Tkinter Job Management")
root.geometry("450x500")

tk.Label(root, text="Job:").pack()
entry_job = tk.Entry(root)
entry_job.pack()

tk.Label(root, text="Salary:").pack()
entry_sal = tk.Entry(root)
entry_sal.pack()

tk.Label(root, text="City:").pack()
entry_city = tk.Entry(root)
entry_city.pack()

tk.Label(root, text="Address:").pack()
entry_address = tk.Entry(root)
entry_address.pack()

tk.Label(root, text="Incentive:").pack()
entry_incentive = tk.Entry(root)
entry_incentive.pack()

tk.Button(root, text="Add Job", command=insert_job).pack(pady=5)

tk.Label(root, text="Job List:").pack()
listbox_jobs = tk.Listbox(root, width=700, height=100)
listbox_jobs.pack()

tk.Button(root, text="Refresh List", command=fetch_jobs).pack(pady=5)

# Initial fetch
fetch_jobs()

root.mainloop()

In [ ]:
#nettwork programming--all about using python language to handle computer networking requirements:
#socket --it will provide endpoint of a two way commuincation link between  two programs runnig on the network

#server:

import socket
#creating a socket
s = socket.socket()#the connection will ipv4 or ipv6
print('socket created')
#to connect with a port we have to use bind operation  with the socket as a local host
s.bind(('localhost',9998))
#controlling how many number requests allowed for a server
s.listen(2)
print('looking for connection')
while True:
    c, addr = s.accept()
    name = c.recv(1024).decode()#from the client request we receive the message and decode
    print('connection established',addr)
    #computer can understand byte language that kind of data only we can pass through a port
    c.send(bytes('Hi there this python SERVER ','utf-8'))
    print('test message that client sent to the server   :  ', name)
    c.close()

socket created
looking for connection
connection established ('127.0.0.1', 63433)
test message that client sent to the server   :   responding hello this is python CLIENT

In [ ]:
#client 

import socket

client_socket = socket.socket()

#binding the server address

s_address = ("localhost", 9998)

client_socket.connect(s_address)

try:
    #send data
    client_socket.sendall(b"jupyter python client")

    #receive data from the server
    response = client_socket.recv(1024)
    print("server says ", response.decode())
finally:
    client_socket.close()

In [28]:
from datetime import datetime

now =  datetime.now() # retriving the time instance 
now

datetime.datetime(2025, 10, 3, 7, 9, 8, 726252)

In [29]:
print("year", now.year)
print("month", now.month)
print("day", now.day)
print("hour", now.hour)
print("seconds", now.second)
print("minutes", now.minute)

year 2025
month 10
day 3
hour 7
seconds 8
minutes 9

In [30]:
now.date() # to fetch date only

datetime.date(2025, 10, 3)

In [31]:
now.time() # to fetch time only

datetime.time(7, 9, 8, 726252)

In [33]:
now = datetime.now()
# formatting the time
ft = now.strftime("year %Y : month %m : day %d -- hour %H : minute %M : second %S")
ft

'year 2025 : month 10 : day 03 -- hour 07 : minute 10 : second 48'

In [34]:
from datetime import datetime, date

date1 = date(2024,10,23)

date2 = date(2025,11,15) # subtracting one time from another time
dayscount = date2-date1
dayscount.days

388

In [35]:
from datetime import datetime, timedelta

days = timedelta(days = 90)

date2 = datetime.today() # subtracting one time from another time
date2+days

datetime.datetime(2026, 1, 1, 7, 16, 2, 547549)

In [36]:
date2.year

2025

In [38]:
now = datetime.now()
now.strftime("%A")

'Friday'

In [39]:
now = datetime.now()
now.strftime("%B")

'October'

In [40]:
now = datetime.now()
now.strftime("%a")

'Fri'

In [41]:
now = datetime.now()
now.strftime("%b")

'Oct'

In [44]:
random_day = datetime(2024,1,19,8,30,45)
print(random_day.strftime("%A"))
print(random_day.strftime("%B"))
print(random_day.strftime("%b"))
print(random_day.strftime("%a"))

Friday
January
Jan
Fri

In [46]:
import time
lt = time.localtime()
lt

time.struct_time(tm_year=2025, tm_mon=10, tm_mday=3, tm_hour=7, tm_min=22, tm_sec=52, tm_wday=4, tm_yday=276, tm_isdst=0)

In [47]:
f"year {lt.tm_year} month {lt.tm_mon} day {lt.tm_mday}  hour {lt.tm_hour}"

'year 2025 month 10 day 3  hour 7'

In [48]:
t1 = time.time()  # epoch time
t1

1759456581.7437956

In [49]:
time.ctime(t1)

'Fri Oct  3 07:26:21 2025'

In [50]:
# sleep from time library will freeze the program for certain amount of time

print("a message before sleep")
time.sleep(5)
print("a message after 5 seconds")

a message before sleep
a message after 5 seconds

In [71]:
# digital clock using the time library

import time

while True:
    lt = time.localtime()
    instance = time.strftime("%H : %M :%S", lt)
    print(instance)
    time.sleep(1)

08 : 04 :06
08 : 04 :07
08 : 04 :08

KeyboardInterrupt:

In [52]:
# calculating the execution time of a program

# capture the starting time of the program
st = time.time()

for i in range(100000000):
    pass


et = time.time() # capturing the ending time of the program

print("total consumed time : ", et-st)

total consumed time :  3.474501371383667

In [53]:
# capture the starting time of the program
st = time.process_time()

for i in range(100000000):
    pass


et = time.process_time() # capturing the ending time of the program

print("total consumed time : ", et-st)

total consumed time :  3.21875

In [54]:
time.gmtime()

time.struct_time(tm_year=2025, tm_mon=10, tm_mday=3, tm_hour=2, tm_min=9, tm_sec=27, tm_wday=4, tm_yday=276, tm_isdst=0)

In [55]:
utc = time.gmtime()
print(f"utc time {time.strftime('%H %M %S', utc)}")

utc time 02 09 31

In [56]:
# in python we have GIL global interpretter lock this will allow pythong interpretter
# execute one task(Thread) at a time
import time

def hello():
    for i in range(10):
        print("hello " , i)
        time.sleep(1)


def welcome():
    for i in range(10):
        print("python says greetings " , i)
        time.sleep(1)

hello()
welcome()

hello  0
hello  1
hello  2
hello  3
hello  4
hello  5
hello  6
hello  7
hello  8
hello  9
python says greetings  0
python says greetings  1
python says greetings  2
python says greetings  3
python says greetings  4
python says greetings  5
python says greetings  6
python says greetings  7
python says greetings  8
python says greetings  9

In [58]:
# Threading  will help us to execute more than one thread at a time
import threading
import time


def hello():
    for i in range(10):
        print("first thread " , i)
        time.sleep(1)


def welcome():
    for i in range(10):
        print("second thread  " , i)
        time.sleep(1)

# hello()
# welcome()

# creatign the threads and start them at same time only
t1 = threading.Thread(target = hello)
t2 = threading.Thread(target = welcome)
t1.start()
t2.start()

first thread  0
second thread   0
first thread  1
second thread   1
first thread  2
second thread   2
first thread  3
second thread   3
first thread  4
second thread   4
first thread  5
second thread   5
first thread  6
second thread   6
first thread  7
second thread   7
first thread  8
second thread   8
first thread second thread   9
 9

In [62]:
import threading
import time

st = time.time()

def hello():
    for i in range(10):
        print("hello " , i)
        time.sleep(1)


def welcome():
    for i in range(10):
        print("good evening " , i)
        time.sleep(1)



# creatign the threads and start them at same time only
t1 = threading.Thread(target = hello)
t2 = threading.Thread(target = welcome)


t1.start()
t2.start()
t1.join()
t2.join()
# we use thread.join() which allows the threads to complete their task then procedd with remaining flow by merging child threads main thread
et =time.time()

print("total consumet time ", et-st)

hello good evening  0
 0
hello good evening  1
 1
good evening  2
hello  2
hello good evening  3
 3
good evening  4
hello  4
good evening  5
hello  5
good evening  6
hello  6
hello good evening  7
 7
good evening  8
hello  8
good evening  9
hello  9
total consumet time  10.014205694198608

### What is Logging?

#### Logging is a way to track events that happen when software runs.

#### Instead of using print(), logging gives you:

     Different levels of importance (info, warning, error, etc.)
    
     Automatic timestamps
    
    
    Writing logs to files, not just console
    
    Easy to filter, format, and rotate logs


| Level    | Function             | Use case                                 |
| -------- | -------------------- | ---------------------------------------- |
| DEBUG    | `logging.debug()`    | Detailed info (for debugging)            |
| INFO     | `logging.info()`     | General information about program        |
| WARNING  | `logging.warning()`  | Something unexpected, but program runs   |
| ERROR    | `logging.error()`    | Error occurred, program may not continue |
| CRITICAL | `logging.critical()` | Serious error, program may crash         |

In [63]:
import logging

logging.basicConfig(level=logging.DEBUG)

logging.debug("This is a debug message")
logging.info("Program started")
logging.warning("This is a warning")
logging.error("An error occurred")
logging.critical("Critical failure!")

DEBUG:root:This is a debug message
INFO:root:Program started
WARNING:root:This is a warning
ERROR:root:An error occurred
CRITICAL:root:Critical failure!

In [64]:
import logging

logging.basicConfig(
    filename="app.log",
    filemode="w",  # overwrite each time ("a" for append)
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s"
)

logging.info("Logging to a file now")

INFO:root:Logging to a file now

### Formatting Logs

Custom format options:

    %(asctime)s â†’ Timestamp
    
    %(levelname)s â†’ Log level
    
    %(message)s â†’ Log message
    
    %(name)s â†’ Logger name
    
    %(lineno)d â†’ Line number

In [41]:
import logging

logging.basicConfig(
    format="%(levelname)s | %(asctime)s | %(filename)s:%(lineno)d | %(message)s",
    level=logging.DEBUG
)

logging.warning("Custom formatted log")

WARNING:root:Custom formatted log

### Using Custom Logger

Instead of root logger (logging.info()), you can create named loggers:

In [42]:
import logging

# Create logger
logger = logging.getLogger("my_app")
logger.setLevel(logging.DEBUG)

# Create handler
handler = logging.FileHandler("myapp.log")
formatter = logging.Formatter("%(asctime)s - %(name)s - %(levelname)s - %(message)s")
handler.setFormatter(formatter)

logger.addHandler(handler)

# Log messages
logger.info("App started")
logger.error("Something went wrong")

INFO:my_app:App started
ERROR:my_app:Something went wrong

In [ ]:
Rotating Logs

Useful when logs get too big.

In [43]:
import logging
from logging.handlers import RotatingFileHandler

handler = RotatingFileHandler("app.log", maxBytes=2000, backupCount=3)
logging.basicConfig(handlers=[handler], level=logging.INFO)

for i in range(100):
    logging.info(f"Log entry {i}")

INFO:root:Log entry 0
INFO:root:Log entry 1
INFO:root:Log entry 2
INFO:root:Log entry 3
INFO:root:Log entry 4
INFO:root:Log entry 5
INFO:root:Log entry 6
INFO:root:Log entry 7
INFO:root:Log entry 8
INFO:root:Log entry 9
INFO:root:Log entry 10
INFO:root:Log entry 11
INFO:root:Log entry 12
INFO:root:Log entry 13
INFO:root:Log entry 14
INFO:root:Log entry 15
INFO:root:Log entry 16
INFO:root:Log entry 17
INFO:root:Log entry 18
INFO:root:Log entry 19
INFO:root:Log entry 20
INFO:root:Log entry 21
INFO:root:Log entry 22
INFO:root:Log entry 23
INFO:root:Log entry 24
INFO:root:Log entry 25
INFO:root:Log entry 26
INFO:root:Log entry 27
INFO:root:Log entry 28
INFO:root:Log entry 29
INFO:root:Log entry 30
INFO:root:Log entry 31
INFO:root:Log entry 32
INFO:root:Log entry 33
INFO:root:Log entry 34
INFO:root:Log entry 35
INFO:root:Log entry 36
INFO:root:Log entry 37
INFO:root:Log entry 38
INFO:root:Log entry 39
INFO:root:Log entry 40
INFO:root:Log entry 41
INFO:root:Log entry 42
INFO:root:Log entry 43
INFO:root:Log entry 44
INFO:root:Log entry 45
INFO:root:Log entry 46
INFO:root:Log entry 47
INFO:root:Log entry 48
INFO:root:Log entry 49
INFO:root:Log entry 50
INFO:root:Log entry 51
INFO:root:Log entry 52
INFO:root:Log entry 53
INFO:root:Log entry 54
INFO:root:Log entry 55
INFO:root:Log entry 56
INFO:root:Log entry 57
INFO:root:Log entry 58
INFO:root:Log entry 59
INFO:root:Log entry 60
INFO:root:Log entry 61
INFO:root:Log entry 62
INFO:root:Log entry 63
INFO:root:Log entry 64
INFO:root:Log entry 65
INFO:root:Log entry 66
INFO:root:Log entry 67
INFO:root:Log entry 68
INFO:root:Log entry 69
INFO:root:Log entry 70
INFO:root:Log entry 71
INFO:root:Log entry 72
INFO:root:Log entry 73
INFO:root:Log entry 74
INFO:root:Log entry 75
INFO:root:Log entry 76
INFO:root:Log entry 77
INFO:root:Log entry 78
INFO:root:Log entry 79
INFO:root:Log entry 80
INFO:root:Log entry 81
INFO:root:Log entry 82
INFO:root:Log entry 83
INFO:root:Log entry 84
INFO:root:Log entry 85
INFO:root:Log entry 86
INFO:root:Log entry 87
INFO:root:Log entry 88
INFO:root:Log entry 89
INFO:root:Log entry 90
INFO:root:Log entry 91
INFO:root:Log entry 92
INFO:root:Log entry 93
INFO:root:Log entry 94
INFO:root:Log entry 95
INFO:root:Log entry 96
INFO:root:Log entry 97
INFO:root:Log entry 98
INFO:root:Log entry 99

In [66]:
import re
"""
regulare expression will help us to find the patterns, words, boundaries, starts with,
endswith, numbers, special characters, a word that starts with a character, what
are the boundaries of specific word...etcetra"""

txt1 = "the cat and the rat fighting for the hat on the top of a mat and the cat little fat"

# to check a string starts with use ^
result  =  re.findall("^the", txt1)
result

['the']

In [67]:
txt1 = "the cat and the rate fighting for the hat on the top of a mat and the cat little fat"

# to check a string ends with use $
result  =  re.findall("fat$", txt1)
result

['fat']

In [70]:
txt1 = "the cat and the rat fighting for the hat on the top of a mat and the cat little fat"

# to find out the patterns from a string
#result  =  re.findall("atx*", txt1)
result  =  re.findall("at", txt1)
result

['at', 'at', 'at', 'at', 'at', 'at']

In [2]:
import re
txt1 = "the cat and the rat fighting for the hat on the top of a mat and the cat little fat"

# to find out the words starting from "for"
result  =  re.findall("for.*", txt1)
result

['for the hat on the top of a mat and the cat little fat']

In [4]:
txt2 = "The Rain Falls @ Spain starts 4 and continued till Next day that made big and small fallls"

result = re.findall("al{2}",txt2)
result

['all', 'all', 'all']

In [9]:
txt2 = "The Rain Falls @ Spain starts 4 and continued ,  till Next day that made big and small fallls"

result = re.findall("[m-sM-S]",txt2)
result

['R',
 'n',
 's',
 'S',
 'p',
 'n',
 's',
 'r',
 's',
 'n',
 'o',
 'n',
 'n',
 'N',
 'm',
 'n',
 's',
 'm',
 's']

In [10]:
txt2 = "The Rain Falls @ Spain starts 4 and continued ,  till Next day that made big and small fallls"

result = re.findall("[m-s]",txt2,re.IGNORECASE) # to bring the characters regardless of upper or lower
result

['R',
 'n',
 's',
 'S',
 'p',
 'n',
 's',
 'r',
 's',
 'n',
 'o',
 'n',
 'n',
 'N',
 'm',
 'n',
 's',
 'm',
 's']

In [12]:
txt2 = "The Rain Falls @ Spain starts @4 # clock & __ continued $till Next day* that made (big) and small fallls"

result = re.findall("[@,#,$,&]",txt2)
result

['@', '@', '#', '&', '$']

In [13]:
txt2 = "The Rain Falls @ Spain starts 4.45 and continued till 7.23.563453445 Next day @ 4 that made big and small fallls"

result = re.findall("[0-9]",txt2)
result

['4',
 '4',
 '5',
 '7',
 '2',
 '3',
 '5',
 '6',
 '3',
 '4',
 '5',
 '3',
 '4',
 '4',
 '5',
 '4']

In [14]:
txt2 = "The Rain Falls @ Spain starts 4 and continued till Next day that made big and small fallls to big"

result = re.findall("till|Rain|big|cat|Tiger",txt2)
result

['Rain', 'till', 'big', 'big']

In [15]:
txt2 = "The Rain Falls @ Spain starts 4 and continued till Next day and that made big and small fallls"

result = re.findall("and",txt2)
result

['and', 'and', 'and']

In [17]:
txt2 = "The Rain Falls @ Spain starts 100 and continued till Next day and that 100 made big and smalln 111, 999 fallls"

result = re.findall("100",txt2)
print(result)
len(result)

['100', '100']

2

In [18]:
txt2 = "The Rain Falls @ Spain starts 4.55 and continued till Next day and that made big 9.56 and 78 small fallls"

result = re.findall("[0-9].[0-9][0-9]",txt2)
result

['4.55', '9.56']

In [21]:
import re

txt = "The Rain falling when we traveling by follow train at 55:30 it drain our warmness to -17 celsiums"

numbers = re.findall(r"\bf\w*", txt) # r"" we should use when we have the pattern with \
numbers

['falling', 'follow']

In [22]:
#extracting all the terms that begins with "t"
import re

txt = "My flight is 04.300 am tommorow, I have to make purchases before today 11.00 o'clock, and it will cost me 9432"


print(re.findall(r"\bt\w+", txt))

['tommorow', 'to', 'today']

In [25]:
txt2 = "The Rain Falls @ Spain starts 4 and continued till Next day and Spain that made big and small fallls"

result = re.search("Spain",txt2) # the first occurance pos it will return
print(result)
result.span()

<re.Match object; span=(17, 22), match='Spain'>

(17, 22)

In [75]:
txt2 = "The Rain Falls @ Spain starts 4 and continued till Next day and that Spain made big and small fallls"

result = re.search("Spain",txt2)
print(result)
result.span()

<re.Match object; span=(17, 22), match='Spain'>

(17, 22)

In [26]:
txt = "The Cat and Rats are not Live togethers and the are not friends"
result = re.sub("a", "e", txt)
result

'The Cet end Rets ere not Live togethers end the ere not friends'

In [27]:
a = "hello world"
b = a.replace("l", "r")
b

'herro worrd'

In [28]:
import re
txt = "The Cat and Rats are not Live togethers and the are not friends"
#result = re.sub("\s", "_", txt)
result = re.sub(" ", "_", txt)
result

'The_Cat_and_Rats_are_not_Live_togethers_and_the_are_not_friends'

In [78]:
import re
txt = "The Cat and Rats are not Live togethers and the are not friends"

result = re.split("\s", txt)
#result = re.split(" ", txt)
result

['The',
 'Cat',
 'and',
 'Rats',
 'are',
 'not',
 'Live',
 'togethers',
 'and',
 'the',
 'are',
 'not',
 'friends']

In [29]:
a = "hello world"
b = a.split()
b

['hello', 'world']

In [30]:
import re
txt = "The Cat and Rats are not Live togethers and the are not friends"

result = re.split("t", txt)
result

['The Ca',
 ' and Ra',
 's are no',
 ' Live ',
 'oge',
 'hers and ',
 'he are no',
 ' friends']

In [31]:
import re

# Sample text containing dates
text = "Today's date is 06-01-2025 and the project started on 2024/12/15. Another date is 15-12-2024."

# Regular expression pattern to match dates in formats like DD-MM-YYYY, YYYY/MM/DD, or MM/DD/YYYY
pattern = r'\b(?:\d{2}[/-]\d{2}[/-]\d{4}|\d{4}[/-]\d{2}[/-]\d{2})\b'

# Find all matches 
dates = re.findall(pattern, text)

# Print the results
print("Extracted Dates:", dates)

Extracted Dates: ['06-01-2025', '2024/12/15', '15-12-2024']

In [32]:
import re

# Sample text containing emails
text = "Contact us at support@example.com or sales@example.co.in for more details. You can also reach john.doe123@domain.org."

# Regular expression pattern to match emails
pattern = r'[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'

# Find all matches
emails = re.findall(pattern, text)

# Print the results
print("Extracted Emails:", emails)

Extracted Emails: ['support@example.com', 'sales@example.co.in', 'john.doe123@domain.org']

In [33]:
import re

# Sample text containing URLs
text = "Visit our website at https://www.example.com or http://example.org. Also, check out www.test-site.net and sub.example.co.in/path?query=1."

# Regular expression pattern to match URLs
pattern = r'(https?://[^\s]+|www\.[^\s]+)'

# Find all matches
urls = re.findall(pattern, text)

# Print the results
print("Extracted URLs:", urls)

Extracted URLs: ['https://www.example.com', 'http://example.org.', 'www.test-site.net']

In [ ]:
dir(re)

# Numpy -- Numerical Python
 a famous library which adopted by python, keras, tensorflow, scikit lear.. etc ml and backend frameworks of python
     numpys are  allows all the operations which we can  perform on a list  apart from that we can perform mathematical operations, it will allow us to create 1D, 2D, 3D,.... arrays as well as  we can create random numbers arrays as well we can generate datas in between boundaries based, we can perform central tendencies  based on rows and cols on a matrix, we can extract the datas based on conditions , we can reshape 1 dimensional arrays to two dimensional vice versa till 3D,  we can do boolean masking. matrix multiplication, dot product

     numpys are faster than a list because unlike lists numpy are follows the continuous memory methods as well ilists are while iterating they take every elements on a list and works on the dtype memry allocation scattered memroy storag that makes a list is 50 times slower then numpy array because numpy array follows continuous memory format and it will easily retrives the data faster then a list

In [ ]:
pip install numpy

In [1]:
import numpy as np
np.__version__

'1.26.4'

In [84]:
print(np.__doc__)

NumPy
=====

Provides
  1. An array object of arbitrary homogeneous items
  2. Fast mathematical operations over arrays
  3. Linear Algebra, Fourier Transforms, Random Number Generation

How to use the documentation
----------------------------
Documentation is available in two forms: docstrings provided
with the code, and a loose standing reference guide, available from
`the NumPy homepage <https://numpy.org>`_.

We recommend exploring the docstrings using
`IPython <https://ipython.org>`_, an advanced Python shell with
TAB-completion and introspection capabilities.  See below for further
instructions.

The docstring examples assume that `numpy` has been imported as ``np``::

  >>> import numpy as np

Code snippets are indicated by three greater-than signs::

  >>> x = 42
  >>> x = x + 1

Use the built-in ``help`` function to view a function's docstring::

  >>> help(np.sort)
  ... # doctest: +SKIP

For some objects, ``np.info(obj)`` may provide additional help.  This is
particularly true if you see the line "Help on ufunc object:" at the top
of the help() page.  Ufuncs are implemented in C, not Python, for speed.
The native Python help() does not know how to view their help, but our
np.info() function does.

To search for documents containing a keyword, do::

  >>> np.lookfor('keyword')
  ... # doctest: +SKIP

General-purpose documents like a glossary and help on the basic concepts
of numpy are available under the ``doc`` sub-module::

  >>> from numpy import doc
  >>> help(doc)
  ... # doctest: +SKIP

Available subpackages
---------------------
lib
    Basic functions used by several sub-packages.
random
    Core Random Tools
linalg
    Core Linear Algebra Tools
fft
    Core FFT routines
polynomial
    Polynomial tools
testing
    NumPy testing tools
distutils
    Enhancements to distutils with support for
    Fortran compilers support and more  (for Python <= 3.11).

Utilities
---------
test
    Run numpy unittests
show_config
    Show numpy build configuration
matlib
    Make everything matrices.
__version__
    NumPy version string

Viewing documentation using IPython
-----------------------------------

Start IPython and import `numpy` usually under the alias ``np``: `import
numpy as np`.  Then, directly past or use the ``%cpaste`` magic to paste
examples into the shell.  To see which functions are available in `numpy`,
type ``np.<TAB>`` (where ``<TAB>`` refers to the TAB key), or use
``np.*cos*?<ENTER>`` (where ``<ENTER>`` refers to the ENTER key) to narrow
down the list.  To view the docstring for a function, use
``np.cos?<ENTER>`` (to view the docstring) and ``np.cos??<ENTER>`` (to view
the source code).

Copies vs. in-place operation
-----------------------------
Most of the functions in `numpy` return a copy of the array argument
(e.g., `np.sort`).  In-place versions of these functions are often
available as array methods, i.e. ``x = np.array([1,2,3]); x.sort()``.
Exceptions to this rule are documented.

In [85]:
import numpy as np
arr1 = np.array([3,2,6,7]) # a one dimensional array is a normal array without nested
print(type(arr1))
arr1

<class 'numpy.ndarray'>

array([3, 2, 6, 7])

In [2]:
# what if it is a hetrogeneous -- numpy array try convert all the elements as same dtype
"""
NumPy arrays are homogeneous blocks of memory. to make the process faster then list

âš–ï¸ Type Precedence (Simplified)

bool â†’ lowest

int

float

complex

string (Unicode) â†’ highest
"""

arr1 = np.array([4,2,7, "Hello", False])
arr1

array(['4', '2', '7', 'Hello', 'False'], dtype='<U11')

In [3]:
# creating a two dimensional array

arr2 = np.array([[4,2,3],[5,1,8]])
arr2

array([[4, 2, 3],
       [5, 1, 8]])

In [4]:
arr1.ndim

1

In [5]:
arr2.ndim

2

In [6]:
arr2.shape

(2, 3)

In [7]:
arr2.dtype

dtype('int32')

In [10]:
arr2 = np.array([[4,2,3],[5,1,8]])
arr2

array([[4, 2, 3],
       [5, 1, 8]])

In [11]:
# how we can retrive the data from a2 Dimensional array
arr2[1,1]

1

In [12]:
arr2[1,2]

8

In [13]:
arr2[4444,2222]

IndexError: index 4444 is out of bounds for axis 0 with size 2

In [14]:
arr2 = np.array([[4,2,3],[5,1,8]])
print(arr2)
arr2[:,2] # all the row datas from the second column

[[4 2 3]
 [5 1 8]]

array([3, 8])

In [15]:
arr2[1,:] # retriving all the columns datas corresponding to row 1

array([5, 1, 8])

In [16]:
arr2[1,:2]

array([5, 1])

In [17]:
arr2[:,1]

array([2, 1])

In [19]:
import numpy as np

arr1 = np.zeros(3) # generating a 1 dimensional array filled with zeros 3 times
arr1

array([0., 0., 0.])

In [21]:
arr2 = np.zeros((3,3))
arr2

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [23]:
# 3D dimensional array -- a array that contains n number of 2 Dimensional array

arr3 = np.zeros((2, 2,3))
arr3

array([[[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]]])

In [24]:
print(arr3)
print(arr3.ndim)

[[[0. 0. 0.]
  [0. 0. 0.]]

 [[0. 0. 0.]
  [0. 0. 0.]]]
3

In [25]:
arr4 = np.zeros((2,2,2,2))
print(arr4)
print(arr4.ndim)

[[[[0. 0.]
   [0. 0.]]

  [[0. 0.]
   [0. 0.]]]


 [[[0. 0.]
   [0. 0.]]

  [[0. 0.]
   [0. 0.]]]]
4

In [151]:
import numpy as np

arr1 = np.ones((3,4))
arr1

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [27]:
arr2 = np.full((2,2),7)
arr2

array([[7, 7],
       [7, 7]])

In [28]:
arr3 = np.full_like(arr2,5)
arr3

array([[5, 5],
       [5, 5]])

In [155]:
# 3d indexing
import numpy as np

arr1 =np.array( [
    [
        [1,2],
        [3,4]
    ],
    [
        [5,6],
        [8,9]
    ]
])

print(arr1.shape)
print(arr1.ndim)
print(arr1[1,0,1]) #6
print(arr1[1,:,1]) #6,9
print(arr1[:,1,:])
print(arr1[:,1,1]) #4,9

(2, 2, 2)
3
6
[6 9]
[[3 4]
 [8 9]]
[4 9]

In [29]:
# genrating the random datas using the numpy 

#random.rand -- will generate float datas within the boundary of 0 and 1

arr1 = np.random.rand(2,3)
arr1

array([[0.33079905, 0.96203119, 0.26292285],
       [0.19839546, 0.10521319, 0.63209476]])

In [1]:
# to generat the random integers we can use random.randint
import numpy as np
arr2 = np.random.randint(5,25, size = (3,3))
arr2

array([[ 7, 16, 15],
       [16, 11, 17],
       [14, 12, 19]])

In [2]:
# how to modify the arrays data
print(arr2)
print(id(arr2))

[[ 7 16 15]
 [16 11 17]
 [14 12 19]]
2464406413232

In [4]:
arr2[1,2] = 67
print(arr2)
print(id(arr2))

[[ 7 16 15]
 [16 11 67]
 [14 12 19]]
2464406413232

In [5]:
arr2[2,:] = [88,99,77]
arr2

array([[ 7, 16, 15],
       [16, 11, 67],
       [88, 99, 77]])

In [6]:
arr2[:,2] = 0
arr2

array([[ 7, 16,  0],
       [16, 11,  0],
       [88, 99,  0]])

In [8]:
arr2 = np.random.randint(5,25, size = (2,3,3))
arr2

array([[[ 8, 21, 20],
        [17,  5, 24],
        [ 8, 13, 10]],

       [[24, 16,  5],
        [21, 24, 15],
        [17, 18, 20]]])

In [9]:
arr2[1,1,:] = [33,44,55]
arr2

array([[[ 8, 21, 20],
        [17,  5, 24],
        [ 8, 13, 10]],

       [[24, 16,  5],
        [33, 44, 55],
        [17, 18, 20]]])

In [10]:
arr2 = np.random.randint(5,25, size = (2,2,3,3))
arr2

array([[[[17,  7,  7],
         [12,  9, 22],
         [22, 16,  7]],

        [[16, 10, 12],
         [21, 13, 19],
         [18, 12,  6]]],


       [[[17, 18, 19],
         [20,  7, 15],
         [22, 23, 12]],

        [[10, 17,  6],
         [13, 21,  8],
         [16, 21, 13]]]])

In [12]:
# merging the arrays 
import numpy as np

arr1 = [[14, 20,  9, 4],
        [ 5, 21, 12, 23],
        [20, 20,  6, 12]]


arr2 = [[ 7, 18,  5],
        [33, 44, 55],
        [14,  9,  9]]

# if we want to merger two 2D arrays in a single 2d array we use vstack from np

arr3 = np.vstack([arr1,arr2])
arr3

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 4 and the array at index 1 has size 3

In [14]:
# merging the arrays 

arr1 = [[14, 20,  9],
        [ 5, 21, 12],
        [20, 20,  6],
        [11, 22, 33]
       ]


arr2 = [[ 7, 18,  5],
        [33, 44, 55],
        [14,  9,  9]]

# if we want to merger two 2D arrays in a single 2d array we use vstack from np

arr3 = np.vstack([arr1,arr2])
arr3

array([[14, 20,  9],
       [ 5, 21, 12],
       [20, 20,  6],
       [11, 22, 33],
       [ 7, 18,  5],
       [33, 44, 55],
       [14,  9,  9]])

In [15]:
# merging the arrays 

arr1 = [[14, 20,  9],
        [ 5, 21, 12],
        [20, 20,  6]]


arr2 = [[ 7, 18,  5],
        [33, 44, 55],
        [14,  9,  9]]

# if we want to merger two 2D arrays in a single 2d array we use vstack from np

arr3 = np.vstack([arr1,arr2])
arr3

array([[14, 20,  9],
       [ 5, 21, 12],
       [20, 20,  6],
       [ 7, 18,  5],
       [33, 44, 55],
       [14,  9,  9]])

In [16]:
arr3 = np.vstack([[arr1],[arr2]])
arr3

array([[[14, 20,  9],
        [ 5, 21, 12],
        [20, 20,  6]],

       [[ 7, 18,  5],
        [33, 44, 55],
        [14,  9,  9]]])

In [17]:
# to horizontally we can merge only 2D not 3d
arr3 = np.hstack([arr1,arr2])
arr3

array([[14, 20,  9,  7, 18,  5],
       [ 5, 21, 12, 33, 44, 55],
       [20, 20,  6, 14,  9,  9]])

In [18]:
arr4 = arr3.reshape(6,3)
arr4

array([[14, 20,  9],
       [ 7, 18,  5],
       [ 5, 21, 12],
       [33, 44, 55],
       [20, 20,  6],
       [14,  9,  9]])

In [19]:
arr5 = arr4.reshape(2,3,3)
arr5

array([[[14, 20,  9],
        [ 7, 18,  5],
        [ 5, 21, 12]],

       [[33, 44, 55],
        [20, 20,  6],
        [14,  9,  9]]])

In [20]:
arr5 = arr4.reshape(3,2,3)
arr5

array([[[14, 20,  9],
        [ 7, 18,  5]],

       [[ 5, 21, 12],
        [33, 44, 55]],

       [[20, 20,  6],
        [14,  9,  9]]])

In [22]:
# converting 3d to 2d
arr7 = arr5.reshape(6,3)
arr7

array([[14, 20,  9],
       [ 7, 18,  5],
       [ 5, 21, 12],
       [33, 44, 55],
       [20, 20,  6],
       [14,  9,  9]])

In [23]:
# converting 2d to 1d -- flatting
arr7.reshape(-1)

array([14, 20,  9,  7, 18,  5,  5, 21, 12, 33, 44, 55, 20, 20,  6, 14,  9,
        9])

In [24]:
arr6 = arr5[0]
arr6

array([[14, 20,  9],
       [ 7, 18,  5]])

In [25]:
arr6.reshape(3,2)

array([[14, 20],
       [ 9,  7],
       [18,  5]])

In [26]:
arr6 = arr6.reshape(-1) # conveting a array into one dimensional
arr6

array([14, 20,  9,  7, 18,  5])

In [27]:
# statistics
import numpy as np
arr1 = np.random.randint(3,18,size = (2,3))
arr1

array([[ 9, 11, 11],
       [17, 12, 15]])

In [28]:
print(arr1.min())
print(np.min(arr1))

9
9

In [29]:
print(arr1.max())
print(np.max(arr1))

17
17

In [30]:
print(arr1.sum())
print(np.sum(arr1))

75
75

In [32]:
arr1 = np.random.randint(3,18,size = (2,3))
print(arr1)
print()
print(arr1.min(axis = 0))  # column based minimum value
print()
print(np.min(arr1,axis = 0))

[[ 7  4 17]
 [10 10  4]]

[7 4 4]

[7 4 4]

In [33]:
arr1 = np.random.randint(3,18,size = (2,3))
print(arr1)
print()
print(arr1.min(axis = 1))  # row based minimum value
print()
print(np.min(arr1,axis = 1))

[[13  9 17]
 [14  3  3]]

[9 3]

[9 3]

In [34]:
arr1 = np.random.randint(3,18,size = (2,3))
print(arr1)
print()
print(arr1.max(axis = 0))  # column based minimum value
print()
print(np.max(arr1,axis = 0))

[[14 17 11]
 [ 7 14  5]]

[14 17 11]

[14 17 11]

In [35]:
arr1 = np.random.randint(3,18,size = (2,3))
print(arr1)
print()
print(arr1.max(axis = 1))  # column based minimum value
print()
print(np.max(arr1,axis = 1))

[[12  4 12]
 [ 9  5 16]]

[12 16]

[12 16]

In [36]:
arr1 = np.random.randint(3,18,size = (2,3))
print(arr1)
print()
print(arr1.sum(axis = 0))  # column based minimum value
print()
print(np.sum(arr1,axis = 0))

[[ 8  4  9]
 [13 15 10]]

[21 19 19]

[21 19 19]

In [37]:
arr1 = np.random.randint(3,18,size = (2,3))
print(arr1)
print()
print(arr1.sum(axis = 1))  # column based minimum value
print()
print(np.sum(arr1,axis = 1))

[[ 4 17 11]
 [16 17  6]]

[32 39]

[32 39]

In [38]:
# genrating the data from a text file
# when we generate a data from a file it will generate all of them as float values
import numpy as np
arr1 = np.genfromtxt("data_1.txt", delimiter = ",")
arr1

array([[34., 23.,  6.,  7., 12., 89.],
       [90., 34., 56., 13., 45., 76.],
       [ 2.,  4.,  9., 98., 43., 63.]])

In [39]:
arr2 = arr1.astype(int)
arr2

array([[34, 23,  6,  7, 12, 89],
       [90, 34, 56, 13, 45, 76],
       [ 2,  4,  9, 98, 43, 63]])

In [218]:
# boolean masking based on the condition what we gave it will true a array of true, false
arr3 = arr2>30
arr3

array([[ True, False, False, False, False,  True],
       [ True,  True,  True, False,  True,  True],
       [False, False, False,  True,  True,  True]])

In [219]:
arr2[arr3]

array([34, 89, 90, 34, 56, 45, 76, 98, 43, 63])

In [40]:
arr2[arr2>40]

array([89, 90, 56, 45, 76, 98, 43, 63])

In [41]:
# arange, linspace, dot, matmul

import numpy as np

arr1 = np.arange(5,20,3) ## syntax --arrange(start,stop, step)
arr1

array([ 5,  8, 11, 14, 17])

In [43]:
arr2 = np.linspace(2,12,5) # syntax --linspace(start,stop, count)
arr2

array([ 2. ,  4.5,  7. ,  9.5, 12. ])

In [223]:
arr1 = np.array(
    [
        [1,2,3],
        [4,5,6]
    ]
)

arr2 = np.array(
    [
        [1,3],
        [2,4],
        [5,6]
    ]
)

print(arr1)
print(arr2)

[[1 2 3]
 [4 5 6]]
[[1 3]
 [2 4]
 [5 6]]

In [224]:
np.matmul(arr1,arr2)

array([[20, 29],
       [44, 68]])

In [35]:
arr1 = np.array([4,2,8])
arr2 = np.array([3,5,7])
np.dot(arr1,arr2)

78

In [225]:
import numpy as np

# From a tuple
arr2 = np.array((1, 2, 3, 4))
arr2

array([1, 2, 3, 4])

In [44]:
# Create an array with values from 0 to 9
arr_range = np.arange(10)
arr_range

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [45]:
# Create an array with values from 1 to 9 with step 2
arr_range_step = np.arange(1, 10, 2)
arr_range_step

array([1, 3, 5, 7, 9])

In [228]:
# 2D identity matrix
arr_identity = np.eye(4)
arr_identity

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [47]:
arr = np.random.randint(5,17,(3,3))

print(arr)
arr_argmax = arr.argmax()  # Index of max value
arr_argmin = arr.argmin()  # Index of min value
print(arr_argmax) # 0 index having the maximum value from the matrix
print(arr_argmin) # 1 index having the minimum value from the matrix

[[10 14 12]
 [ 7  8  8]
 [13  8 14]]
1
3

In [48]:
import numpy as np
arr = np.random.randint(5,17,(3,3))

print(arr)
arr_argmax = arr.argmax(axis = 0)  # Index of max value
arr_argmin = arr.argmin(axis = 0)  # Index of min value
print(arr_argmax) # 0 index having the maximum value from the matrix
print(arr_argmin) # 1 index having the minimum value from the matrix

[[10  6  9]
 [ 9 11  6]
 [ 9 13  5]]
[0 2 0]
[1 0 2]

In [49]:
arr = np.random.randint(5,17,(3,3))

print(arr)
arr_argmax = arr.argmax(axis = 1)  # Index of max value
arr_argmin = arr.argmin(axis = 1)  # Index of min value
print(arr_argmax) # 0 index having the maximum value from the matrix
print(arr_argmin) # 1 index having the minimum value from the matrix

[[12 14  6]
 [13  7  7]
 [13 10 15]]
[1 0 2]
[2 1 1]

In [50]:

arr1 = np.random.randint(5,17,(3,3))
arr2 = np.random.randint(5,17,(3,3))
print(arr1)
print(arr2)
# Concatenate along a specific axis
concatenated = np.concatenate((arr1, arr2), axis=0)
concatenated

[[11 13 16]
 [12  5  6]
 [ 7 14 10]]
[[ 6 11 11]
 [10 12 16]
 [ 7 14 14]]

array([[11, 13, 16],
       [12,  5,  6],
       [ 7, 14, 10],
       [ 6, 11, 11],
       [10, 12, 16],
       [ 7, 14, 14]])

In [51]:

arr1 = np.random.randint(5,17,(3,3))
arr2 = np.random.randint(5,17,(3,3))

print(arr1)
print(arr2)
# Concatenate along a specific axis
concatenated = np.concatenate((arr1, arr2), axis=1)
concatenated

[[13  7  5]
 [ 7 16 12]
 [13 11  5]]
[[14  7 14]
 [ 8  6  9]
 [ 5 11 14]]

array([[13,  7,  5, 14,  7, 14],
       [ 7, 16, 12,  8,  6,  9],
       [13, 11,  5,  5, 11, 14]])

In [52]:
arr = np.array([5,6,7,8])
print(arr+2)
print(arr-2)
print(arr*2)
print(arr/2)

[ 7  8  9 10]
[3 4 5 6]
[10 12 14 16]
[2.5 3.  3.5 4. ]

In [53]:
arr1 = np.array([5,6,7,8])
arr2 = np.array([3,4,5,2])
print(arr1+arr2)
print(arr1-arr2)
print(arr1*arr2)
print(arr1/arr2)

[ 8 10 12 10]
[2 2 2 6]
[15 24 35 16]
[1.66666667 1.5        1.4        4.        ]

In [57]:
arr1 = np.array([5,6,7,8])
arr2 = np.array([3,14,15,2])
#arr2 = np.array([3,14,15,2,4])
print(arr1>arr2)
print(arr1<arr2)
print(arr1==arr2)
print(arr1!=arr2)

[ True False False  True]
[False  True  True False]
[False False False False]
[ True  True  True  True]

In [58]:
import numpy as np
arr1 = np.array([3,2])
arr2 = np.array([3,2, 14,15])
#print(arr1 in arr2)
#print(arr1 not in arr2)
print(arr1 is arr2)
print(arr1 is not arr2)

False
True

In [59]:
arr = [5,6,7,8]  # its a list not an numpy array
print(type(arr))
arr_broadcast = arr + np.array([1, 2, 3, 4])  # Add array to each element of arr
arr_broadcast

<class 'list'>

array([ 6,  8, 10, 12])

In [242]:
arr = [5,6,7,8]  # its a list not an numpy array
print(type(arr))
arr_broadcast = arr - np.array([1, 2, 3, 4])  # Add array to each element of arr
arr_broadcast

<class 'list'>

array([4, 4, 4, 4])

In [60]:

arr_2d = np.random.randint(2,6,(3,3))
print(arr_2d)
print(arr_2d.T)
matrix_product = np.matmul(arr_2d, arr_2d.T)
matrix_product

[[4 4 5]
 [4 5 4]
 [3 5 3]]
[[4 4 3]
 [4 5 5]
 [5 4 3]]

array([[57, 56, 47],
       [56, 57, 49],
       [47, 49, 43]])

In [61]:
arr_flat = arr_2d.flatten()
arr_flat

array([4, 4, 5, 4, 5, 4, 3, 5, 3])

In [243]:
arr3d = np.random.randint(3,16,(2,3,3))
print(arr3d)
arr_flat = arr3d.flatten()
arr_flat

[[[ 6 13  7]
  [15  4 14]
  [ 3 10  4]]

 [[ 5 10 11]
  [ 9  6  9]
  [ 3 11 11]]]

array([ 6, 13,  7, 15,  4, 14,  3, 10,  4,  5, 10, 11,  9,  6,  9,  3, 11,
       11])

In [244]:
arr4 = arr3d.reshape(-1)
arr4

array([ 6, 13,  7, 15,  4, 14,  3, 10,  4,  5, 10, 11,  9,  6,  9,  3, 11,
       11])

In [247]:
print(arr_2d)
arr_transpose = arr_2d.T

arr_transpose

[[5 2 4]
 [4 4 5]
 [2 3 2]]

array([[5, 4, 2],
       [2, 4, 3],
       [4, 5, 2]])

In [248]:
arr = np.random.randint(2,7,(4,4))
print(arr)
arr_add_dim = np.expand_dims(arr, axis=0)  # Add new axis at position 0
#print(arr)
arr_remove_dim = np.squeeze(arr_add_dim)  # Remove single-dimensional entries from the shape
print(arr_add_dim)
print(arr_remove_dim)

[[4 3 3 6]
 [4 6 2 3]
 [4 5 3 2]
 [3 4 3 3]]
[[[4 3 3 6]
  [4 6 2 3]
  [4 5 3 2]
  [3 4 3 3]]]
[[4 3 3 6]
 [4 6 2 3]
 [4 5 3 2]
 [3 4 3 3]]

In [249]:
arr = np.array((34,12,67,13,9,87,45))
arr_bool = arr[arr > 15]  # Get elements greater than 2
arr_bool

array([34, 67, 87, 45])

In [251]:
import numpy as np
arr = np.random.randint(5,17,(8))
print(arr)
arr_fancy = arr[[1, 3, 6]]  # Get elements at index 1, 3, and 4
arr_fancy

[ 9 14 15 15 13  5  5 13]

array([14, 15,  5])

In [252]:
print(np.mean(arr))
arr_variance = np.var(arr) #how far each data point in a seq is from the mean

arr_std_dev = np.std(arr)
print(arr_variance)
print(arr_std_dev)

11.125
15.609375
3.950870157319777

In [253]:
import numpy as np
arr = np.random.randint(5,17,(8))
print(arr)
arr_50th_percentile = np.percentile(arr, 50)  # Median
arr_25th_percentile = np.percentile(arr, 25)  # Median
arr_75th_percentile = np.percentile(arr, 75)  # Median
print(arr_50th_percentile)
print(arr_25th_percentile)
print(arr_75th_percentile)

[ 8 10 11 16  7 16  9 15]
10.5
8.75
15.25

In [254]:
#Linear Algebra

arr2 = np.random.randint(3,20,(2,2))
print(arr2)
eigvals, eigvecs = np.linalg.eig(arr2)
"""
eigen vector -- a vector that, when multiplied by a matrix which does not change its direction
eigne value -- a scalar that represents how much the eigenvector  is scaled when multiplied matrix
"""

print(eigvals)
print(eigvecs)

[[ 5 15]
 [10 14]]
[-3.54798835 22.54798835]
[[-0.86882739 -0.64976364]
 [ 0.4951151  -0.76013631]]

### Random samples from a normal distribution: (Gaussian distribution)

arr_random_normal = np.random.randn(5, 5) 
arr_random_normal

In [255]:
#Random choices from a list:
arr_random_choice = np.random.choice([1, 2, 3, 4, 5], size=4)
arr_random_choice

array([5, 3, 1, 1])

In [258]:
#Random choices from a list: without duplicates
arr_random_choice = np.random.choice([1, 2, 3, 4, 5], size=2, replace = False)
arr_random_choice

array([4, 5])

In [261]:
#File Handling with pandas
arr = np.random.randint(3,30,(3,3))
print(arr)
np.save('array.npy', arr)  # Save array to .npy file
arr_loaded = np.load('array.npy')  # Load array from .npy file
arr_loaded

[[22 19 22]
 [23 20 17]
 [17 24  5]]

array([[22, 19, 22],
       [23, 20, 17],
       [17, 24,  5]])

In [262]:
np.savetxt('array.txt', arr)
arr_loaded_text = np.loadtxt('array.txt')
arr_loaded_text

array([[22., 19., 22.],
       [23., 20., 17.],
       [17., 24.,  5.]])

In [264]:
#Handling Missing Data
# Checking for NaN or Inf values
import numpy as np
arr = np.genfromtxt("array.txt", delimiter = ",")
print(arr)
#arr = np.array([0,2,3,6,0,45])
print(np.isnan(arr))  # Returns boolean array where NaN
np.isinf(arr)  # Returns boolean array where Inf

[nan nan nan]
[ True  True  True]

array([False, False, False])

In [266]:
#Sorting arrays:

import numpy as np
arr = np.array([6,3,45,12,34,67,1])

arr_sorted = np.sort(arr)  # Sort along the default axis (ascending order)
arr_sorted_desc = np.sort(arr_sorted)[::-1]  # Sort in descending order


print(arr_sorted)
print(arr_sorted_desc)

[ 1  3  6 12 34 45 67]
[67 45 34 12  6  3  1]

In [268]:
arr2 = np.random.randint(4,40,(3,3))
print(arr2)
# Sorting along a specific axis
arr_axis_sorted_col = np.sort(arr2, axis=0)  # Sort along rows
arr_axis_sorted_row = np.sort(arr2, axis=1)  # Sort along rows
print()
print(arr_axis_sorted_col)
print()
print(arr_axis_sorted_row)

[[37 13 18]
 [18  4 15]
 [37 30 38]]

[[18  4 15]
 [37 13 18]
 [37 30 38]]

[[13 18 37]
 [ 4 15 18]
 [30 37 38]]

In [269]:
#Argsort (indices of sorted values):
arr2 = np.random.randint(4,40,(3,3))
print(arr2)
arr_indices = np.argsort(arr2)  # Indices that would sort the array
arr_indices

[[27 35 20]
 [ 6 13 20]
 [23 13  8]]

array([[2, 0, 1],
       [0, 1, 2],
       [2, 1, 0]], dtype=int64)

In [271]:
#Searching for specific elements:
arr = np.random.randint(2,10,(3,3))
print(arr)
"""
(r,c)

[
    0,0  0,1 0,2
    1,0, 1,1 1,2
    2,0  2,1 2,2 

]


"""
print(arr)
idx = np.where(arr > 5)  # Indices where condition is True
idx

[[2 2 9]
 [8 9 7]
 [2 2 8]]
[[2 2 9]
 [8 9 7]
 [2 2 8]]

(array([0, 1, 1, 1, 2], dtype=int64), array([2, 0, 1, 2, 2], dtype=int64))

In [272]:
#Find unique elements
import numpy as np
arr = np.random.randint(2,8,(3,3))
print(arr)
unique_elements = np.unique(arr)
unique_elements

[[4 2 6]
 [4 7 4]
 [4 7 2]]

array([2, 4, 6, 7])

In [273]:
#Find unique elements
import numpy as np
arr = np.random.randint(2,8,(3,3,3))
print(arr)
unique_elements = np.unique(arr)
unique_elements

[[[5 3 3]
  [2 7 6]
  [6 4 4]]

 [[6 6 3]
  [5 5 6]
  [7 3 4]]

 [[5 6 4]
  [6 2 7]
  [5 3 7]]]

array([2, 3, 4, 5, 6, 7])

In [275]:
arr = np.random.randint(3,30,(4,3))
print(arr)
print()
logical_and = np.logical_and(arr > 2, arr < 16)
logical_or = np.logical_or(arr > 2, arr < 6)
logical_not = np.logical_not(arr > 25)
print(logical_and)
print()
print(logical_or)
print()
print(logical_not)

[[25  6 26]
 [ 7  7  3]
 [18 12 22]
 [27 20 14]]

[[False  True False]
 [ True  True  True]
 [False  True False]
 [False False  True]]

[[ True  True  True]
 [ True  True  True]
 [ True  True  True]
 [ True  True  True]]

[[ True  True False]
 [ True  True  True]
 [ True  True  True]
 [False  True  True]]

In [280]:
arr1 = np.random.randint(5,30,(3,3))
arr2 = np.random.randint(5,30,(3,3))
print(arr1)
print(arr2)
is_equal = np.array_equal(arr1, arr2)
is_equal

[[24 29 23]
 [16 21  7]
 [28  7 21]]
[[15 23 22]
 [12 14 11]
 [22 24 15]]

False

In [282]:
arr1 = np.random.randint(5,30,(3))
arr2 = arr1
print(arr1)
print(arr1)
is_equal = np.array_equal(arr1, arr2)
is_equal

[20 22 23]
[20 22 23]

True

In [283]:
arr1 = np.random.randint(5,30,(3))
#arr2 = np.random.randint(5,30,(3))
arr2 = arr1.copy()
print(arr1)
print(arr2)
is_equal = np.array_equal(arr1, arr2)
print(is_equal)
print(arr1 == arr2)
print(arr1 is arr2)
print(id(arr1), id(arr2))

[20 20 10]
[20 20 10]
True
[ True  True  True]
False
2771481732144 2771481630480

In [285]:
arr1 = np.random.randint(5,30,(3))
#arr2 = np.random.randint(5,30,(3))
arr1 = arr2
print(arr1)
print(arr2)
print(id(arr1))
print(id(arr2))

print(arr1 is arr2)
is_equal

[20 20 10]
[20 20 10]
2771481630480
2771481630480
True

True

In [286]:
# addition in between 1D and 2D
arr1 = np.array([[1], [2], [3]])
arr2 = np.array([1, 2, 3])
result = arr1 + arr2
result

array([[2, 3, 4],
       [3, 4, 5],
       [4, 5, 6]])

In [288]:
arr = np.random.randint(1,7,(6))
print(arr)
arr[arr > 5] = 0  # Replace all values greater than 5 with 0
arr

[5 5 4 4 2 6]

array([5, 5, 4, 4, 2, 0])

In [290]:
arr = np.random.randint(1,30,(6))
print(arr)
arr = np.where(arr > 15, 0, arr)  # Replace values > 5 with 0
arr

[10 28 23 23 25  7]

array([10,  0,  0,  0,  0,  7])

# Pandas - paneled datas
    pandas are very famous python library for handling the datas
    => reading the different types of files and get the data into python data frame
    => creating the different types of files from python data frame such as (csv, excel, json, parquet, ...etc)
    => creating series, dataframes to handle the file datas
    => handling the noisy datas such as null datas, duplicates data's, wrong format datas
    => comparison, creating new columns, getting info about the data, modify the existing data, central tendency finding, row based filter, column based filter, joining one csv dataframe to another csv dataframes (inner, left, right, outer)

In [ ]:
!pip install pandas

In [343]:
import pandas as pd
print(pd.__version__)

2.3.0

In [62]:
import pandas as pd
print(pd.__doc__)

pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [1]:
# pandas series are one dimensional arrays which have only one column with index position as row names
import pandas as pd

l1 = [5,2,9,3,1]

s1 = pd.Series(l1)# the index column of a series will 0, 1,
s1

0    5
1    2
2    9
3    3
4    1
dtype: int64

In [2]:
s1.shape # 1 column(for a series always column will be one so it won't return) 5 rows

(5,)

In [3]:
s1.min()

1

In [4]:
s1.sum()

20

In [6]:
s1[2]

9

In [7]:
# converting 2D arry in a series

import pandas as pd
import numpy as np


arr = np.random.randint(3,15,(4,3))
print(arr)

s1 = pd.Series(arr)
s1

[[ 8  3  8]
 [11  5 11]
 [ 9  8 11]
 [12 14  5]]

ValueError: Data must be 1-dimensional, got ndarray of shape (4, 3) instead

In [8]:
d1 = {"apple":34, "orange":45, "banana":12}

# when we convert a dictionary as a series the keys will appear as row name

s2 = pd.Series(d1)
s2

apple     34
orange    45
banana    12
dtype: int64

In [9]:
l1 = [5,2,9,3,1]

s1 = pd.Series(l1, index = ("a","b", "c","d", "e")) # changing the labels of the rows
s1

a    5
b    2
c    9
d    3
e    1
dtype: int64

In [10]:
s1["c"]

9

In [11]:
s1["a", "c", "e"]

KeyError: 'key of type tuple not found and not a MultiIndex'

In [12]:
l1 = [5,2,9,"hello",1, 4.5]

s1 = pd.Series(l1, index = ("a","b", "c","d", "e", "f")) # changing the labels of the rows
s1

a        5
b        2
c        9
d    hello
e        1
f      4.5
dtype: object

In [13]:
# dataframes -- are rows and columns table format 
# dataframes -- twodimensional, size mutable, hetrogeneous tabular datastructure
import pandas as pd
d2 = {
    "Jobs" : ["backend developer", "AI engineer", "data analyst"],
    "City" : ["Ney York", "San francisco", "washington dc"],
    "Salary" : [40000,50000,30000]
}

df = pd.DataFrame(d2)
df

                Jobs           City  Salary
0  backend developer       Ney York   40000
1        AI engineer  San francisco   50000
2       data analyst  washington dc   30000

In [14]:
df.loc[1] # fetching row name based data fetch

Jobs        AI engineer
City      San francisco
Salary            50000
Name: 1, dtype: object

In [15]:
df.iloc[2] #this works based on index

Jobs       data analyst
City      washington dc
Salary            30000
Name: 2, dtype: object

In [16]:
# slicing the rows
df.loc[:1]

                Jobs           City  Salary
0  backend developer       Ney York   40000
1        AI engineer  San francisco   50000

In [17]:
df.loc[:1]["Jobs"]

0    backend developer
1          AI engineer
Name: Jobs, dtype: object

In [18]:
print(df)
df.loc[1][2] # fetching the "specific data from the dataframe

                Jobs           City  Salary
0  backend developer       Ney York   40000
1        AI engineer  San francisco   50000
2       data analyst  washington dc   30000

C:\Users\pugal\AppData\Local\Temp\ipykernel_16756\296397639.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc[1][2] # fetching the "specific data from the dataframe

50000

In [352]:
df["City"]  # fethcing the column

0         Ney York
1    San francisco
2    washington dc
Name: City, dtype: object

In [19]:
df["City"][2] # retriving the specific data from coloumn

'washington dc'

In [21]:
d2 = {
    "Jobs" : ["backend developer", "AI engineer", "data analyst"],
    "City" : ["Ney York", "San francisco", "washington dc"],
    "Salary" : [40000,50000,30000]
}

df = pd.DataFrame(d2, index = ("record1", "record2", "record3")) # instead of going with default index
                                                                # we define out own index for df
df

                      Jobs           City  Salary
record1  backend developer       Ney York   40000
record2        AI engineer  San francisco   50000
record3       data analyst  washington dc   30000

In [22]:
# fetching the record based on index name
df.loc["record2"]

Jobs        AI engineer
City      San francisco
Salary            50000
Name: record2, dtype: object

In [23]:
df.loc[1]

KeyError: 1

In [24]:
df.iloc[2] # retriving the data based on index count

Jobs       data analyst
City      washington dc
Salary            30000
Name: record3, dtype: object

In [25]:
df.iloc["record1"]

TypeError: Cannot index by location index with a non-integer key

In [26]:
# reading the files using pandas
import pandas as pd
#csv file

df = pd.read_csv("employee.csv")
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female
8     doe  4000.0  5.0        dc   25  Female

In [28]:
# reading the json file
df = pd.read_json("employee.json")
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4    None  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0      None   37  Female

In [44]:
# to enable python to read any excel file we use xlrd -library
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (2.0.1)

WARNING: Error parsing dependencies of textract: .* suffix can only be used with `==` or `!=` operators
    extract-msg (<=0.29.*)
                 ~~~~~~~^

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [29]:
# reading the excel file
import pandas as pd
df = pd.read_excel("file_example_XLS_50.xlsx")
df

     0 First Name   Last Name  Gender        Country  Age        Date    Id
0    1      Dulce       Abril  Female  United States   32  15/10/2017  1562
1    2       Mara   Hashimoto  Female  Great Britain   25  16/08/2016  1582
2    3     Philip        Gent    Male         France   36  21/05/2015  2587
3    4   Kathleen      Hanner  Female  United States   25  15/10/2017  3549
4    5    Nereida     Magwood  Female  United States   58  16/08/2016  2468
5    6     Gaston       Brumm    Male  United States   24  21/05/2015  2554
6    7       Etta        Hurn  Female  Great Britain   56  15/10/2017  3598
7    8    Earlean      Melgar  Female  United States   27  16/08/2016  2456
8    9   Vincenza     Weiland  Female  United States   40  21/05/2015  6548
9   10     Fallon     Winward  Female  Great Britain   28  16/08/2016  5486
10  11    Arcelia      Bouska  Female  Great Britain   39  21/05/2015  1258
11  12   Franklyn      Unknow    Male         France   38  15/10/2017  2579
12  13    Sherron    Ascencio  Female  Great Britain   32  16/08/2016  3256
13  14     Marcel   Zabriskie    Male  Great Britain   26  21/05/2015  2587
14  15       Kina    Hazelton  Female  Great Britain   31  16/08/2016  3259
15  16   Shavonne         Pia  Female         France   24  21/05/2015  1546
16  17     Shavon      Benito  Female         France   39  15/10/2017  3579
17  18   Lauralee     Perrine  Female  Great Britain   28  16/08/2016  6597
18  19     Loreta      Curren  Female         France   26  21/05/2015  9654
19  20     Teresa      Strawn  Female         France   46  21/05/2015  3569
20  21    Belinda     Partain  Female  United States   37  15/10/2017  2564
21  22      Holly        Eudy  Female  United States   52  16/08/2016  8561
22  23       Many      Cuccia  Female  Great Britain   46  21/05/2015  5489
23  24     Libbie       Dalby  Female         France   42  21/05/2015  5489
24  25     Lester     Prothro    Male         France   21  15/10/2017  6574
25  26     Marvel        Hail  Female  Great Britain   28  16/08/2016  5555
26  27    Angelyn        Vong  Female  United States   29  21/05/2015  6125
27  28  Francesca   Beaudreau  Female         France   23  15/10/2017  5412
28  29      Garth       Gangi    Male  United States   41  16/08/2016  3256
29  30      Carla    Trumbull  Female  Great Britain   28  21/05/2015  3264
30  31       Veta       Muntz  Female  Great Britain   37  15/10/2017  4569
31  32     Stasia      Becker  Female  Great Britain   34  16/08/2016  7521
32  33       Jona     Grindle  Female  Great Britain   26  21/05/2015  6458
33  34      Judie    Claywell  Female         France   35  16/08/2016  7569
34  35     Dewitt      Borger    Male  United States   36  21/05/2015  8514
35  36       Nena      Hacker  Female  United States   29  15/10/2017  8563
36  37     Kelsie     Wachtel  Female         France   27  16/08/2016  8642
37  38        Sau        Pfau  Female  United States   25  21/05/2015  9536
38  39    Shanice   Mccrystal  Female  United States   36  21/05/2015  2567
39  40      Chase      Karner    Male  United States   37  15/10/2017  2154
40  41     Tommie   Underdahl    Male  United States   26  16/08/2016  3265
41  42     Dorcas      Darity  Female  United States   37  21/05/2015  8765
42  43      Angel       Sanor    Male         France   24  15/10/2017  3259
43  44  Willodean        Harn  Female  United States   39  16/08/2016  3567
44  45     Weston     Martina    Male  United States   26  21/05/2015  6540
45  46       Roma  Lafollette  Female  United States   34  15/10/2017  2654
46  47     Felisa        Cail  Female  United States   28  16/08/2016  6525
47  48   Demetria       Abbey  Female  United States   32  21/05/2015  3265
48  49     Jeromy        Danz    Male  United States   39  15/10/2017  3265
49  50   Rasheeda      Alkire  Female  United States   29  16/08/2016  6125

In [30]:
df.head()  # head() without args will return first 5 records of the dataframe

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

In [31]:
df.head(8) # fetch first specific number of records

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456

In [33]:
df.tail(3) # returns last 3 records from the df

     0 First Name Last Name  Gender        Country  Age        Date    Id
47  48   Demetria     Abbey  Female  United States   32  21/05/2015  3265
48  49     Jeromy      Danz    Male  United States   39  15/10/2017  3265
49  50   Rasheeda    Alkire  Female  United States   29  16/08/2016  6125

In [34]:
df.shape

(50, 8)

In [35]:
df.columns

Index([0, 'First Name', 'Last Name', 'Gender', 'Country', 'Age', 'Date', 'Id'], dtype='object')

In [36]:
# handling the datas in a dataframe
import pandas as pd
df = pd.read_csv("employee.csv")
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female
8     doe  4000.0  5.0        dc   25  Female

In [38]:
# to remove the null record rows we use dropna() -- immutable

df1 = df.dropna() 
df1

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
5    john  3000.0  4.0  losvegas   33  Female
8     doe  4000.0  5.0        dc   25  Female

In [39]:
df = pd.read_csv("employee.csv")
df.dropna(inplace = True)  # changing the current dataframe itself  -- mutable
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
5    john  3000.0  4.0  losvegas   33  Female
8     doe  4000.0  5.0        dc   25  Female

In [40]:
# using fillna("replace value")  replacing the null records from all over the dataframe

df = pd.read_csv("employee.csv")
df.fillna("python",inplace = True)
df

C:\Users\pugal\AppData\Local\Temp\ipykernel_16756\1831355485.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'python' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("python",inplace = True)

     name  salary     exp      city  age  Gender
0    john  3000.0     4.0  losvegas   30    Male
1     doe  4000.0     5.0        dc   25  Female
2  robert  8000.0     6.0     paris   27    Male
3   chris  9000.0     7.0   newyork   24  Female
4  python  3000.0  python  losvegas   35    Male
5    john  3000.0     4.0  losvegas   33  Female
6   evans  python     4.0  losvegas   31    Male
7     tom  3000.0     4.0    python   37  Female
8     doe  4000.0     5.0        dc   25  Female

In [41]:
# replace the null values on specific cols

df = pd.read_csv("employee.csv")
df["name"].fillna("python",inplace = True)
df

C:\Users\pugal\AppData\Local\Temp\ipykernel_16756\2808676864.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["name"].fillna("python",inplace = True)

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4  python  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female
8     doe  4000.0  5.0        dc   25  Female

In [42]:
df = pd.read_csv("employee.csv")
# removes the rows that contains null value on the exp column
df.dropna(subset = "exp", inplace = True)
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female
8     doe  4000.0  5.0        dc   25  Female

In [43]:
import pandas as pd
df = pd.read_csv("employee.csv")
print(df)
df.drop_duplicates(inplace=True)
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female
8     doe  4000.0  5.0        dc   25  Female

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female

In [1]:
import pandas as pd
df = pd.read_csv("employee.csv")
df.info() # will return the number of rows and cols and types of the columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    8 non-null      object
 1   salary  8 non-null      float64
 2   exp     8 non-null      float64
 3   city    8 non-null      object
 4   age     9 non-null      int64
 5   Gender  9 non-null      object
dtypes: float64(2), int64(1), object(3)
memory usage: 564.0+ bytes

In [14]:
df = pd.read_csv("employee.csv")

df.describe()  # will return the central tendency of your dataframe will work on integers cols only

            salary       exp        age
count     8.000000  8.000000   9.000000
mean   4625.000000  4.875000  29.666667
std    2445.841953  1.125992   4.716991
min    3000.000000  4.000000  24.000000
25%    3000.000000  4.000000  25.000000
50%    3500.000000  4.500000  30.000000
75%    5000.000000  5.250000  33.000000
max    9000.000000  7.000000  37.000000

In [2]:
# replacing the mean value for null

df = pd.read_csv("employee.csv")

df["salary"].fillna(df["salary"].mean(), inplace = True)#median(), mode()
df

C:\Users\pugal\AppData\Local\Temp\ipykernel_24092\2232268100.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["salary"].fillna(df["salary"].mean(), inplace = True)#median(), mode()

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans  4625.0  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female
8     doe  4000.0  5.0        dc   25  Female

In [3]:
# replacing the mean value for null

df = pd.read_csv("employee.csv")
median_value = df["exp"].median()

df["exp"].fillna(median_value, inplace = True)#median(), mode()
df

C:\Users\pugal\AppData\Local\Temp\ipykernel_24092\3483658028.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["exp"].fillna(median_value, inplace = True)#median(), mode()

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  4.5  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female
8     doe  4000.0  5.0        dc   25  Female

In [18]:
df = pd.read_csv("employee.csv")

print(df["salary"]>4000)  # boolean masking

0    False
1    False
2     True
3     True
4    False
5    False
6    False
7    False
8    False
Name: salary, dtype: bool

In [20]:
df = pd.read_csv("employee.csv")

print(df[df["salary"]>4000])  # applying the boolean masking

     name  salary  exp     city  age  Gender
2  robert  8000.0  6.0    paris   27    Male
3   chris  9000.0  7.0  newyork   24  Female

In [5]:
df["hike"] = df["salary"]+2000  # creating a new col
df

     name  salary  exp      city  age  Gender     hike
0    john  3000.0  4.0  losvegas   30    Male   5000.0
1     doe  4000.0  5.0        dc   25  Female   6000.0
2  robert  8000.0  6.0     paris   27    Male  10000.0
3   chris  9000.0  7.0   newyork   24  Female  11000.0
4     NaN  3000.0  4.5  losvegas   35    Male   5000.0
5    john  3000.0  4.0  losvegas   33  Female   5000.0
6   evans     NaN  4.0  losvegas   31    Male      NaN
7     tom  3000.0  4.0       NaN   37  Female   5000.0
8     doe  4000.0  5.0        dc   25  Female   6000.0

In [6]:
df.drop(columns= "hike", inplace=True)
#df.drop(columns= ["hike","age"], inplace=True) -- dropping multiple cols
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  4.5  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female
8     doe  4000.0  5.0        dc   25  Female

In [7]:
df = pd.read_csv("employee.csv")

print(df[(df["salary"]>4000) & (df["exp"]<7)])  # multiple conditions

     name  salary  exp    city  age Gender
2  robert  8000.0  6.0   paris   27   Male

In [11]:
df = pd.read_csv("employee.csv")

print(df[(df["salary"]>4000) | (df["exp"]<7)])  # multiple conditions

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female
8     doe  4000.0  5.0        dc   25  Female

In [12]:
df = pd.read_csv("employee.csv")

df.loc[:4] # multiple conditions    # Access first row by label

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  NaN  losvegas   35    Male

In [13]:
df = pd.read_csv("employee.csv")

df.loc[:4, ("name", "city")]

     name      city
0    john  losvegas
1     doe        dc
2  robert     paris
3   chris   newyork
4     NaN  losvegas

In [14]:
import pandas as pd
df = pd.read_csv("employee.csv")

df.loc[:2, "city"] = "unnamed city"
df

     name  salary  exp          city  age  Gender
0    john  3000.0  4.0  unnamed city   30    Male
1     doe  4000.0  5.0  unnamed city   25  Female
2  robert  8000.0  6.0  unnamed city   27    Male
3   chris  9000.0  7.0       newyork   24  Female
4     NaN  3000.0  NaN      losvegas   35    Male
5    john  3000.0  4.0      losvegas   33  Female
6   evans     NaN  4.0      losvegas   31    Male
7     tom  3000.0  4.0           NaN   37  Female
8     doe  4000.0  5.0            dc   25  Female

In [15]:
df[["name", "exp"]]

     name  exp
0    john  4.0
1     doe  5.0
2  robert  6.0
3   chris  7.0
4     NaN  NaN
5    john  4.0
6   evans  4.0
7     tom  4.0
8     doe  5.0

In [16]:
df["name"]

0      john
1       doe
2    robert
3     chris
4       NaN
5      john
6     evans
7       tom
8       doe
Name: name, dtype: object

In [19]:
def percent(val):
    result = (val/10000)*100
    return result


df = pd.read_csv("employee.csv")

#df["percent"] = df["salary"].apply(percent)
df["percent"] = df["salary"].apply(percent)
df

     name  salary  exp      city  age  Gender  percent
0    john  3000.0  4.0  losvegas   30    Male     30.0
1     doe  4000.0  5.0        dc   25  Female     40.0
2  robert  8000.0  6.0     paris   27    Male     80.0
3   chris  9000.0  7.0   newyork   24  Female     90.0
4     NaN  3000.0  NaN  losvegas   35    Male     30.0
5    john  3000.0  4.0  losvegas   33  Female     30.0
6   evans     NaN  4.0  losvegas   31    Male      NaN
7     tom  3000.0  4.0       NaN   37  Female     30.0
8     doe  4000.0  5.0        dc   25  Female     40.0

In [20]:
df = pd.read_csv("employee.csv")

df[~(df["salary"]<5000)]  # negate operator

     name  salary  exp      city  age  Gender
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
6   evans     NaN  4.0  losvegas   31    Male

In [21]:
import pandas as pd

from mysql import connector
connection = connector.connect(user = "root", password = "12345", host = "localhost", db = "emp")
df = pd.read_sql('SELECT * FROM empcopy', connection)
df

C:\Users\pugal\AppData\Local\Temp\ipykernel_24092\3293706.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM empcopy', connection)

,job,dept,city,sal,address,incentive
0,front end,javascript developer,washingto dc,35000.0,"sanfrancisco, us",NaN
1,backend end,IT,bleeker street dc,40000.0,"los vegas, us",NaN
2,AI,IT,manhatton dc,50000.0,"los angeles, us",1600.0
3,ML developer,IT,san francisco,11000.0,str1 manhattan,NaN
4,data analyst,IT,los angeles,70000.0,str1 manhattan,NaN
...,...,...,...,...,...,...
58,driver,racing,malibu,85000.0,"WTC angeles tower, canada",470.0
59,tourist guide,guiding,malibu,85000.0,"pais angeles tower, canada",470.0
60,weather anlyst,analysis,banglore,63000.0,"whitfield, winter,banglore town",900.0
61,Inspector detective,crime resolver,police st,89000.0,"cop angeles quarters, station",470.0
62,User interface developer,None,banglore,45000.0,whitefield,1000.0

In [22]:
df = pd.read_csv("employee.csv")
#df.mean()  # only if the each col is numeric it will work

In [23]:
df[["exp", "salary"]].mean()

exp          4.875
salary    4625.000
dtype: float64

In [24]:
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female
8     doe  4000.0  5.0        dc   25  Female

In [402]:
df.groupby('city').sum()  # Group data by column 'A' and sum

                   name  salary   exp  age              Gender
city
 dc                 doe  4000.0   5.0   25              Female
 paris           robert  8000.0   6.0   27                Male
losvegas  johnjohnevans  9000.0  12.0  129  MaleMaleFemaleMale
newyork           chris  9000.0   7.0   24              Female

In [11]:
df.groupby('city').sum()  # Group data by column 'A' and sum

                   name  salary   exp  age              Gender
city
 dc              doedoe  8000.0  10.0   50        FemaleFemale
 paris           robert  8000.0   6.0   27                Male
losvegas  johnjohnevans  9000.0  12.0  129  MaleMaleFemaleMale
newyork           chris  9000.0   7.0   24              Female

In [25]:
#df.groupby('city').sum(["exp"])  # Group data by column 'A' and sum
df.groupby('city')['salary'].sum()

city
 dc         8000.0
 paris      8000.0
losvegas    9000.0
newyork     9000.0
Name: salary, dtype: float64

In [406]:
import pandas as pd
df1 = pd.DataFrame({'A': [1, 2, 3]})
df2 = pd.DataFrame({'B': [4, 5, 6]})
print(df1)
print(df2)
result = pd.concat([df1, df2], axis=1)  # adding columns parallely
result

   A
0  1
1  2
2  3
   B
0  4
1  5
2  6

   A  B
0  1  4
1  2  5
2  3  6

In [14]:
df1 = pd.DataFrame({'A': [1, 2, 3]})
df2 = pd.DataFrame({'B': [4, 5, 6]})
print(df1)
print(df2)
result = pd.concat([df1, df2], axis=0)  #  adding df vertically

result

   A
0  1
1  2
2  3
   B
0  4
1  5
2  6

     A    B
0  1.0  NaN
1  2.0  NaN
2  3.0  NaN
0  NaN  4.0
1  NaN  5.0
2  NaN  6.0

In [2]:
import pandas as pd
left = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
right = pd.DataFrame({'key': ['A', 'B', 'D'], 'value': [4, 5, 6]})
print(left)
print(right)
merged = pd.merge(left, right, on='key', how='inner')
merged

  key  value
0   A      1
1   B      2
2   C      3
  key  value
0   A      4
1   B      5
2   D      6

  key  value_x  value_y
0   A        1        4
1   B        2        5

In [3]:
left = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
right = pd.DataFrame({'key': ['A', 'B', 'D'], 'value': [4, 5, 6]})
print(left)
print(right)
merged = pd.merge(left, right, on='key', how='outer')
merged

  key  value
0   A      1
1   B      2
2   C      3
  key  value
0   A      4
1   B      5
2   D      6

  key  value_x  value_y
0   A      1.0      4.0
1   B      2.0      5.0
2   C      3.0      NaN
3   D      NaN      6.0

In [17]:
left = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
right = pd.DataFrame({'key': ['A', 'B', 'D'], 'value': [4, 5, 6]})
print(left)
print(right)
merged = pd.merge(left, right, on='key', how='left')
merged

  key  value
0   A      1
1   B      2
2   C      3
  key  value
0   A      4
1   B      5
2   D      6

  key  value_x  value_y
0   A        1      4.0
1   B        2      5.0
2   C        3      NaN

In [4]:
left = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
right = pd.DataFrame({'key': ['A', 'B', 'D'], 'value': [4, 5, 6]})
print(left)
print(right)
merged = pd.merge(left, right, on='key', how='right')
#merged = pd.merge(left, right, on='key') default inner
merged

  key  value
0   A      1
1   B      2
2   C      3
  key  value
0   A      4
1   B      5
2   D      6

  key  value_x  value_y
0   A      1.0        4
1   B      2.0        5
2   D      NaN        6

In [6]:
df = pd.read_csv('employee.csv')
df["Date"] = "2024/08/12"
df

     name  salary  exp      city  age  Gender        Date
0    john  3000.0  4.0  losvegas   30    Male  2024/08/12
1     doe  4000.0  5.0        dc   25  Female  2024/08/12
2  robert  8000.0  6.0     paris   27    Male  2024/08/12
3   chris  9000.0  7.0   newyork   24  Female  2024/08/12
4     NaN  3000.0  NaN  losvegas   35    Male  2024/08/12
5    john  3000.0  4.0  losvegas   33  Female  2024/08/12
6   evans     NaN  4.0  losvegas   31    Male  2024/08/12
7     tom  3000.0  4.0       NaN   37  Female  2024/08/12
8     doe  4000.0  5.0        dc   25  Female  2024/08/12

In [7]:
df['Date'] = pd.to_datetime(df['Date'])

df

     name  salary  exp      city  age  Gender       Date
0    john  3000.0  4.0  losvegas   30    Male 2024-08-12
1     doe  4000.0  5.0        dc   25  Female 2024-08-12
2  robert  8000.0  6.0     paris   27    Male 2024-08-12
3   chris  9000.0  7.0   newyork   24  Female 2024-08-12
4     NaN  3000.0  NaN  losvegas   35    Male 2024-08-12
5    john  3000.0  4.0  losvegas   33  Female 2024-08-12
6   evans     NaN  4.0  losvegas   31    Male 2024-08-12
7     tom  3000.0  4.0       NaN   37  Female 2024-08-12
8     doe  4000.0  5.0        dc   25  Female 2024-08-12

In [8]:
df["Date+1"] = df['Date'] + pd.Timedelta(days=5)  # Add 1 day to each date
df

     name  salary  exp      city  age  Gender       Date     Date+1
0    john  3000.0  4.0  losvegas   30    Male 2024-08-12 2024-08-17
1     doe  4000.0  5.0        dc   25  Female 2024-08-12 2024-08-17
2  robert  8000.0  6.0     paris   27    Male 2024-08-12 2024-08-17
3   chris  9000.0  7.0   newyork   24  Female 2024-08-12 2024-08-17
4     NaN  3000.0  NaN  losvegas   35    Male 2024-08-12 2024-08-17
5    john  3000.0  4.0  losvegas   33  Female 2024-08-12 2024-08-17
6   evans     NaN  4.0  losvegas   31    Male 2024-08-12 2024-08-17
7     tom  3000.0  4.0       NaN   37  Female 2024-08-12 2024-08-17
8     doe  4000.0  5.0        dc   25  Female 2024-08-12 2024-08-17

In [10]:
df = pd.read_csv("employee.csv")
df[["exp", "salary"]].corr() ## Compute pairwise correlation of columns

             exp    salary
exp     1.000000  0.964203
salary  0.964203  1.000000

In [11]:
df

     name  salary  exp      city  age  Gender
0    john  3000.0  4.0  losvegas   30    Male
1     doe  4000.0  5.0        dc   25  Female
2  robert  8000.0  6.0     paris   27    Male
3   chris  9000.0  7.0   newyork   24  Female
4     NaN  3000.0  NaN  losvegas   35    Male
5    john  3000.0  4.0  losvegas   33  Female
6   evans     NaN  4.0  losvegas   31    Male
7     tom  3000.0  4.0       NaN   37  Female
8     doe  4000.0  5.0        dc   25  Female

In [69]:
#df.pivot_table(values='value', index='category', columns='date', aggfunc='sum')
df.set_index('name', inplace=True)  # Set column A as the index
df

        salary  exp      city  age  Gender
name
john    3000.0  4.0  losvegas   30    Male
doe     4000.0  5.0        dc   25  Female
robert  8000.0  6.0     paris   27    Male
chris   9000.0  7.0   newyork   24  Female
NaN     3000.0  NaN  losvegas   35    Male
john    3000.0  4.0  losvegas   33  Female
evans      NaN  4.0  losvegas   31    Male
tom     3000.0  4.0       NaN   37  Female

In [12]:
import pandas as pd
df = pd.read_csv("employee.csv")
df = df.set_index(['name', 'city'])  # Set multiple columns as index
df

                 salary  exp  age  Gender
name   city
john   losvegas  3000.0  4.0   30    Male
doe     dc       4000.0  5.0   25  Female
robert  paris    8000.0  6.0   27    Male
chris  newyork   9000.0  7.0   24  Female
NaN    losvegas  3000.0  NaN   35    Male
john   losvegas  3000.0  4.0   33  Female
evans  losvegas     NaN  4.0   31    Male
tom    NaN       3000.0  4.0   37  Female
doe     dc       4000.0  5.0   25  Female

In [13]:
df.reset_index(inplace=True)  # Reset index to default integer index
df

     name      city  salary  exp  age  Gender
0    john  losvegas  3000.0  4.0   30    Male
1     doe        dc  4000.0  5.0   25  Female
2  robert     paris  8000.0  6.0   27    Male
3   chris   newyork  9000.0  7.0   24  Female
4     NaN  losvegas  3000.0  NaN   35    Male
5    john  losvegas  3000.0  4.0   33  Female
6   evans  losvegas     NaN  4.0   31    Male
7     tom       NaN  3000.0  4.0   37  Female
8     doe        dc  4000.0  5.0   25  Female

In [14]:
df.query('exp > 1 & salary < 5000')  # Similar to SQL-like queries

   name      city  salary  exp  age  Gender
0  john  losvegas  3000.0  4.0   30    Male
1   doe        dc  4000.0  5.0   25  Female
5  john  losvegas  3000.0  4.0   33  Female
7   tom       NaN  3000.0  4.0   37  Female
8   doe        dc  4000.0  5.0   25  Female

In [15]:

df = pd.read_csv("employee.csv")
df = df.dropna() # cannot do the following operations with nan values
df[df['name'].str.contains('jo')]  # Filter rows where column 'A' contains 'abc'

   name  salary  exp      city  age  Gender
0  john  3000.0  4.0  losvegas   30    Male
5  john  3000.0  4.0  losvegas   33  Female

In [25]:
df.groupby(['name', 'city']).sum()  # Group by columns A and B, and sum other columns

                 salary   exp  age        Gender
name   city
chris  newyork   9000.0   7.0   24        Female
doe     dc       8000.0  10.0   50  FemaleFemale
evans  losvegas     0.0   4.0   31          Male
john   losvegas  6000.0   8.0   63    MaleFemale
robert  paris    8000.0   6.0   27          Male

In [16]:
import pandas as pd

# Input DataFrame
data = {
    "city": [
        "Jacksonville", "Jacksonville", "Jacksonville", "Jacksonville", "Jacksonville",
        "ElPaso", "ElPaso", "ElPaso", "ElPaso", "ElPaso"
    ],
    "month": ["January", "February", "March", "April", "May", 
              "January", "February", "March", "April", "May"],
    "temperature": [13, 23, 38, 5, 34, 20, 6, 26, 2, 43]
}

df = pd.DataFrame(data)

#print(df)
# Pivot the data
pivoted_df = df.pivot(index="month", columns="city", values="temperature")

# Reset the index if needed and sort the rows by month
#pivoted_df = pivoted_df.reset_index().sort_values(by="month")

# Display the result
pivoted_df

city      ElPaso  Jacksonville
month
April          2             5
February       6            23
January       20            13
March         26            38
May           43            34

In [2]:
! pip install requests

Requirement already satisfied: requests in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (from requests) (2.0.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (from requests) (2024.12.14)

WARNING: Error parsing dependencies of textract: .* suffix can only be used with `==` or `!=` operators
    extract-msg (<=0.29.*)
                 ~~~~~~~^

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import requests

# GET request Basic Usage
response = requests.get("https://jsonplaceholder.typicode.com/posts/1")

print(response.status_code)   # HTTP status code (200 = OK)
print(response.text)          # Response as raw text
print(response.json())        # If response is JSON, convert to Python dict

200
{
  "userId": 1,
  "id": 1,
  "title": "sunt aut facere repellat provident occaecati excepturi optio reprehenderit",
  "body": "quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto"
}
{'userId': 1, 'id': 1, 'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}

In [4]:
# Sending Parameters

params = {"userId": 1}
response = requests.get("https://jsonplaceholder.typicode.com/posts", params=params)
print(response.json())

[{'userId': 1, 'id': 1, 'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}, {'userId': 1, 'id': 2, 'title': 'qui est esse', 'body': 'est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla'}, {'userId': 1, 'id': 3, 'title': 'ea molestias quasi exercitationem repellat qui ipsa sit aut', 'body': 'et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut'}, {'userId': 1, 'id': 4, 'title': 'eum et est occaecati', 'body': 'ullam et saepe reiciendis voluptatem adipisci\nsit amet autem assumenda provident rerum culpa\nquis hic commodi nesciunt rem tenetur doloremque ipsam iure\nquis sunt voluptatem rerum illo velit'}, {'userId': 1, 'id': 5, 'title': 'nesciunt quas odio', 'body': 'repudiandae veniam quaerat sunt sed\nalias aut fugiat sit autem sed est\nvoluptatem omnis possimus esse voluptatibus quis\nest aut tenetur dolor neque'}, {'userId': 1, 'id': 6, 'title': 'dolorem eum magni eos aperiam quia', 'body': 'ut aspernatur corporis harum nihil quis provident sequi\nmollitia nobis aliquid molestiae\nperspiciatis et ea nemo ab reprehenderit accusantium quas\nvoluptate dolores velit et doloremque molestiae'}, {'userId': 1, 'id': 7, 'title': 'magnam facilis autem', 'body': 'dolore placeat quibusdam ea quo vitae\nmagni quis enim qui quis quo nemo aut saepe\nquidem repellat excepturi ut quia\nsunt ut sequi eos ea sed quas'}, {'userId': 1, 'id': 8, 'title': 'dolorem dolore est ipsam', 'body': 'dignissimos aperiam dolorem qui eum\nfacilis quibusdam animi sint suscipit qui sint possimus cum\nquaerat magni maiores excepturi\nipsam ut commodi dolor voluptatum modi aut vitae'}, {'userId': 1, 'id': 9, 'title': 'nesciunt iure omnis dolorem tempora et accusantium', 'body': 'consectetur animi nesciunt iure dolore\nenim quia ad\nveniam autem ut quam aut nobis\net est aut quod aut provident voluptas autem voluptas'}, {'userId': 1, 'id': 10, 'title': 'optio molestias id quia eum', 'body': 'quo et expedita modi cum officia vel magni\ndoloribus qui repudiandae\nvero nisi sit\nquos veniam quod sed accusamus veritatis error'}]

In [5]:
#POST request
data = {"title": "Hello", "body": "World", "userId": 1}
response = requests.post("https://jsonplaceholder.typicode.com/posts", json=data)
print(response.json())

{'title': 'Hello', 'body': 'World', 'userId': 1, 'id': 101}

In [ ]:
# Adding Headers
headers = {"Authorization": "Bearer my_token"}
response = requests.get("https://api.example.com/data", headers=headers)

In [7]:
# Handling Errors

try:
    response = requests.get("https://api.example.com/404")
    response.raise_for_status()  # raises exception for 4xx/5xx
except requests.exceptions.RequestException as e:
    print("Error:", e)

Error: HTTPSConnectionPool(host='api.example.com', port=443): Max retries exceeded with url: /404 (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x000001FD6065D750>: Failed to resolve 'api.example.com' ([Errno 11001] getaddrinfo failed)"))

In [8]:
data = {"title": "New Post", "body": "Hello World", "userId": 1}
response = requests.post("https://jsonplaceholder.typicode.com/posts", json=data)
print(response.json())   # shows new post with ID

{'title': 'New Post', 'body': 'Hello World', 'userId': 1, 'id': 101}

In [9]:
data = {"id": 1, "title": "Updated Title", "body": "Updated Body", "userId": 1}
response = requests.put("https://jsonplaceholder.typicode.com/posts/1", json=data)
print(response.json())

{'id': 1, 'title': 'Updated Title', 'body': 'Updated Body', 'userId': 1}

In [10]:
response = requests.delete("https://jsonplaceholder.typicode.com/posts/1")
print(response.status_code)   # 200 = success, 204 = no content

200

In [11]:
response = requests.head("https://jsonplaceholder.typicode.com/posts/1")
print(response.headers)

{'Date': 'Mon, 29 Sep 2025 04:50:02 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Connection': 'keep-alive', 'access-control-allow-credentials': 'true', 'Cache-Control': 'max-age=43200', 'etag': 'W/"124-yiKdLzqO5gfBrJFrcdJ8Yq0LGnU"', 'expires': '-1', 'nel': '{"report_to":"heroku-nel","response_headers":["Via"],"max_age":3600,"success_fraction":0.01,"failure_fraction":0.1}', 'pragma': 'no-cache', 'report-to': '{"group":"heroku-nel","endpoints":[{"url":"https://nel.heroku.com/reports?s=JBcdxbjE8lwPa89Y8Ly%2BlNm%2B4ic2jmC3A0lzShGinHk%3D\\u0026sid=e11707d5-02a7-43ef-b45e-2cf4d2036f7d\\u0026ts=1758187400"}],"max_age":3600}', 'reporting-endpoints': 'heroku-nel="https://nel.heroku.com/reports?s=JBcdxbjE8lwPa89Y8Ly%2BlNm%2B4ic2jmC3A0lzShGinHk%3D&sid=e11707d5-02a7-43ef-b45e-2cf4d2036f7d&ts=1758187400"', 'Server': 'cloudflare', 'vary': 'Origin, Accept-Encoding', 'via': '2.0 heroku-router', 'x-content-type-options': 'nosniff', 'x-powered-by': 'Express', 'x-ratelimit-limit': '1000', 'x-ratelimit-remaining': '999', 'x-ratelimit-reset': '1758187454', 'Age': '12362', 'cf-cache-status': 'HIT', 'Content-Encoding': 'gzip', 'CF-RAY': '9868db7edc88f8d2-SIN', 'alt-svc': 'h3=":443"; ma=86400'}

## What is BeautifulSoup?
    
    A Python library for web scraping.
    
    It helps you parse HTML/XML and extract data (titles, links, tables, etc.).
    
    Usually used with requests to fetch web pages.

In [12]:
! pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (4.13.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4) (2.4.1)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\pugal\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4) (4.12.2)

WARNING: Error parsing dependencies of textract: .* suffix can only be used with `==` or `!=` operators
    extract-msg (<=0.29.*)
                 ~~~~~~~^

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
from bs4 import BeautifulSoup

html_doc = """
<html>
  <head><title>My Website</title></head>
  <body>
    <h1>Hello World</h1>
    <p class="content">This is a <b>sample</b> paragraph.</p>
    <a href="https://example.com">Visit Example</a>
  </body>
</html>
"""

# Parse the HTML
soup = BeautifulSoup(html_doc, "html.parser")

print(soup.title.text)   # My Website
print(soup.h1.text)      # Hello World
print(soup.p.text)       # This is a sample paragraph.
print(soup.a['href'])    # https://example.com

My Website
Hello World
This is a sample paragraph.
https://example.com

In [14]:
import requests
from bs4 import BeautifulSoup

url = "https://quotes.toscrape.com/"
response = requests.get(url)

soup = BeautifulSoup(response.text, "html.parser")

# Get all quotes on the page
quotes = soup.find_all("span", class_="text")
for q in quotes:
    print(q.text)

# Get all authors
authors = soup.find_all("small", class_="author")
for a in authors:
    print(a.text)

â€œThe world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.â€
â€œIt is our choices, Harry, that show what we truly are, far more than our abilities.â€
â€œThere are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.â€
â€œThe person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.â€
â€œImperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.â€
â€œTry not to become a man of success. Rather become a man of value.â€
â€œIt is better to be hated for what you are than to be loved for what you are not.â€
â€œI have not failed. I've just found 10,000 ways that won't work.â€
â€œA woman is like a tea bag; you never know how strong it is until it's in hot water.â€
â€œA day without sunshine is like, you know, night.â€
Albert Einstein
J.K. Rowling
Albert Einstein
Jane Austen
Marilyn Monroe
Albert Einstein
AndrÃ© Gide
Thomas A. Edison
Eleanor Roosevelt
Steve Martin

In [15]:
#Extract all links (<a> tags)

from bs4 import BeautifulSoup

html = """
<html><body>
  <a href="https://google.com">Google</a>
  <a href="https://github.com">GitHub</a>
  <a href="https://openai.com">OpenAI</a>
</body></html>
"""

soup = BeautifulSoup(html, "html.parser")

for link in soup.find_all("a"):
    print(link.text, "->", link["href"])

Google -> https://google.com
GitHub -> https://github.com
OpenAI -> https://openai.com

In [16]:
#Get items from a list

html = """
<ul>
  <li>Python</li>
  <li>JavaScript</li>
  <li>Django</li>
</ul>
"""

soup = BeautifulSoup(html, "html.parser")

items = [li.text for li in soup.find_all("li")]
print(items)

['Python', 'JavaScript', 'Django']

In [17]:
# Select by CSS selector

html = """
<div class="card">
  <h2 class="title">Machine Learning</h2>
  <p class="desc">AI is fun!</p>
</div>
<div class="card">
  <h2 class="title">Web Development</h2>
  <p class="desc">Django + React</p>
</div>
"""

soup = BeautifulSoup(html, "html.parser")

titles = soup.select(".card .title")
descs = soup.select(".card .desc")

for t, d in zip(titles, descs):
    print(t.text, "->", d.text)

Machine Learning -> AI is fun!
Web Development -> Django + React

In [18]:
#Extract table data

html = """
<table>
  <tr><th>Name</th><th>Age</th></tr>
  <tr><td>Alice</td><td>25</td></tr>
  <tr><td>Bob</td><td>30</td></tr>
</table>
"""

soup = BeautifulSoup(html, "html.parser")

rows = soup.find_all("tr")
for row in rows:
    cols = [col.text for col in row.find_all(["td", "th"])]
    print(cols)

['Name', 'Age']
['Alice', '25']
['Bob', '30']

In [19]:
# extracting all the images

html = """
<html>
  <img src="cat.jpg" alt="cat">
  <img src="dog.png" alt="dog">
</html>
"""

soup = BeautifulSoup(html, "html.parser")

for img in soup.find_all("img"):
    print(img["src"], "-", img["alt"])

cat.jpg - cat
dog.png - dog

In [24]:
import os
os.mkdir("Weather_forecast_with_API_Json")